{% extends "base_ace_latest.html" %}
{% block title %} - Self-enroll{% endblock %}

{% block content %}
    {% if is_valid -%}
      <h1>{{ page_title|safe }}</h1>
      <hr>
        {{ page_text|safe }}
      <form action="{{ url_for('self_enrollment2') }}" method="POST">
        <input type="hidden" name="self_enrollment_setup_id" value="{{ self_enrollment_setup.id }}">
        <input type="hidden" name="record_id" value="{{ census_record.id }}">
        <button type="submit" class="btn btn-lg btn-primary">
          <strong><i class="fa fa-arrow-right"></i></strong>
          Proceed to enrollment
        </button>
      </form>
      <hr>
      <div class="text-muted">
          {{ page_disclaimer|safe }}
      </div>
    {% else -%}
      <h1>Invalid self-enrollment link</h1>
      <hr>
      <p>
        We're very sorry for the inconvenience, but the link you have clicked does not currently allow self-enrollment.
        Please contact your agent if you have any questions.
      </p>
    {% endif -%}
{% endblock %}
