{% extends "base_ace_latest.html" %}
{% set active_page = 'nav_enroll' -%}
{% set Owner_noun = 'Sponsor' if config.IS_AFBA else 'Employee' -%}
{% set owner_noun = 'sponsor' if config.IS_AFBA else 'employee' -%}
{% set Owner_nouns = 'Sponsors' if config.IS_AFBA else 'Employees' -%}
{% set owner_nouns = 'sponsors' if config.IS_AFBA else 'employees' -%}
{% set is_show_help_text = config.IS_AFBA -%}
{% set premium_noun = 'contribution' if config.IS_AFBA else 'premium' -%}

{% block title %} - {{ Owner_noun }} Application {% endblock %}

{% block page_css %}
  <link href="{{ url_for('static', filename='css/five_star.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% if wizard_data.is_in_person %}
    {{ super() }}
  {% else %}
    <!-- replace with non-navigable header -->
    {% set header_title = 'Application Enrollment' %}
    {% set nonav_logo = logopath %}
    {% include "nonav-navbar.html" %}
  {% endif %}
{% endblock %}


{% block content %}
  <div class="page-content loading" data-bind="visible: is_loading_enrollment">Loading enrollment data...</div>
  <div class="page-content"
      {# Prevent flash of unstyled content #}
       style="display: none;" data-bind="visible: !is_loading_enrollment()">

    <div class="row">
      <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row-fluid">
          <div class="span12">
            <div class="widget-box">
              <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="lighter">{{ company_name }} Life Enrollment:&nbsp;&nbsp;<span
                    data-bind="text: enrollment_case.company_name"></span></h4>

                <div class="grey smaller-80 pull-right">
                  <p>enrollment in <span data-bind="text: enrollment_case.situs_city"></span>, <span
                      data-bind="text: enrollment_case.situs_state"></span>&nbsp;&nbsp;
                  </p>
                </div>
              </div>

              <div class="widget-body">
                <div class="widget-main">

                  <div id="enrollment-wizard">
                    {% if error -%}
                    <p class="alert alert-danger bigger-130">
                      Unable to enroll
                    </p>
                    <ul class="error bigger-130">
                      <li>{{ error_message }}</li>
                    </ul>
                    {% else -%}
                    <ul class="steps">
                      <li data-step="1" class="active">
                        <span class="step">1</span>
                        <span class="title">Benefit Selection</span>
                      </li>

                      <li data-step="2">
                        <span class="step">2</span>
                        <span class="title">Qualification</span>
                      </li>

                      <li data-step="3">
                        <span class="step">3</span>
                        <span class="title">{{ Owner_noun }} Info</span>
                      </li>

                      <li data-step="4">
                        <span class="step">4</span>
                        <span class="title">Spouse/Children Info</span>
                      </li>

                      <li data-step="5">
                        <span class="step">5</span>
                        <span class="title">Beneficiaries</span>
                      </li>

                      <li data-step="6">
                        <span class="step">6</span>
                        <span class="title">Confirmation</span>
                      </li>
                    </ul>

                    <hr/>

                    <div class="step-content">
                      {% include "enrollment/main-wizard-step-1.html" %}
                      {% include 'enrollment/main-wizard-step-2.html' %}
                      {% include 'enrollment/main-wizard-step-3.html' %}
                      {% include 'enrollment/main-wizard-step-4.html' %}
                      {% include 'enrollment/main-wizard-step-5.html' %}
                      {% include 'enrollment/main-wizard-step-6.html' %}
                    </div>
                    {% endif -%}

                  </div>

                  <div data-bind="if: has_step_one_validation_error">
                    <span class="pull-right error" data-bind="text: step_one_validation_error"></span>
                  </div>

                  <hr/>
                  <div class="wizard-actions">
                    <div class="btn-group pull-left">
                      <button class="btn btn-default btn-xs"
                              data-bind="click: exit_application, visible: is_in_person_application">
                        <i class="glyphicon glyphicon-remove"></i> Cancel
                      </button>
                      <button class="btn btn-warning btn-xs" style="margin-left: 1em;"
                              data-bind="click: pause_enrollment, visible: can_pause_enrollment">
                        <i class="glyphicon glyphicon-pause"></i> Save for later</button>
                    </div>
                    {% if error -%}
                    <br><br>
                    {% else -%}
                    <button class="btn btn-prev">
                      <i class="icon-arrow-left"></i>
                      Prev
                    </button>

                    <button data-bind="enable: can_submit_wizard"
                            class="btn btn-success btn-next" data-last="I agree to this coverage and am ready to sign ">
                      Next
                      <i class="icon-arrow-right icon-on-right"></i>
                    </button>
                    {% endif -%}
                  </div>
                  <!-- /Wizard actions -->
                </div>
                <!-- /widget-main -->
              </div>
              <!-- /widget-body -->
            </div>
            <!-- /widget-box -->
          </div>
        </div>

        <div id="modal-auto-increase-rider" class="modal"  data-bind="if: $root.coverage_vm.current_product()">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="lighter block blue center">What is an Automatic Increase Benefit?</h3>
              </div>

              <div class="modal-body" data-bind="with: $root.coverage_vm.current_product().shown_rider">
                To make your Family Protection Plan even more valuable, you have an additional benefit that makes your
                coverage more robust and responsive to your growing coverage needs. This optional add-on ("rider")
                incrementally increases your coverage by the amount of insurance that $1 in weekly premium purchases at
                your attained age over a <span data-bind="text: get_policy_years().length"></span> consecutive year
                period. It starts on your first policy anniversary, and a $1/week premium increase is automatically
                approved with no further health qualification. A demonstration of how this increasing benefit works is
                shown below.

                <div class="space-10"></div>

                <table class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th class="center">Policy Year</th>
                    <th class="center">Age</th>
                    <th class="center">Additional Coverage</th>
                    <th class="center">Total Coverage</th>
                  </tr>
                  </thead>
                  <tbody>
                  <!--ko foreach: {data: get_policy_years(), as: 'year'} -->
                  <tr>
                    <td class="center" data-bind="text: year"></td>
                    <td class="center" data-bind="text: $parent.get_age_for_policy_year(year)"></td>
                    <td class="center" data-bind="text: $parent.format_coverage_for_year(year)"></td>
                    <td class="center" data-bind="text: $parent.format_total_coverage_for_year(year)"></td>
                  </tr>
                  <!--/ko-->
                  </tbody>
                </table>

                Total <span data-bind="text: get_policy_years().length"></span> year increase of <span
                  data-bind="text: format_coverage_for_policy()"></span> coverage for $<span
                  data-bind="text: get_policy_years().length"></span>/week additional premium.

                <br>
                <br>
                See <a href="http://5starlifeinsurance.com/FPP_Auto_Increase_Rider" target="blank">this flyer</a> and
                your policy certificate for more details.
              </div>

              <div class="modal-footer">
                <button class="btn btn-info btn-sm center" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>

        <div id="modal-qol3-rider" class="modal" data-bind="if: $root.coverage_vm.current_product()">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="lighter block blue center">What is a Quality of Life Benefit?</h3>
              </div>

              <div class="modal-body" data-bind="with: $root.coverage_vm.current_product().shown_rider">
                <p>
                  This Qualify of Life Rider accelerates a portion of the insured’s death benefit on a monthly basis, 3%
                  each month, and payable directly to the {{ owner_noun }} on a tax favored basis. An {{ owner_noun }} can receive up
                  to 75% of the current face amount of the life benefit following a diagnosis of either a chronic
                  illness or cognitive impairment that requires substantial assistance. Benefits are paid for the
                  following:
                </p>
                <ul>
                  <li>Permanent inability to perform at least two of the six Activities of Daily Living (ADLs) without
                    substantial assistance, or
                  </li>
                  <li>A permanent severe cognitive impairment, such as dementia, Alzheimer’s disease and other forms of
                    senility requiring substantial supervision.
                  </li>
                </ul>
                <br>
                <p>See <a href="http://5starlifeinsurance.com/FPP_QOL_Rider" target="blank">this flyer</a> and your
                  policy certificate for more details.</p>
              </div>

              <div class="modal-footer">
                <button class="btn btn-info btn-sm center" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>

        <div id="modal-qol4-rider" class="modal" data-bind="if: $root.coverage_vm.current_product()">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="lighter block blue center">What is a Quality of Life Benefit?</h3>
              </div>

              <div class="modal-body" data-bind="with: $root.coverage_vm.current_product().shown_rider">
                <p>
                  This Qualify of Life Rider accelerates a portion of the insured’s death benefit on a monthly basis, 4%
                  each month, and payable directly to the {{ owner_noun }} on a tax favored basis. An {{ owner_noun }} can receive up
                  to 75% of the current face amount of the life benefit following a diagnosis of either a chronic
                  illness or cognitive impairment that requires substantial assistance. Benefits are paid for the
                  following:
                </p>
                <ul>
                  <li>Permanent inability to perform at least two of the six Activities of Daily Living (ADLs) without
                    substantial assistance, or
                  </li>
                  <li>A permanent severe cognitive impairment, such as dementia, Alzheimer’s disease and other forms of
                    senility requiring substantial supervision.
                  </li>
                </ul>
                <br>
                <p>See <a href="http://5starlifeinsurance.com/FPP_QOL_Rider" target="blank">this flyer</a> and your
                  policy certificate for more details.</p>
              </div>

              <div class="modal-footer">
                <button class="btn btn-info btn-sm center" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>

        <div id="modal-wop-rider" class="modal" data-bind="if: $root.coverage_vm.current_product()">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="lighter block blue center">What is a Waiver of Premium Benefit?</h3>
              </div>

              <div class="modal-body" data-bind="with: $root.coverage_vm.current_product().shown_rider">
                <p>
                  The Waiver of Premium rider allows customers who develop long term disabilities to temporarily
                  discontinue paying premiums for the duration of the disability and keep their coverage, following an
                  elimination period of 180 days of total disability. Total disability under this rider is defined as:
                </p>
                <ul>
                  <li>Inability to perform the substantial and material duties of your job, or</li>
                  <li>Total and permanent loss of sight of both eyes, hearing in both ears, speech or the use of both
                    hands, both feet or one hand and one foot, and
                  </li>
                  <li>After 24 months, the insured cannot be retrained to perform any other job.</li>
                </ul>
                <br>
                <p>See <a href="http://5starlifeinsurance.com/FPP_WOP_Rider" target="blank">this flyer</a> and your
                  policy certificate for more details.</p>
              </div>

              <div class="modal-footer">
                <button class="btn btn-info btn-sm center" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>

        <div id="actively_at_work_modal" class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="lighter block blue center">Actively at work</h3>
              </div>

              <div class="modal-body">
                "Actively at work" means that you are an eligible {{ owner_noun }}/member of the {{ owner_noun }}/affiliation through
                which you are applying for this individual insurance; you are able to work and to perform the normal
                activities of a person of like age and gender; and you are not confined in a hospital, at home or
                elsewhere due to injury or sickness on the date you signed this application.
              </div>

              <div class="modal-footer">
                <button class="btn btn-info btn-sm center" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>

        <div id="modal-disabled-definition" class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="lighter block blue center">Disabled</h3>
              </div>

              <div class="modal-body">
                "Disabled" means that a person is unable to work, to attend school, or to perform the normal activities
                of a person of like age and gender or that a person is confined in a hospital, at home or elsewhere due
                to injury or sickness.
              </div>

              <div class="modal-footer">
                <button class="btn btn-info btn-sm center" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>


        <!-- ------------------------------ Modal Disclaimer ------------------------------ -->

        <div id="modal-disclaimer" class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="lighter block blue center">Accelerated Benefit Disclosure Facts</h3>
              </div>

              <div class="modal-body">
                {% if wizard_data.any_fpp_product %}

                  {% set base_product_code = wizard_data.fpp_base_product_code %}
                  {% set fpp_state = wizard_data.case_data.situs_state %}

                  {% if base_product_code in ['FPPTI', 'FPP-Gov', 'FPPTIB', 'FPPTIW', 'FPPTIY'] %}
                    {% if fpp_state == 'TX' %}
                      {% set disclosure_url = url_for ('FPPTI_disclosure_TX') %}
                    {% elif fpp_state == 'KS' %}
                      {% set disclosure_url = url_for ('FPPTI_disclosure_KS') %}
                    {% elif fpp_state == 'VA' %}
                      {% set disclosure_url = url_for ('FPPTI_disclosure_VA') %}
                    {% elif fpp_state == 'OR' %}
                      {% set disclosure_url = url_for ('FPPTI_disclosure_OR') %}
                    {% else %}
                      {% set disclosure_url = url_for ('FPPTI_disclosure_generic') %}
                    {% endif %}
                  {% elif base_product_code == 'FPPCI' %}
                    {% if fpp_state == 'KS' %}
                      {% set disclosure_url = url_for ('FPPCI_disclosure_KS') %}
                    {% elif fpp_state == 'VA' %}
                      {% set disclosure_url = url_for ('FPPCI_disclosure_VA') %}
                    {% elif fpp_state == 'OR' %}
                      {% set disclosure_url = url_for ('FPPCI_disclosure_OR') %}
                    {% else %}
                      {% set disclosure_url = url_for ('FPPCI_disclosure_generic') %}
                    {% endif %}
                  {% endif %}

                  {% if disclosure_url %}
                    <iframe src="{{ disclosure_url }}" style="zoom:1.0" width="100%" height="500"
                            frameborder="0"></iframe>
                  {% endif %}
                {% endif %}



                {#                      {% elif base_product_code == 'Group CI' %}#}
                {#                         {% if wizard_data['state'] == 'KS' %}#}
                {#                             {{ url_for('serve_pdf', file_name='FPP-ABDisclosure Form R508-KS.pdf') }}#}
                {#                         {% elif wizard_data['state'] == 'OR' %}#}
                {#                             {{ url_for('serve_pdf', file_name='FPP-ABDisclosure Form R508-OR.pdf') }}#}
                {#                         {% elif wizard_data['state'] == 'VA' %}#}
                {#                             {{ url_for('serve_pdf', file_name='FPP-ABDisclosure Form R508-VA.pdf') }}#}
                {#                         {% else %}#}
                {#                             {{ url_for('serve_pdf', file_name='FPP-ABDisclosure Form R508 (Generic).pdf') }}#}
                {#                         {% endif %}#}
                {#                	    {% else %}#}
                {#                	       {{ url_for ('FPPTI_disclosure_generic') }}#}
                {#                	    {% endif %}"#}

              </div>

              <div class="modal-footer">
                <button class="btn btn-info btn-sm center" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>

        <div id="modal-signing-applicant-call-center" class="modal">
          <div class="modal-dialog" data-bind="with: $root">

            <div class="modal-content">
              <div class="modal-header">
                <h3 class="lighter block blue center">Applicant eSignature</h3>
              </div>

              <div class="modal-body">
                <p>
                  Please acknowledge the applicant has stated his/her full name (which matches
                  the application) and answered "Yes" to these questions:
                  <br>
                </p>
                <div class="form-group">
                  <label style="margin-right: 15px;">
                    <input class="ace " data-bind="checked: applicant_sig_check_1"
                           name="app_sig_check1" type="checkbox">
                    <span class="lbl padding-16" id="applicant_sig_check_1">
                      Do you understand your voice signature is as legally binding as your personal signature?
                    </span>
                  </label>
                </div>
                <div class="form-group">
                  <label style="margin-right: 15px;">
                    <input class="ace" data-bind="checked: applicant_sig_check_2"
                           name="app_sig_check2" type="checkbox">
                    <span class="lbl padding-16" id="applicant_sig_check_2">
                      Do you agree all answers and information provided in today's telephone interview are true and correct to the best of your ability?
                    </span>
                  </label>
                </div>
                <div class="form-group">
                  <label style="margin-right: 15px;">
                    <input class="ace " data-bind="checked: applicant_sig_check_3"
                           name="app_sig_check3" type="checkbox">
                    <span class="lbl padding-16" id="applicant_sig_check_3">
                      Do you agree to the terms and conditions of the policy (or policies) herein, to accept the coverage as discussed, and agree to the premiums quoted above?
                    </span>
                  </label>
                </div>
              </div>

              <div class="modal-footer">
                <button class="btn btn-default btn-sm center" data-dismiss="modal">Cancel Signing</button>
                <button class="btn btn-success btn-sm center btn-sign" data-bind="enable: can_applicant_sign, click: handle_applicant_signing">Sign</button>
              </div>
            </div>
          </div>
        </div>

        <div id="modal-signing-enroller-call-center" class="modal">
          <div class="modal-dialog" data-bind="with: $root">

            <div class="modal-content">
              <div class="modal-header">
                <h3 class="lighter block blue center">Agent/Enroller eSignature</h3>
              </div>

              <div class="modal-body">
                <p>
                  I certify that I reviewed all questions on this application, and that the answers
                  have been recorded accurately. I know of nothing affecting the insurability of the proposed
                  insured(s) which is not fully recorded on this application.
                  <br>
                </p>
                <div data-bind="if: should_show_other_insurance_questions">
                  <div class="form-group">
                    <label style="margin-right: 15px;">
                      To my knowledge, the Applicant has existing life insurance or annuity coverage.
                      <input class="ace " data-bind="checked: existing_insurance, checkedValue: true" disabled="disabled"
                             name="agent_signing_has_existing-cc" value="yes" type="radio">
                      <span class="lbl not-allowed" style="cursor: not-allowed">
                        Yes
                      </span>
                      <input class="ace " data-bind="checked: existing_insurance, checkedValue: false" disabled="disabled"
                             name="agent_signing_has_existing-cc" value="no" type="radio">
                      <span class="lbl not-allowed" style="cursor: not-allowed">
                        No
                      </span>
                    </label>
                  </div>
                  <div class="form-group">
                    <label style="margin-right: 15px;">
                      If yes, are they replacing existing coverage?
                    </label>
                    <label>
                      <input class="ace" data-bind="checked: replacing_insurance, checkedValue: true" disabled="disabled"
                             name="agent_signing_is_replacing-cc" value="yes" type="radio">
                      <span class="lbl not-allowed" style="cursor: not-allowed">
                        Yes
                      </span>
                    </label>
                    <label>
                      <input class="ace" data-bind="checked: replacing_insurance, checkedValue: false" disabled="disabled"
                             name="agent_signing_is_replacing-cc" value="no" type="radio">
                      <span class="lbl not-allowed" style="cursor: not-allowed">
                        No
                      </span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="modal-footer">
                <button class="btn btn-default btn-sm center" data-dismiss="modal">Cancel Signing</button>
                <button class="btn btn-success btn-sm center" data-bind="click: handle_agent_signing" id="submit_sig">Sign</button>
              </div>
            </div>
          </div>
        </div>

        <div id="modal-signing-applicant-in-person" class="modal">
          <div class="modal-dialog" data-bind="with: $root">

            <div class="modal-content">
              <div class="modal-header">
                <h3 class="lighter block blue center">Applicant eSignature</h3>
              </div>

              <div class="modal-body">
                <div class="form-group">
                  <div class="text-center">
                    <button class="btn btn-primary btn-sm center" data-bind="click: show_application_documents">Review Application Documents to Continue</button>
                    <br><br>
                  </div>
                  <div>
                    <div id="review-docs-warning" class="alert alert-warning" data-bind="visible: !applicant_sig_check_1()">
                      After clicking the Review Application Documents button, check the box below
                    </div>
                    <label style="margin-right: 15px;">
                      <input class="ace" data-bind="checked: applicant_sig_check_1, enable: applicant_has_viewed_preview"
                             name="app_sig_check1" type="checkbox">
                    <span class="lbl padding-16" id="applicant_sig_check_1">
                      I acknowledge I have reviewed the documents related to this enrollment
                    </span>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label style="margin-right: 15px;">
                    <span class="lbl padding-16">
                      By typing my name, I represent that all statements and answers in this application are true and correct to the best of my ability, and I agree to the terms and conditions, coverage and premium of the policy (or policies) herein:
                        <br>
                        <br>
                        <table>
                          <tr>
                            <td>
                              Last name:
                            </td>
                            <td>
                              <input type="text" class="input-small" placeholder="Last Name" name="step_6_last_name" data-bind="textInput: step_6_last_name">
                              <span class="error" data-bind="visible: !applicant_sig_check_2()">Last name must match enrollee's</span>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Last 4 of SSN:
                            </td>
                            <td>
                              <input type="text" class="input-mini input-mask-last-4-ssn" placeholder="####" name="step_6_ssn" data-bind="textInput: step_6_ssn">
                              <span class="error" data-bind="visible: !applicant_sig_check_3()">SSN last-4 must match enrollee's</span>
                            </td>
                          </tr>
                        </table>
                    </span>
                  </label>
                </div>
                <div class="text-right smaller"><a href="{{ esign_disclosure_uri }}" target="_blank">Electronic signature disclosure available here</a></div>
              </div>

              <div class="modal-footer">
                <button class="btn btn-default btn-sm center" data-dismiss="modal">Cancel Signing</button>
                <button class="btn btn-success btn-sm center btn-sign" data-bind="enable: can_applicant_sign, click: handle_applicant_signing">Sign</button>
              </div>
            </div>
          </div>
        </div>

        <div id="modal-signing-enroller-in-person" class="modal">
          <div class="modal-dialog" data-bind="with: $root">

            <div class="modal-content">
              <div class="modal-header">
                <h3 class="lighter block blue center">Agent/Enroller eSignature</h3>
              </div>

              <div class="modal-body">
                <p>
                  I certify that I reviewed all questions on this application, and that the answers
                  have been recorded accurately. I know of nothing affecting the insurability of the proposed
                  insured(s) which is not fully recorded on this application.
                  <br>
                </p>
                <div data-bind="if: should_show_other_insurance_questions">
                  <div class="form-group">
                    <label style="margin-right: 15px;">
                      To my knowledge, the Applicant has existing life insurance or annuity coverage.
                      <input class="ace " data-bind="checked: existing_insurance, checkedValue: true" disabled="disabled"
                             name="agent_signing_has_existing" value="yes" type="radio">
                      <span class="lbl not-allowed" style="cursor: not-allowed">
                        Yes
                      </span>
                      <input class="ace " data-bind="checked: existing_insurance, checkedValue: false" disabled="disabled"
                             name="agent_signing_has_existing" value="no" type="radio">
                      <span class="lbl not-allowed" style="cursor: not-allowed">
                        No
                      </span>
                    </label>
                  </div>
                  <div class="form-group">
                    <label style="margin-right: 15px;">
                      If yes, are they replacing existing coverage?
                    </label>
                    <label>
                      <input class="ace" data-bind="checked: replacing_insurance, checkedValue: true" disabled="disabled"
                             name="agent_signing_is_replacing" value="yes" type="radio">
                      <span class="lbl not-allowed" style="cursor: not-allowed">
                        Yes
                      </span>
                    </label>
                    <label>
                      <input class="ace" data-bind="checked: replacing_insurance, checkedValue: false" disabled="disabled"
                             name="agent_signing_is_replacing" value="no" type="radio">
                      <span class="lbl not-allowed" style="cursor: not-allowed">
                        No
                      </span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="modal-footer">
                <button class="btn btn-default btn-sm center" data-dismiss="modal">Cancel Signing</button>
                <button class="btn btn-success btn-sm center" data-bind="click: handle_agent_signing" id="submit_sig">Sign</button>
              </div>
            </div>
          </div>
        </div>


        <!-- PAGE CONTENT ENDS -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.page-content -->


  <div id="health_modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">

                  <span id="modal_text_existing_warning_title" style="display: none;">
                    Existing Insurance Notice</span>
                  <span id="modal_text_replacement_title" style="display: none;">
                    Replacing Insurance Notice</span>
                  <span id="modal_text_replacement_title" style="display: none;">
                    Statement of Health Response</span>

          </h4>
        </div>
        <div class="modal-body">
          <p>
            <span id="modal_text_existing_warning" style="display: none;" class="bigger-120">If yes, and you live in AK, AL, AZ, CO, HI, IA, KY, LA, MD, ME, MS, MT, NH, NJ, NM, NC, OH, OR, RI, TX, UT, VA, VT or WV please complete and sign the Notice: Replacement of Life Insurance and Annuity. The Notice must be <span
                class="text-danger bigger-130">presented</span> and <span
                class="text-danger bigger-130">read</span> to you by your agent at the time he/she takes your application. </span>

            <span id="modal_text_existing_warning_remote" style="display: none;" class="bigger-120">STOP:  since you are enrolling remotely via email but your response requires the <span
                class="oblique">Notice: Replacement of Life Insurance and Annuity</span> to be presented and read to you by your agent, you will not be permitted to continue with this online application. </span>

            <span id="modal_text_replacement_warning" style="display: none;" class="bigger-120">If yes, and you do not live in AK, AL, AZ, CO, HI, IA, KY, LA, MD, ME, MS, MT, NH, NJ, NM, NC, OH, OR, RI, TX, UT, VA, VT or WV, you must complete and sign the applicable state-specific Notice: Replacement of Life Insurance and Annuity, obtainable from your agent or enrollment professional.<br> <span
                class="text-danger bigger-130">You cannot proceed with this online enrollment, and must enroll via paper forms with your agent or enrollment professional.</span></span>

            <span id="modal_text_soh_warning" style="display: none;" class="bigger-120">A "yes" response to this question disqualifies this person from obtaining coverage.  You may proceed with this application after removing this individual from the coverage selection before proceeding.</span>

          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>



  <div id="smoking-status-dialog" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Smoker Status</h4>
        </div>
        <div class="modal-body">
          <div data-bind="ifnot: $root.smoker_status_changed_dialog_loading">
            <ul class="list-unstyled" data-bind="foreach: $root.smoker_status_changed_messages">
              <li>
                <span data-bind="text: $data"></span>
                <span data-bind="
                  visible: $root.smoker_status_changed_messages().length === 1">
                  If you need to see alternative amounts please return to step 1.</span>
              </li>
            </ul>
            <p data-bind="
              visible: $root.smoker_status_changed_messages().length > 1">
              If you need to see alternative amounts please return to step 1.
            </p>
          </div>
          <div data-bind="if: $root.smoker_status_changed_dialog_loading">
            <p>Tobacco status change - updating premium rate; please wait...</p>
            <div class="text-center">
              <i class="ace-icon fa fa-spinner fa-spin fa-3x"></i>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bind="
            click: $root.on_smoker_status_changed_dialog,
            disable: $root.smoker_status_changed_dialog_loading">Ok
          </button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <div id="warning_modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">
            <span data-bind="text: warning_modal_title"></span>
          </h4>
        </div>
        <div class="modal-body">
          <p>
            <span class="bigger-120" data-bind="text: warning_modal_body"></span>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>


{% endblock %}

{% block page_js %}
  <script type="text/javascript">
    jQuery(function ($) {
        init_settings_fields();
      window.vm = new wizard_viewmodel.WizardVM({{ wizard_data | tojson | safe }});
      ko.applyBindings(window.vm);
    });
  </script>
{% endblock %}
