{% extends "base_ace_latest.html" %}
{% set active_page = 'nav_enroll' -%}

{% block title %} - Employee Application {% endblock %}

{% block page_css %}
  <link href="{{ url_for('static', filename='css/five_star.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% if wizard_data.is_in_person %}
    {{ super() }}
  {% else %}
    <!-- replace with non-navigable header -->
    {% set header_title = 'Application Enrollment' %}
    {% set nonav_logo = logopath %}
    {% include "nonav-navbar.html" %}
  {% endif %}
{% endblock %}


{% block content %}

  <div class="page-content"
          {# Prevent flash of unstyled content #}
       style="display: none;" data-bind="visible: true">

    <div class="row">
      <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row-fluid">
          <div class="span12">
            <div class="widget-box">
              <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="lighter">5Star Life Enrollment:&nbsp;&nbsp;<span
                        data-bind="text: enrollment_case.company_name"></span></h4>

                <div class="grey smaller-80 pull-right">
                  <p>enrollment in <span data-bind="text: enrollment_case.situs_city"></span>, <span
                          data-bind="text: enrollment_case.situs_state"></span>&nbsp;&nbsp;
                  </p>
                </div>
              </div>

              <div class="widget-body">
                <div class="widget-main">

                  <div id="enrollment-wizard">
                    <ul class="steps">
                      <li data-step="1" class="active">
                        <span class="step">1</span>
                        <span class="title">Benefit Selection</span>
                      </li>

                      <li data-step="2">
                        <span class="step">2</span>
                        <span class="title">Qualification</span>
                      </li>

                      <li data-step="3">
                        <span class="step">3</span>
                        <span class="title">Employee Info</span>
                      </li>

                      <li data-step="4">
                        <span class="step">4</span>
                        <span class="title">Spouse/Children Info</span>
                      </li>

                      <li data-step="5">
                        <span class="step">5</span>
                        <span class="title">Beneficiaries</span>
                      </li>

                      <li data-step="6">
                        <span class="step">6</span>
                        <span class="title">Confirmation</span>
                      </li>
                    </ul>

                    <hr/>

                    <div class="step-content">
                    {% include "enrollment/main-wizard-step-1.html" %}
                    {% include 'enrollment/main-wizard-step-2.html' %}
                    {% include 'enrollment/main-wizard-step-3.html' %}
                    {% include 'enrollment/main-wizard-step-4.html' %}
                    {% include 'enrollment/main-wizard-step-5.html' %}
                    {% include 'enrollment/main-wizard-step-6.html' %}
                    </div>

                  </div>

                  <hr/>
                  <div class="wizard-actions">
                    <button class="btn btn-default btn-xs pull-left"
                            data-bind="click: exit_application, visible: is_in_person_application">
                      Cancel
                    </button>

                    <button class="btn btn-prev">
                      <i class="icon-arrow-left"></i>
                      Prev
                    </button>

                    <button class="btn btn-success btn-next" data-last="I agree to this coverage and am ready to sign ">
                      Next
                      <i class="icon-arrow-right icon-on-right"></i>
                    </button>
                  </div>
                  <!-- /Wizard actions -->
                </div>
                <!-- /widget-main -->
              </div>
              <!-- /widget-body -->
            </div>
            <!-- /widget-box -->
          </div>
        </div>

        <div id="modal-auto-increase-rider" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="lighter block blue center">What is an Automatic Increase Benefit?</h3>
                    </div>

                    <div class="modal-body">
                        <!--ko with: $root.coverage_vm.current_product().shown_rider -->
                          To make your Family Protection Plan even more valuable, you have an additional benefit that makes your coverage more robust and responsive to your growing coverage needs.  This optional add-on ("rider") incrementally increases your coverage by the amount of insurance that $1 in weekly premium purchases at your attained age over a <span data-bind="text: get_policy_years().length"></span> consecutive year period.  It starts on your first policy anniversary, and a $1/week premium increase is automatically approved with no further health qualification.  A demonstration of how this increasing benefit works is shown below.

                          <div class="space-10"></div>

                          <table class="table table-bordered table-striped">
                              <thead>
                                  <tr>
                                      <th class="center">Policy Year</th>
                                      <th class="center">Age</th>
                                      <th class="center">Additional Coverage</th>
                                      <th class="center">Total Coverage</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <!--ko foreach: {data: get_policy_years(), as: 'year'} -->
                                  <tr>
                                      <td class="center" data-bind="text: year"></td>
                                      <td class="center" data-bind="text: $parent.get_age_for_policy_year(year)"></td>
                                      <td class="center" data-bind="text: $parent.format_coverage_for_year(year)"></td>
                                      <td class="center" data-bind="text: $parent.format_total_coverage_for_year(year)"></td>
                                  </tr>
                                  <!--/ko-->
                              </tbody>
                          </table>

                          Total <span data-bind="text: get_policy_years().length"></span> year increase of <span data-bind="text: format_coverage_for_policy()"></span> coverage for $<span data-bind="text: get_policy_years().length"></span>/week additional premium.
                        <!--/ko-->
                        <br>
                        <br>
                        See <a href="http://5starlifeinsurance.com/FPP_Auto_Increase_Rider" target="blank">this flyer</a> and your policy certificate for more details.
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-info btn-sm center" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="actively_at_work_modal" class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="lighter block blue center">Actively at work</h3>
              </div>

              <div class="modal-body">
                "Actively at work" means that you are an eligible employee/member of the employee/affiliation through
                which you are applying for this individual insurance; you are able to work and to perform the normal
                activities of a person of like age and gender; and you are not confined in a hospital, at home or
                elsewhere due to injury or sickness on the date you signed this application.
              </div>

              <div class="modal-footer">
                <button class="btn btn-info btn-sm center" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>

        <div id="modal-disabled-definition" class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="lighter block blue center">Disabled</h3>
              </div>

              <div class="modal-body">
                "Disabled" means that a person is unable to work, to attend school, or to perform the normal activities
                of a person of like age and gender or that a person is confined in a hospital, at home or elsewhere due
                to injury or sickness.
              </div>

              <div class="modal-footer">
                <button class="btn btn-info btn-sm center" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>


        <!-- ------------------------------ Modal Disclaimer ------------------------------ -->

        <div id="modal-disclaimer" class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="lighter block blue center">Accelerated Benefit Disclosure Facts</h3>
              </div>

              <div class="modal-body">
                {#                {% set base_product_code = wizard_data['products'][0].get_base_product_code() %}#}
                {#                    <iframe src="{%#}
                {#        if base_product_code=='FPPTI' or base_product_code == 'FPP-Gov' %}#}
                {#	       {% if wizard_data['state']=='TX' %}#}
                {#	         {{ url_for ('FPPTI_disclosure_TX') }}#}
                {#	       {% elif wizard_data['state']=='KS' %}#}
                {#	         {{ url_for ('FPPTI_disclosure_KS') }}#}
                {#	       {% elif wizard_data['state']=='VA' %}#}
                {#	         {{ url_for ('FPPTI_disclosure_VA') }}	    #}
                {#	       {% elif wizard_data['state']=='OR' %}#}
                {#	         {{ url_for ('FPPTI_disclosure_OR') }}#}
                {#	       {% else %}#}
                {#	         {{ url_for ('FPPTI_disclosure_generic') }}#}
                {#	       {% endif %}#}
                {#	    {% elif base_product_code=='FPPCI' %}#}
                {#	       {% if wizard_data['state']=='KS' %}#}
                {#	         {{ url_for ('FPPCI_disclosure_KS') }}#}
                {#	       {% elif wizard_data['state']=='VA' %}#}
                {#	         {{ url_for ('FPPCI_disclosure_VA') }}	    #}
                {#	       {% elif wizard_data['state']=='OR' %}#}
                {#	         {{ url_for ('FPPCI_disclosure_OR') }}#}
                {#	       {% else %}#}
                {#	         {{ url_for ('FPPCI_disclosure_generic') }}#}
                {#	       {% endif %}#}
                {#        {% elif base_product_code == 'Group CI' %}#}
                {#           {% if wizard_data['state'] == 'KS' %}#}
                {#               {{ url_for('serve_pdf', file_name='FPP-ABDisclosure Form R508-KS.pdf') }}#}
                {#           {% elif wizard_data['state'] == 'OR' %}#}
                {#               {{ url_for('serve_pdf', file_name='FPP-ABDisclosure Form R508-OR.pdf') }}#}
                {#           {% elif wizard_data['state'] == 'VA' %}#}
                {#               {{ url_for('serve_pdf', file_name='FPP-ABDisclosure Form R508-VA.pdf') }}#}
                {#           {% else %}#}
                {#               {{ url_for('serve_pdf', file_name='FPP-ABDisclosure Form R508 (Generic).pdf') }}#}
                {#           {% endif %}#}
                {#	    {% else %}#}
                {#	       {{ url_for ('FPPTI_disclosure_generic') }}#}
                {#	    {% endif %}"#}
                {#                            style="zoom:1.0" width="100%" height="500" frameborder="0"></iframe>#}
              </div>

              <div class="modal-footer">
                <button class="btn btn-info btn-sm center" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.page-content -->


  <div id="health_modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">
	  
                  <span id="modal_text_existing_warning_title" style="display: none;">
                    Existing Insurance Notice</span>
                  <span id="modal_text_replacement_title" style="display: none;">
                    Replacing Insurance Notice</span>
                  <span id="modal_text_replacement_title" style="display: none;">
                    Statement of Health Response</span>

          </h4>
        </div>
        <div class="modal-body">
          <p>
            <span id="modal_text_existing_warning" style="display: none;" class="bigger-120">If yes, and you live in AK, AL, AZ, CO, HI, IA, KY, LA, MD, ME, MS, MT, NH, NJ, NM, NC, OH, OR, RI, TX, UT, VA, VT or WV please complete and sign the Notice: Replacement of Life Insurance and Annuity. The Notice must be <span
                    class="text-danger bigger-130">presented</span> and <span
                    class="text-danger bigger-130">read</span> to you by your agent at the time he/she takes your application. </span>

            <span id="modal_text_existing_warning_remote" style="display: none;" class="bigger-120">STOP:  since you are enrolling remotely via email but your response requires the <span
                    class="oblique">Notice: Replacement of Life Insurance and Annuity</span> to be presented and read to you by your agent, you will not be permitted to continue with this online application. </span>

            <span id="modal_text_replacement_warning" style="display: none;" class="bigger-120">If yes, and you do not live in AK, AL, AZ, CO, HI, IA, KY, LA, MD, ME, MS, MT, NH, NJ, NM, NC, OH, OR, RI, TX, UT, VA, VT or WV, you must complete and sign the applicable state-specific Notice: Replacement of Life Insurance and Annuity, obtainable from your agent or enrollment professional.<br> <span
                    class="text-danger bigger-130">You cannot proceed with this online enrollment, and must enroll via paper forms with your agent or enrollment professional.</span></span>

            <span id="modal_text_soh_warning" style="display: none;" class="bigger-120">A "yes" response to this question disqualifies this person from obtaining coverage.  You may proceed with this application after removing that individual from the coverage selection (in Step 1) before proceeding.</span>

          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <div id="warning_modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">
            <span data-bind="text: warning_modal_title"></span>
          </h4>
        </div>
        <div class="modal-body">
          <p>
            <span class="bigger-120" data-bind="text: warning_modal_body"></span>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>


{% endblock %}

{% block page_js %}
  <script type="text/javascript">
    jQuery(function ($) {

      var test_wizard_data = {{ wizard_data | tojson | safe }};
      window.vm = new wizard_viewmodel.WizardVM(test_wizard_data);
      ko.applyBindings(window.vm);
      //var actual_wizard_data = {{ wizard_data|tojson|safe }};
{#      enrollment_wizard.init(test_wizard_data);#}
{#      init_case_riders({{ case_riders | tojson | safe}});#}
{#      init_enrollment_riders({{ enrollment_riders | tojson | safe}});#}
    });
  </script>
{% endblock %}


