<form class="" id="step1-form">

  <div class="step-pane active" id="step1">

    <h4 class="lighter block green">Initial information required to select a benefit plan</h4>

    {# Employee Section #}
    <div>
      <div class="row">
        <label class="col-xs-12 col-sm-2 text-right no-padding-right" for="eeBenefitFName">
          Employee
        </label>

        <div class="form-group col-xs-12 col-sm-10">
          <input type="text" style="width: 45%" id="eeBenefitFName" name="eeBenefitFName"
                 data-bind="value: employee().first" placeholder="First Name">
          <input type="text" style="width: 45%" id="eeBenefitLName" name="eeBenefitLName"
                 data-bind="value: employee().last" placeholder="Last Name">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-11 col-xs-offset-1 col-sm-4 col-sm-offset-2">
          <label style="margin-right: 1em;" for="eeDOB">
            Date of Birth
          </label>

          <input class="input-mask-date" name="eeBenefitDOB"
                 data-bind="value: employee().birthdate" type="text" id="eeDOB"
                 placeholder="DD/MM/YYYY">
        </div>

        <div class="col-xs-12 visible-xs">&nbsp;</div>

        <div class="form-group col-xs-12 col-sm-4">
          <div class="">
            <label style="margin-right: 3em;">
              <input type="checkbox" class="ace" data-bind="checked: should_show_spouse">
              <span class="lbl padding-8 is_married">Married</span>
            </label>

            <label>
              <input type="checkbox" class="ace" data-bind="checked: should_include_children">
              <span class="lbl padding-8 include_children">Include Children</span>
            </label>
          </div>
        </div>
      </div>

      <div data-bind="template: {name: 'extended-questions-template', data: employee}"></div>
    </div>


    {# Spouse Section #}
    <div data-bind="slideDownIf: should_show_spouse">
      <div class="row">
        <label class="col-xs-12 col-sm-2 no-padding-right text-right" for="spFName">
          Spouse
        </label>

        <div class="form-group col-xs-12 col-sm-10">
          <input type="text" style="width: 45%" id="spFName" name="spFName"
                 data-bind="value: spouse().first" placeholder="First Name">
          <input type="text" style="width: 45%" id="spLName" name="spLName"
                 data-bind="value: spouse().last" placeholder="Last Name">
        </div>
      </div>

      <div class="row">

        <div class="form-group col-xs-11 col-xs-offset-1 col-sm-4 col-sm-offset-2">
          <label style="margin-right: 1em;" for="spDOB">
            Date of Birth
          </label>

          <input class="input-mask-date" name="spDOB"
                 data-bind="value: spouse().birthdate" type="text" id="spDOB"
                 placeholder="DD/MM/YYYY">
        </div>

      </div>

      <div data-bind="template: {name: 'extended-questions-template', data: spouse}"></div>
    </div>


    {# template for extended questions  #}
    <script type="text/html" id="extended-questions-template">
      <!--ko if: $root.should_show_extended_questions() -->
      <div class="row">
        <!--ko if: $root.should_show_gender() -->
        <div class="form-group col-xs-11 col-xs-offset-1 col-sm-4 col-sm-offset-2">
          <div class="">
            <label style="margin-right: 1em;">
              <input type="radio" value="male" class="ace"
                     data-bind="checked: gender, attr: {name: 'gender-'+$data._id}">
              <span class="lbl"> Male</span>
            </label>
            <label>
              <input type="radio" value="female" class="ace"
                     data-bind="checked: gender, attr: {name: 'gender-'+$data._id}">
              <span class="lbl"> Female</span>
            </label>
          </div>
        </div>
        <!--/ko-->
        <!--ko if: $root.should_show_smoker() -->
        <div class="form-group col-xs-12 col-sm-5">
          <label style="margin-right: 1em;">
            <input type="radio" class="ace"
                   data-bind="checked: is_smoker, checkedValue: false, attr: {name: 'tobacco-'+$data._id}">
            <span class="lbl"> Non-Smoker</span>
          </label>
          <label>
            <input type="radio" class="ace"
                   data-bind="checked: is_smoker, checkedValue: true, attr: {name: 'tobacco-'+$data._id}">
            <span class="lbl"> Smoker</span>
          </label>
        </div>
        <!--/ko-->
      </div>
      <div class="row">
        <!--ko if: $root.should_show_height() -->
        <div class="form-group col-xs-11 col-xs-offset-1 col-sm-4 col-sm-offset-2">
          <height-select class="height" params="value: height, name_suffix: $data._id+''"></height-select>
        </div>
        <!--/ko-->
        <!--ko if: $root.should_show_weight() -->
        <div class="form-group col-sm-4">
          <label class="">
            Weight: <input type="number" class="text-right"
                           data-bind="value: weight, attr: {name: 'weight_'+$data._id}" style="width: 5em"> Lbs.
          </label>
        </div>
        <!--/ko-->
      </div>
      <!--/ko-->
    </script>

    {# Children Data #}
    <div data-bind="slideDownIf: should_include_children">
      <!--ko foreach: {data: children, afterAdd: rendered_child, beforeRemove: removing_child} -->
      <div data-bind="attr: {'class':'child-'+$index()}">
        <div class="row">
          <label class="text-right control-label col-xs-12 col-sm-2 no-padding-right"
                 data-bind="attr: {for: 'child-first-'+$index()}">
            Child <span data-bind="text: $index() + 1"></span>
          </label>

          <div class="form-group col-xs-12 col-sm-10">
            <input type="text" style="width: 45%" class="child_first"
                   data-bind="value: first, attr: {id: 'child-first-'+$index()}"
                   placeholder="First Name"/>

            <input type="text" style="width: 45%" class="child_last" data-bind="value: last"
                   placeholder="Last Name"/>

            <div class="pull-right">
              <button type="button" class="btn btn-xs btn-danger" data-bind="click: $root.remove_child">
                <i class="icon icon-minus"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-11 col-xs-offset-1 col-sm-4 col-sm-offset-2">
            <label style="margin-right: 1em;" data-bind="attr: {for: 'child-dob-'+$index()}">
              Date of Birth
            </label>

            <input class="input-mask-date child_birthdate" data-bind="
                          value: birthdate,
                          event: {change: $root.update_rate_table},
                          attr: {id: 'child-dob-'+$index()}
                          " type="text" placeholder="DD/MM/YYYY">
          </div>

        </div>
      </div>
      <!--/ko-->

      <div class="row" id="addChildBtn">
        <div class="col-xs-12 col-sm-offset-1 col-sm-2">
          <button class="btn btn-default btn-sm" type="button" data-bind="click: add_child">
            Add Child
          </button>
        </div>
      </div>

    </div>

    {# Payment Mode Selection #}
    <div style="margin-top: 1.5em;" data-bind="visible: can_change_payment_mode">
      <div class="row">
        <label class="col-xs-12 col-sm-2 text-right no-padding-right" for="paymentMode">
          Payment Mode
        </label>

        <div class="form-group col-xs-12 col-sm-10">
          <select name="paymentMode" id="paymentMode"
                  data-bind="value: payment_mode, options: payment_modes, optionsValue: 'frequency', optionsText: 'label', optionsCaption: '(Select Payment Mode)'"></select>
        </div>
      </div>
    </div>

    {# Show Rates Button #}
    <div class="row" data-bind="visible: !is_coverage_selection_visible()">
      <div class="align-center">
        <button type="button" class="btn btn-primary btn-lg show-rates"
                data-bind="click: show_coverage_selection_table">
          Show Rates
        </button>
      </div>
    </div>

    {#  Rates/Recommended Coverage and Selected Plan Table #}
    <div class="center recommended-coverage-table" data-bind="slideDownIf: is_coverage_selection_visible,
          css: {'ci-recommendations': should_show_critical_illness_styling}">


      <div class="center">
        <div data-bind="visible: is_rate_table_loading">
          <i class="icon-spinner icon-spin grey bigger-125"></i>
          Loading Coverage Selection ...
          <br>
        </div>
      </div>

      <h3 class="header smaller red">Recommended Coverage

      </h3>

      <div class="row" data-bind="visible: !is_rate_table_loading()">

        <div class="col-xs-4 col-sm-3 pricing-span-header">
          <div class="widget-box transparent">
            <div class="widget-header">
              <h5 class="bigger lighter"></h5>
            </div>

            {# Names of Individuals to Be Covered #}
            <div class="widget-body">
              <div class="widget-main no-padding">
                <ul class="list-unstyled list-striped js">
                  <li data-bind="text: employee().name()"></li>
                  <!--ko if: should_include_spouse_in_table-->
                  <li data-bind="text: show_spouse_name()"></li>
                  <!--/ko-->
                  <!--ko if: should_include_children_in_table-->
                  <li data-bind="text: show_children_names()"></li>
                  <!--/ko-->
                </ul>
              </div>
            </div>
          </div>
        </div>

        {# Good #}
        <div class="col-xs-8 col-sm-9 pricing-span-body">

          <div class="pricing-span good">
            <div class="widget-box pricing-box-small">
              <div class="widget-header center header-color-red3 no-padding">
                <h5 class="bigger lighter">Good</h5>
              </div>

              <div class="widget-body">
                <div class="widget-main no-padding" data-bind="
                          template: {name: 'recommendations_template', data: recommendations.good},
                          click: function() {$root.select_recommended_benefit(recommendations.good)}
                          ">
                </div>

                <div data-bind="click: function() {$root.select_recommended_benefit(recommendations.good)}">
                  <a class="btn btn-block btn-sm btn-danger">
                    <span>Select</span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          {# Better #}
          <div class="pricing-span better">
            <div class="widget-box pricing-box-small">
              <div class="widget-header center header-color-orange no-padding">
                <h5 class="bigger lighter">Better</h5>
              </div>

              <div class="widget-body">
                <div class="widget-main no-padding" data-bind="
                          template: {name: 'recommendations_template', data: recommendations.better},
                          click: function() {$root.select_recommended_benefit(recommendations.better)}
                          ">
                </div>

                <div>
                  <a data-bind="click: function() {$root.select_recommended_benefit(recommendations.better)}"
                     class="btn btn-block btn-sm btn-warning">
                    <span>Select</span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          {# Best #}
          <div class="pricing-span best">
            <div class="widget-box pricing-box-small">
              <div class="widget-header center header-color-best no-padding">
                <h5 class="bigger lighter">Best</h5>
              </div>

              <div class="widget-body"
                   data-bind="click: function() {$root.select_recommended_benefit(recommendations.best)}">
                <div class="widget-main no-padding" data-bind="
                          template: {name: 'recommendations_template', data: recommendations.best}
                          ">
                </div>

                <div>
                  <a
                          class="btn btn-block btn-sm btn-primary">
                    <span>Select</span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          {# Customize #}
          <div class="pricing-span">
            <div class="widget-box pricing-box-small pricing-box-small-no-hover customize">
              <div class="widget-header center header-color-grey no-padding">
                <h5 class="bigger lighter">Customize</h5>
              </div>

              <div class="widget-body">
                <div class="widget-main no-padding">
                  <ul class="list-unstyled list-striped pricing-table">
                    <li>
                      <!--ko if: employee().is_valid()-->
                      <select class="emp-coverage" data-bind="
                                options: insurance_product.get_coverage_options_for_applicant('employee'),
                                optionsCaption: '',
                                optionsText: BenefitOption.display_benefit_option,
                                value: employee().selected_custom_option,
                                event: {change: apply_selected_customization}
                                ">
                      </select>
                      <!--/ko-->
                    </li>
                    <!--ko if: should_include_spouse_in_table-->
                    <li>
                      <select class="sp-coverage" data-bind="
                                options: insurance_product.get_coverage_options_for_applicant('spouse'),
                                optionsCaption: '',
                                optionsText: BenefitOption.display_benefit_option,
                                value: spouse().selected_custom_option,
                                event: {change: apply_selected_customization}
                                ">
                      </select>
                    </li>
                    <!--/ko-->
                    <!--ko if: should_include_children_in_table-->
                    <li>
                      <select class="ch-coverage" data-bind="
                                options: insurance_product.get_coverage_options_for_applicant('children'),
                                optionsCaption: '',
                                optionsText: BenefitOption.display_benefit_option,
                                value: child_benefits().selected_custom_option,
                                event: {change: apply_selected_customization}
                                ">
                      </select>
                    </li>
                    <!--/ko-->

                  </ul>
                </div>
              </div>
            </div>
          </div>

          {# Selected Plan #}
          <div class="pricing-span">
            <div class="widget-box pricing-box-small pricing-box-small-no-hover">
              <div class="widget-header center header-color-green">
                <h5 class="bigger lighter">Selected Plan</h5>
                <br>
                              <small data-bind="text: selected_plan[current_product]().name"></small>
                <small data-bind="text: 'Current Product Name'"></small>
              </div>

              <div class="widget-body">
                <div class="widget-main no-padding"
                     data-bind="template: {name: 'recommendations_template', data: selected_plan}">
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <br/>
    <br/>

    {# Riders #}
{#    <div class="col-sm-3">#}
{#      <h5>Riders</h5>#}
{#    </div>#}
{#    <div class="row col-sm-9">#}
{##}
{#      <div class="col-sm-12">#}
{#        <div class="form-group col-xs-12 col-sm-1"></div>#}
{#        <div class="form-group col-xs-12 col-sm-4"><strong>Rider Name</strong></div>#}
{#        <div class="form-group col-xs-12 col-sm-4"><strong>Description</strong></div>#}
{#        <div class="form-group col-xs-12 col-sm-3"><strong>Amount</strong></div>#}
{#      </div>#}
{#      <div data-bind="visible: employee().name()">#}
{#        <div class="form-group col-xs-12 col-sm-1">#}
{#          <div class="">#}
{#            <ul class="list-unstyled list-striped js">#}
{#              <!--ko foreach: case_riders -->#}
{#              <li><input type="checkbox" checked=checked disabled=disabled/></li>#}
{#              <!--ko if: $root.should_include_spouse_in_table -->#}
{#              <li><input type="checkbox" checked=checked disabled=disabled/></li>#}
{#              <!--/ko-->#}
{#              <!--/ko-->#}
{#              <!--ko foreach: {data: enrollment_riders, as: 'rider'} -->#}
{#              <li><input type="checkbox" autocomplete="off"#}
{#                         data-bind="click: $root.toggle_selected_riders(rider.code, 'emp'), checked: $root.selected_riders['emp'], checkedValue: $data"/>#}
{#              </li>#}
{#              <!--ko if: $root.should_include_spouse_in_table-->#}
{#              <li><input type="checkbox" autocomplete="off"#}
{#                         data-bind="click: $root.toggle_selected_riders(rider.code, 'sp')"/></li>#}
{#              <!--/ko-->#}
{#              <!--/ko-->#}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{#        <div class="form-group col-xs-12 col-sm-4">#}
{#          <div class="">#}
{#            <ul class="list-unstyled list-striped js">#}
{#              <!--ko foreach: {data: case_riders, as: 'rider'} -->#}
{#              <li data-bind="text: rider.name+' for '+$root.employee().name()"></li>#}
{#              <!--ko if: $root.should_include_spouse_in_table-->#}
{#              <li data-bind="text: rider.name+' for '+$root.show_spouse_name()"></li>#}
{#              <!--/ko-->#}
{#              <!--/ko-->#}
{#              <!--ko foreach: {data: enrollment_riders, as: 'rider'} -->#}
{#              <li data-bind="text: rider.name+' for '+$root.employee().name()"></li>#}
{#              <!--ko if: $root.should_include_spouse_in_table-->#}
{#              <li data-bind="text: rider.name+' for '+$root.show_spouse_name()"></li>#}
{#              <!--/ko-->#}
{#              <!--/ko-->#}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{#        <div class="form-group col-xs-12 col-sm-4">#}
{#          <div class="">#}
{#            <ul class="list-unstyled list-striped js">#}
{#              <!--ko foreach: {data: case_riders, as: 'rider'} -->#}
{#              <li data-bind="text: rider.name"></li>#}
{#              <!--ko if: $root.should_include_spouse_in_table-->#}
{#              <li data-bind="text: rider.name"></li>#}
{#              <!--/ko-->#}
{#              <!--/ko-->#}
{#              <!--ko foreach: {data: enrollment_riders, as: 'rider'} -->#}
{#              <li data-bind="text: rider.name"></li>#}
{#              <!--ko if: $root.should_include_spouse_in_table-->#}
{#              <li data-bind="text: rider.name"></li>#}
{#              <!--/ko-->#}
{#              <!--/ko-->#}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{#        <div class="form-group col-xs-12 col-sm-3">#}
{#          <div class="">#}
{#            <ul class="list-unstyled list-striped js">#}
{#              <!--ko foreach: {data: case_riders, as: 'rider'} -->#}
{#              <li data-bind="text: '$'+$root.riders()['emp'][rider.code]"></li>#}
{#              <!--ko if: $root.should_include_spouse_in_table-->#}
{#              <li data-bind="text: '$'+$root.riders()['sp'][rider.code]"></li>#}
{#              <!--/ko-->#}
{#              <!--/ko-->#}
{#              <!--ko foreach: {data: enrollment_riders, as: 'rider'} -->#}
{#              <li data-bind="text: '$'+$root.riders()['emp'][rider.code]"></li>#}
{#              <!--ko if: $root.should_include_spouse_in_table-->#}
{#              <li data-bind="text: '$'+$root.riders()['sp'][rider.code]"></li>#}
{#              <!--/ko-->#}
{#              <!--/ko-->#}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
  </div>

  {# Decline any products option #}
  <div class="row">
    <div class="col-xs-12 text-center red" data-bind="if: can_decline">
      <div class="decline-option">
        <label><input type="checkbox" data-bind="checked: did_decline"> I decline to enroll in any of the 5Star
          products at this time</label>
      </div>
    </div>
  </div>

  {# Error message #}
  <div id="benefit_required" class="error pull-right" data-bind="visible: is_selection_error_visible">
    You must select a benefit option before advancing.
  </div>

</form>


{# Payment Estimate Banner #}
<script type="text/html" id="recommendations_template">
  <ul class="list-unstyled list-striped pricing-table">
    <li data-bind="template: {name: employee_recommendation().is_valid() ? 'recommendation_template' : 'blank_template',
                                  data: employee_recommendation}">
    </li>
    <!--ko if: $root.should_include_spouse_in_table-->
    <li data-bind="template: {name: spouse_recommendation().is_valid() ? 'recommendation_template' : 'blank_template',
                          data: spouse_recommendation}"></li>
    <!--/ko-->
    <!--ko if: $root.should_include_children_in_table-->
    <li data-bind="template: {name: children_recommendation().is_valid()? 'recommendation_template': 'blank_template',
                          data: children_recommendation}"></li>
    <!--/ko-->

  </ul>
  <div class="price" data-bind="visible: get_total_premium() > 0.0">
        <span class="label label-lg label-inverse arrowed-in arrowed-in-right">
          <span data-bind="text: formatted_total_premium()"></span>
          <small>
            <span data-bind="text: $root.payment_mode_text_lower()">(NA)</span>
          </small>
        </span>
  </div>
</script>


<script type="text/html" id="recommendation_template">
  <strong data-bind="html: format_face_value()"></strong>
  <div data-bind="html: format_premium_option()"></div>
</script>


<script type="text/html" id="blank_template">
</script>
