
<div class="step-pane" id="step4" data-step="4">
  <form class="form-horizontal" id="step4-form">
    <!-- ko ifnot: should_show_step_four -->
    <div>
      <h3 class="lighter block green text-center ">This step does not apply - no products selected require this step.</h3>
    </div>
    <!-- /ko -->
    <!-- ko if: should_show_step_four -->
    <div id="noSpouseNoChildrenBlock"
         data-bind="visible: !coverage_vm.did_select_spouse_coverage() && !coverage_vm.did_select_children_coverage()">
      <h4 class="green center">
        This step does not apply - no spouse or children have been selected for coverage in this
        application.
      </h4>
    </div>

    <div id="SpouseInfoBlock" data-bind="visible: coverage_vm.did_select_spouse_coverage()">
      <h3 class="lighter block green">Spouse information</h3>

      <div class="row form-group">
        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="spFName2">
          Spouse Name
        </label>

        <div class="col-xs-12 col-sm-10">
          <input type="text" id="spFName2" data-bind="value: spouse().first" placeholder="First Name"/>
          <input type="text" id="spLName2" data-bind="value: spouse().last" placeholder="Last Name"/>
        </div>
      </div>

      <div class="row form-group">
        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="spssn">
          SSN
        </label>

        <div class="col-xs-12 col-sm-10">
          <input type="text" id="spssn" name="spssn" class="col-xs-12 col-sm-5"
                 data-bind="value: spouse().ssn, maskedInput: '999-99-9999'">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 no-padding-right">Gender</label>

        <div class="col-xs-12 col-sm-10">
          <label class="blue">
            <input name="spGender" value="male" type="radio" class="inline ace"
                   data-bind="checked: spouse().gender"/>
            <span class="lbl"> Male &nbsp;&nbsp;&nbsp; </span>
          </label>

          <label class="blue">
            <input name="spGender" value="female" type="radio" class="inline ace"
                   data-bind="checked: spouse().gender"/>
            <span class="lbl"> Female</span>
          </label>
        </div>
      </div>

      <div class="space-2"></div>
      <div class="clearfix"></div>

      <div>
        <div class="form-group">

          <label class="control-label col-xs-12 col-sm-2 no-padding-right">Mailing Address</label>

          <div class="col-xs-12 col-sm-9">
            <label>
              <input type="checkbox" class="ace" data-bind="checked: is_spouse_address_same_as_employee">
              <span class="lbl padding-8">same as Employee</span>
            </label>
          </div>
        </div>

        <div data-bind="slideDownIf: !is_spouse_address_same_as_employee()">
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="spStreet1">Street 1</label>

            <div class="col-xs-12 col-sm-9">
              <div class="clearfix">
                <input type="text" id="spStreet1" name="spStreet1" class="col-xs-12 col-sm-9"
                       data-bind="value: spouse().address1"/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="spStreet2">Street 2</label>

            <div class="col-xs-12 col-sm-9">
              <div class="clearfix">
                <input type="text" id="spStreet2" name="spStreet2" class="col-xs-12 col-sm-9"
                       data-bind="value: spouse().address2"/>
              </div>
            </div>
          </div>

          <div class="space-2"></div>

          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eeCity">City, ST Zip</label>

            <div class="col-xs-12 col-sm-9">
              <input type="text" id="spCity" name="spCity" placeholder="City" data-bind="value: spouse().city"/>

              <select id="spState" name="spState" class="select1"
                      data-bind="value: spouse().state">
                <option value="">&nbsp;</option>
                {% for state in states %}
                  <option value="{{ state['code'] }}">{{ state['name'] }}</option>
                {% endfor %}
              </select>

              <input type="text" id="spZip" name="spZip" placeholder="zip"
                     data-bind="value: spouse().zip, maskedInput: '99999'"/>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="spEmail">Email Address:</label>

        <div class="col-xs-12 col-sm-9">
          <label>
            <input type="checkbox" class="ace" data-bind="checked: is_spouse_email_same_as_employee">
            <span class="lbl padding-8">same as Employee</span>
          </label>
        </div>

        <div data-bind="slideDownIf: !is_spouse_email_same_as_employee()">
          <div class="col-xs-12 col-sm-3 no-padding-right"></div>
          <div class="col-xs-12 col-sm-9">
            <div class="input-group">
                                <span class="input-group-addon">
                                  <i class="icon fa fa-envelope"></i>
                                </span>

              <input type="email" name="spEmail" id="spEmail" class="col-xs-12 col-sm-6"
                     data-bind="value: spouse().email"/>
            </div>
          </div>
        </div>
      </div>

      <div class="space-2"></div>

{#      <!--ko foreach: coverage_vm.selected_product_coverages()-->#}
{#      <div class="form-group">#}
{#        <label class="control-label col-xs-12 col-sm-2 no-padding-right">Spouse Policy Owner for <span data-bind="text: product.product_data.name"></span></label>#}
{##}
{#        <div class="col-xs-12 col-sm-10">#}
{#          <label class="blue">#}
{#            <input value="employee" type="radio" class="inline ace"#}
{#                   data-bind="checked: spouse_policy_owner, attr:{name: 'spOwner'+$index()}"/>#}
{#            <span class="lbl"> Employee (<span data-bind="text: $root.employee().first"></span>)&nbsp;&nbsp;&nbsp;</span>#}
{#          </label>#}
{##}
{#          <label class="blue">#}
{#            <input value="self" type="radio" class="inline ace"#}
{#                   data-bind="checked: spouse_policy_owner, attr:{name: 'spOwner'+$index()}"/>#}
{#            <span class="lbl"> Self (<span data-bind="text: $root.spouse().first"></span>) &nbsp;&nbsp;&nbsp;</span>#}
{#          </label>#}
{##}
{#          <label class="blue">#}
{#            <input value="other" type="radio" class="inline ace"#}
{#                   data-bind="checked: spouse_policy_owner, attr:{name: 'spOwner'+$index()}"/>#}
{#            <span class="lbl"> Other</span>#}
{#          </label>#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="col-sm-offset-2" data-bind="visible: spouse_policy_owner() === 'other'">#}
{#        <div class="form-group">#}
{#          <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="spOtherOwnerName">Other#}
{#            owner of spouse policy</label>#}
{##}
{#          <div class="col-xs-12 col-sm-9">#}
{#            <input type="text"  class="col-xs-12 col-sm-4 sp-other-owner-name"#}
{#                   placeholder="Full Name" data-bind="value: spouse_other_owner_name, attr: {name: 'spOtherOwnerName'+$index()}"/>#}
{#          </div>#}
{#        </div>#}
{##}
{#        <div class="space-2"></div>#}
{#        <div class="form-group">#}
{#          <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="spOtherOwnerSSN">Owners's#}
{#            SSN </label>#}
{##}
{#          <div class="col-xs-12 col-sm-9">#}
{#            <input type="text"#}
{#                   class="col-xs-12 col-sm-4 sp-other-owner-ssn" data-bind="value: spouse_other_owner_ssn, maskedInput: '999-99-9999', attr: {name: 'spOtherOwnerSSN'+$index()}"/>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      <!--/ko-->#}

    </div>

    <div id="ChildrenInfoBlock" data-bind="visible: coverage_vm.did_select_children_coverage()">
      <h3 class="lighter block green">Children information</h3>

      {# Loop through the children #}
      <ul class="list-unstyled" data-bind="foreach: {data: coverage_vm.get_covered_children}">
        <li>
          <div class="row form-group">
            <label class="control-label col-xs-12 col-sm-2 no-padding-right"
                   data-bind="attr: {for: 'child-first-'+$index()}">
              Child<span data-bind="visible: $parent.should_allow_grandchildren">/Grandchild</span> <span data-bind="text: $index() + 1"></span>
            </label>

            <div class="col-xs-12 col-sm-6">
              <input type="text" data-bind="value: first, attr: {id: 'child-first-'+$index()}"
                     placeholder="First Name"/>
              <input type="text" data-bind="value: last" placeholder="Last Name"/>
            </div>
          </div>

          <div class="row form-group">
            <label class="control-label col-xs-12 col-sm-2 no-padding-right"
                   data-bind="attr: {for: 'child-ssn-'+$index()}">
              SSN
            </label>

            <div class="col-xs-12 col-sm-9">
              <input type="text" class="col-xs-12 col-sm-5" data-bind="value: ssn, maskedInput: '999-99-9999',
										attr: {id: 'child-ssn-'+$index()}
										"/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2 no-padding-right"
                   data-bind="attr: {for: 'child-gender-'+$index()}">
              Gender
            </label>

            <div class="col-xs-12 col-sm-10">
              <label class="blue">
                <input value="male" type="radio" class="inline ace" data-bind="checked: gender,
										  attr: {name: 'child-gender-'+$index()}"/>
                <span class="lbl"> Male &nbsp;&nbsp;&nbsp; </span>
              </label>

              <label class="blue">
                <input value="female" type="radio" class="inline ace" data-bind="checked: gender,
										  attr: {name: 'child-gender-'+$index()}"/>
                <span class="lbl"> Female</span>
              </label>
            </div>
          </div>


        </li>
      </ul>

      <div class="space-2"></div>
	    
	     <span class="text-primary bigger-110 ">
	       <i class="icon fa fa-info-sign"></i>
	       Employee will be the Owner of any child<span data-bind="visible: $root.should_allow_grandchildren">/grandchild</span>  policy(ies)
	     </span>

    </div>
    <!-- .ChildrenInfoBlock -->
    <!-- /ko -->

  </form>
</div>