
<div class="step-pane" id="step4" data-step="4">
  <form class="form-horizontal" id="step4-form">
    <!-- ko ifnot: should_show_step_four -->
    <div>
      <h3 class="lighter block green text-center">This step does not apply to this enrollment.</h3>
    </div>
    <!-- /ko -->
    <!-- ko if: should_show_step_four -->
    <div id="noSpouseNoChildrenBlock"
         data-bind="visible: !coverage_vm.did_select_spouse_coverage() && !coverage_vm.did_select_children_coverage()">
      <h3 class="lighter block green text-center">This step does not apply to this enrollment.</h3>
    </div>

    <div id="SpouseInfoBlock" data-bind="visible: coverage_vm.did_select_spouse_coverage()">
      <h3 class="lighter block green">Spouse information</h3>

      <div class="row form-group">
        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="spFName2">
          Spouse Name
        </label>

        <div class="col-xs-12 col-sm-10">
          <input type="text" id="spFName2" data-bind="textInput: spouse().first, maxlength: 'SP-FNAME'" placeholder="First Name"/>
          <input type="text" id="spLName2" data-bind="textInput: spouse().last, maxlength: 'SP-LNAME'" placeholder="Last Name"/>
        </div>
      </div>

      <div class="row form-group">
        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="spssn">
          SSN
        </label>

        <div class="col-xs-12 col-sm-10">
          <input type="text" id="spssn" name="spssn" class="col-xs-12 col-sm-5"
                 data-bind="textInput: spouse().ssn, maskedInput: '999-99-9999'">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 no-padding-right">Gender</label>

        <div class="col-xs-12 col-sm-10">
          <label class="blue">
            <input name="spGender" value="male" type="radio" class="inline ace"
                   data-bind="checked: spouse().gender"/>
            <span class="lbl"> Male &nbsp;&nbsp;&nbsp; </span>
          </label>

          <label class="blue">
            <input name="spGender" value="female" type="radio" class="inline ace"
                   data-bind="checked: spouse().gender"/>
            <span class="lbl"> Female</span>
          </label>
        </div>
      </div>

      <div class="space-2"></div>
      <div class="clearfix"></div>

      <div data-bind="if: should_show_spouse_separate_address">
        <div class="form-group">

          <label class="control-label col-xs-12 col-sm-2 no-padding-right">Mailing Address</label>

          <div class="col-xs-12 col-sm-9">
            <label>
              <input type="checkbox" class="ace" data-bind="checked: is_spouse_address_same_as_employee">
              <span class="lbl padding-8">same as {{ Owner_noun }}</span>
            </label>
          </div>
        </div>

        <div data-bind="slideDownIf: !is_spouse_address_same_as_employee()">
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="spStreet1">Street 1</label>

            <div class="col-xs-12 col-sm-9">
              <div class="clearfix">
                <input type="text" id="spStreet1" name="spStreet1" class="col-xs-12 col-sm-9"
                       data-bind="textInput: spouse().address1"/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="spStreet2">Street 2</label>

            <div class="col-xs-12 col-sm-9">
              <div class="clearfix">
                <input type="text" id="spStreet2" name="spStreet2" class="col-xs-12 col-sm-9"
                       data-bind="textInput: spouse().address2"/>
              </div>
            </div>
          </div>

          <div class="space-2"></div>

          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eeCity">City, ST Zip</label>

            <div class="col-xs-12 col-sm-9">
              <input type="text" id="spCity" name="spCity" placeholder="City" data-bind="textInput: spouse().city"/>

              <select id="spState" name="spState" class="select1"
                      data-bind="value: spouse().state">
                <option value="">&nbsp;</option>
                {% for state in states %}
                  <option value="{{ state['code'] }}">{{ state['name'] }}</option>
                {% endfor %}
              </select>

              <input type="text" id="spZip" name="spZip" placeholder="zip"
                     data-bind="textInput: spouse().zip, maskedInput: '99999'"/>
            </div>
          </div>
        </div>
      </div>
      <div data-bind="if: should_show_spouse_separate_email">
      <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="spEmail">Email Address:</label>

        <div class="col-xs-12 col-sm-9">
          <label>
            <input type="checkbox" class="ace" data-bind="checked: is_spouse_email_same_as_employee">
              <span class="lbl padding-8">same as {{ Owner_noun }}</span>
          </label>
        </div>

        <div data-bind="slideDownIf: !is_spouse_email_same_as_employee()">
          <div class="col-xs-12 col-sm-3 no-padding-right"></div>
          <div class="col-xs-12 col-sm-9">
            <div class="input-group">
                                <span class="input-group-addon">
                                  <i class="icon fa fa-envelope"></i>
                                </span>

              <input type="email" name="spEmail" id="spEmail" class="col-xs-12 col-sm-6"
                     data-bind="textInput: spouse().email"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="space-2"></div>

    </div>

    <div id="ChildrenInfoBlock" data-bind="visible: coverage_vm.did_select_children_coverage()">
      <h3 class="lighter block green">Children information</h3>

      {# Loop through the children #}
      <ul class="list-unstyled" data-bind="foreach: {data: coverage_vm.get_covered_children}">
        <li>
          <div class="row form-group">
            <label class="control-label col-xs-12 col-sm-2 no-padding-right"
                   data-bind="attr: {for: 'child-first-'+$index()}">
              Child<span data-bind="visible: $parent.should_allow_grandchildren">/Grandchild</span> <span data-bind="text: $index() + 1"></span>
            </label>

            <div class="col-xs-12 col-sm-6">
              <input type="text" data-bind="textInput: first, attr: {id: 'child-first-'+$index()}, maxlength: 'INSURED-FNAME'"
                     placeholder="First Name"/>
              <input type="text" data-bind="textInput: last, maxlength: 'INSURED-LNAME'" placeholder="Last Name"/>
            </div>
          </div>

          <div class="row form-group">
            <label class="control-label col-xs-12 col-sm-2 no-padding-right"
                   data-bind="attr: {for: 'child-ssn-'+$index()}">
              SSN
            </label>

            <div class="col-xs-12 col-sm-10">
              <input type="text" class="child-ssn error-after" data-bind="textInput: ssn, maskedInput: '999-99-9999',
										attr: {id: 'child-ssn-'+$index(), name: 'child-ssn-'+$index()}
										"/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2 no-padding-right"
                   data-bind="attr: {for: 'child-gender-'+$index()}">
              Gender
            </label>

            <div class="col-xs-12 col-sm-10">
              <label class="blue">
                <input value="male" type="radio" class="child-gender inline ace" data-bind="checked: gender,
										  attr: {name: 'child-gender-'+$index()}"/>
                <span class="lbl"> Male &nbsp;&nbsp;&nbsp; </span>
              </label>

              <label class="blue">
                <input value="female" type="radio" class="child-gender inline ace" data-bind="checked: gender,
										  attr: {name: 'child-gender-'+$index()}"/>
                <span class="lbl"> Female</span>
              </label>
            </div>
          </div>


        </li>
      </ul>

      <div class="space-2"></div>
	    
	     <span class="text-primary bigger-110 ">
	       <i class="icon fa fa-info-sign"></i>
	       {{ Owner_noun }} will be the Owner of any child<span data-bind="visible: $root.should_allow_grandchildren">/grandchild</span>  policy(ies)
	     </span>

    </div>
    <!-- .ChildrenInfoBlock -->
    <!-- /ko -->

  </form>
</div>