{% block product_list -%}
<div>
  Enrolling:
  <ul>
      {% for product in products -%}
        {% if product.get_brochure_name() %}
        <li>
            {% if product.get_brochure_url() -%}
              <a href="{{ product.get_brochure_url() }}" target="_blank">
            {% endif -%}
            {{ product.get_brochure_name() }}
            {% if product.get_brochure_url() -%}
              </a>
            {% endif -%}
        </li>
        {% endif %}
      {% endfor -%}
  </ul>
</div>
{% endblock -%}
