{% extends "base.html" %}
{% set active_page = 'nav_enroll' -%}
{% set compliance_has_approved_remote_enrollment = False %}

{% block title %} - Launch Enrollment{% endblock %}
{% block content %}

    
<div class="launch-panel">
    <h3 class="header lighter">Launch an Enrollment</h3>
    
    <div class="row method-select-form enroll-buttons">
        <div class="visible-xs visible-sm text-center">
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-info btn-lg enroll-from-case">
                        <i class="glyphicon glyphicon-briefcase align-top bigger-110"></i> 
                         Enroll from Case<br>
                        <i class="icon icon-user align-top bigger-110"></i>in Person
                    </button>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-info btn-lg enroll-ad-hoc">
                        <i class="icon icon-pencil align-top bigger-110"></i> 
                         Enroll Ad-Hoc<br>
                        <i class="icon icon-user align-top bigger-110"></i>in Person
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button disabled="1" class="btn btn-info btn-lg enroll-from-case-phone">
                        <i class="glyphicon glyphicon-briefcase align-top bigger-110"></i> 
                         Enroll from Case<br>
                        <i class="icon icon-phone align-top bigger-110"></i>via Phone
                    </button>
                </div>
                <div class="col-sm-6">
                    <button disabled="1" class="btn btn-info btn-lg enroll-ad-hoc-phone">
                        <i class="icon icon-pencil align-top bigger-110"></i> 
                         Enroll Ad-Hoc<br>
                        <i class="icon icon-phone align-top bigger-110"></i>via Phone
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button disabled="1" class="btn btn-default btn-lg enroll-from-case-email">
                        <i class="glyphicon glyphicon-briefcase align-top bigger-110"></i> 
                        Enroll from Case<br>
                        <i class="icon icon-envelope align-top bigger-110"></i>
                        via email
                    </button>
                </div>
                <div class="col-sm-6">
                    <button disabled="1" class="btn btn-default btn-lg enroll-ad-hoc-email">
                        <i class="icon icon-pencil align-top bigger-110"></i> 
                        Enroll Ad-Hoc<br>
                        <i class="icon icon-envelope align-top bigger-110"></i>
                        via email
                    </button>
                </div>
            </div>
            <div class="row">
                
                
                
            </div>
        </div>
        <div class="visible-md visible-lg text-center">
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-info btn-lg enroll-from-case">
                        <i class="glyphicon glyphicon-briefcase align-top bigger-110"></i> 
                         Enroll from Case<br>
                        <i class="icon icon-user align-top bigger-110"></i>in Person
                    </button>
                </div>
                <div class="col-md-4">
                    <button disabled="1" class="btn btn-info btn-lg enroll-from-case-phone">
                        <i class="glyphicon glyphicon-briefcase align-top bigger-110"></i> 
                         Enroll from Case<br>
                        <i class="icon icon-phone align-top bigger-110"></i>via Phone
                    </button>
                </div>
                <div class="col-md-4">
                    <button disabled="1" class="btn btn-default btn-lg enroll-from-case-email">
                        <i class="glyphicon glyphicon-briefcase align-top bigger-110"></i> 
                        Enroll from Case<br>
                        <i class="icon icon-envelope align-top bigger-110"></i>
                        via email
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-info btn-lg enroll-ad-hoc">
                        <i class="icon icon-pencil align-top bigger-110"></i> 
                         Enroll Ad-Hoc<br>
                        <i class="icon icon-user align-top bigger-110"></i>in Person
                    </button>
                </div>
                <div class="col-md-4">
                    <button disabled="1" class="btn btn-info btn-lg enroll-ad-hoc-phone">
                        <i class="icon icon-pencil align-top bigger-110"></i> 
                         Enroll Ad-Hoc<br>
                        <i class="icon icon-phone align-top bigger-110"></i>via Phone
                    </button>
                </div>
                <div class="col-md-4">
                    <button disabled="1" class="btn btn-default btn-lg enroll-ad-hoc-email">
                        <i class="icon icon-pencil align-top bigger-110"></i> 
                        Enroll Ad-Hoc<br>
                        <i class="icon icon-envelope align-top bigger-110"></i>
                        via email
                    </button>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="select-case-panel" style="display: none">
    <h3 class="header lighter">Enroll from Case</h3>
    
    <div class="row">
        <div class="case-select-panel col-xs-12">
            {% if not agent_cases %}
                <div class="row">
                    <h4 class="text-center lighter">There are no active cases.</h4>
                </div>
            {% else %}
                <div class="table-responsive">
                    <table id="cases_table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Company</th>
                                <th>State</th>
                                <th>Product</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for case in agent_cases %}
                                <tr>
                                    <td class="text-center"><button class="btn btn-sm btn-primary enroll-case" data-id="{{ case.id }}" data-name="{{ case.company_name }}">Enroll Case</button></td>
                                    <td><a href="{{ url_for("manage_case", case_id=case.id) }}">{{ case.company_name }}</a></td>
                                    <td>{{ case.situs_state }}</td>
                                    <td>{{ case.get_product_names() }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
        
    </div>
    
</div>
    
<div class="enroll-from-case-panel" style="display: none;">
    <h3 class="header lighter">Enrolling <span data-bind="text: current_company_name"></span></h3>
    
    <div class="loading-panel col-xs-12 text-center " style="display: none;">
    </div>
    <div class="col-xs-12">
        <div class="employee-select-panel" style="display: none;">
            <div class="table-wrap">
                <div class="widget-box">
                    <div class="widget-header">
                        <h3>Select from Case Census</h3>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">  
                            
                            <table id="census-records-table" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Status</th>
                                        <th>First</th>
                                        <th>Last</th>
                                        <th>Birthdate</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="not-in-list-btn btn btn-warning">Enroll employee ad-hoc (not in census)</button>
            </div>
        </div>
        
        
    </div>
</div>
    

<div class="row ad-hoc-form" style="display: none">
  <div class="col-xs-12">
    <h3>Ad-Hoc Enrollment</h3>
    <p>Enter the information below for the case setup, the enrollee data, and proceed with enrollment interview.</p>
    
    <form class="enrollment-form form-horizontal" action="{{ url_for('in_person_enrollment') }}" method="POST">
      
      <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="enrollmentState">Product to enroll</label>
        <div class="col-xs-12 col-sm-9">
          {{ form.productID() }}
        </div>
      </div>

      <div class="row form-group">
	    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="enrollmentState">Location of this enrollment</label>
	    <div class="col-xs-12 col-sm-9">
	    {{ form.enrollmentCity(placeholder='City') }}  
	    {{ form.enrollmentState() }}
	    </div>
      </div>
	
      <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="companyName">Company Name</label>
        <div class="col-xs-12 col-sm-9">
            {{ form.companyName(placeholder='Company') }}
        </div>
      </div>
	  
      <div class="row form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eeFName">Employee Name</label>        
        <div class="col-xs-12 col-sm-9">
          {{ form.eeFName(placeholder='First Name') }}
          {{ form.eeLName(placeholder='Last Name') }}
        </div>
      </div>
      
      <div class="row form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="email">Employee Email Address:</label>
        <div class="col-xs-12 col-sm-9">
            {{ form.email(type="email")}}
        </div>
      </div>
    
{% set compliance_has_approved_remote_enrollment = False %}
    {% if compliance_has_approved_remote_enrollment %}
    <div class="row">
      <div class="col-xs-12 col-sm-6">
	<p class="center"><button type="submit" class="btn btn-lg btn-info" id="in-person-enrollment-btn">
	    <i class="icon icon-user align-top bigger-110"></i>Enroll in-person</button></p>
      </div>
      <div class="col-xs-12 col-sm-6">
	<p class="center"><button type="button" class="btn btn-lg btn-success" id="email-enrollment-btn">
	    <i class="icon icon-envelope align-top bigger-110"></i>Enroll via email</a></p>
      </div>
    </div>
   {% else %}
    <div class="row">
      <div class="col-xs-12">
	    <p class="center"><button type="submit" class="btn btn-lg btn-info" id="in-person-enrollment-btn">
	    <i class="icon icon-user align-top bigger-110"></i>Proceed to enrollment</button></p>
      </div>
    </div>
    {% endif %}
    
</form>

  </div><!-- /.col-xs12 -->
</div><!-- /.row -->



{% endblock %}

<!-- basic scripts -->

{% block js_footer %}
{{ super() }}

<!-- page-specific footer scripts -->

<script src="{{ url_for('static', filename='js/jquery.mobile.custom.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/typeahead-bs2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/knockout-3.1.0.debug.js') }}"></script>
      
<!-- page specific plugin scripts -->

<script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/additional-methods.min.js') }}"></script>
{% if compliance_has_approved_remote_enrollment %}
<script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>
{% endif %}
<script src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"></script>


<script>
    jQuery(function($) {
        
        var EnrollmentSetupPage = function() {
            var self = this;
            self.current_company_name = ko.observable("{{ company_name }}")
        };
        window.ui = new EnrollmentSetupPage();
        ko.applyBindings(window.ui, $("body").get(0));
    
        // Change enabled states when the product is changed
        product_state_select.init("#enrollmentState","#productID", {{ product_states | tojson | safe }});
        
        $("#cases_table").dataTable({
            "aoColumnDefs":[
                {"bSortable": false, "aTargets":[0]},
            ],
            "aaSorting": [[ 1, "asc" ]]
        });
        
        $('button.enroll-from-case').on('click', function() {
            $('.launch-panel').hide();
            $('.select-case-panel').show();
            $('.ad-hoc-form').hide();
            
            
        });
    
        $(".select-case-panel").on('click', "button.enroll-case", function() {
            var case_id = $(this).attr("data-id");
            ui.current_company_name($(this).attr("data-name"));
            load_census_table(case_id, "/cases/"+case_id+"/census_records");
        });
        
        
        $(".not-in-list-btn").on('click', function() {
            $('.launch-panel').hide();
            $('.select-case-panel').hide();
            $('.enroll-from-case-panel').hide();
            $('.ad-hoc-form').show();
        });
        
        $('button.enroll-ad-hoc').on('click', function() {
            $('.launch-panel').hide();
            $('.select-case-panel').hide();
            $('.ad-hoc-form').show();
            
        });
        
        $(".employee-select-panel").on('click', "button.enroll-employee", function() {
            var record_id = $(this).attr('data-id');
            
            submit_to_url("{{ url_for('in_person_enrollment') }}", {record_id: record_id});
        });
        
        // Validation
        $(".ad-hoc-form form").validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            rules: {
                productID: {required: true},
                enrollmentCity: {required: true},
                enrollmentState: {required: true},
                companyName: {required: true},
                eeLName: {required: true},
                eeFName: {required: true},
                email: {
                    email: true
                }
            },
            messages: {
                  
            },
            highlight: function(e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },
            
            success: function(e) {
                $(e).closest('.form-group').removeClass('has-error').addClass('has-info');
                $(e).remove();
            }
            //errorPlacement: wizard_error_placement	
        });
        
        function load_census_table(case_id, url) {
            
            $(".loading-panel").show();
            
            $('.launch-panel').hide();
            $(".select-case-panel").hide();
            $('.enroll-from-case-panel').show();
            $('.ad-hoc-form').hide();
                        
            
            case_management.refresh_census_table(case_id, url, 
                "#census-records-table", ".loading-panel", {
                "aoColumnDefs":[
                    // Show enroll button in first column
                    {"aTargets":[0], "bSortable": false, "mData":function(source) {
                        
                        var app_status = "";
                        _.each(source.enrollment_applications, function(app) {
                            if (app.application_status == "enrolled") {
                                app_status = "Enrolled";
                            } else {
                                app_status = "Declined";
                            }
                        });
                        
                        if (app_status !== "") {
                            return '<button class="btn btn-primary btn-sm enroll-employee" data-id="'+source.id+'"><span class="ace-icon glyphicon glyphicon-refresh"> Re-enroll</button>';
                        }
                        
                        return '<button class="btn btn-primary btn-sm enroll-employee" data-id="'+source.id+'">Enroll</button>';
                    }},
                    {"aTargets":[1], "mData":function(source) {
                        var app_status = "";
                        _.each(source.enrollment_applications, function(app) {
                            if (app.application_status == "enrolled") {
                                app_status = "Enrolled";
                            } else {
                                app_status = "Declined";
                            }
                        });
                        if (app_status === "") {
                            return "Not Enrolled";
                        } else {
                            if (app_status == "Enrolled") {
                                return "<span class='enroll-status ace-icon glyphicon glyphicon-ok'> </span><span class='enroll-status'>" + app_status + "</span>";
                            } else {
                                return "<span class='ace-icon glyphicon glyphicon-remove'></span> <span class='enroll-status declined'>" + app_status + "</span>";
                                
                            }
                        }
                    }},
                    {"aTargets":[2], "mData":"employee_first"},
                    {"aTargets":[3], "mData":"employee_last"},
                    {"aTargets":[4], "mData": function(source) {
                        var d = moment(source.employee_birthdate, "YYYY-MM-DD");
                        return d.format("MM/DD/YYYY");
                    }},
                    {"aTargets":[5], "mData":"employee_email"}
                ],
                "aaSorting": [[ 3, "asc" ]]
            }, function() {
                    $(".employee-select-panel").show();
                    
                    var table = $("#census-records-table").dataTable();
                    init_status_filter(table);
                    init_alphabet_search(table);
            });
        }
    
        // Setup if there we are showing the next applicant for the active case
        {% if active_case and should_show_next_applicant %}
            $("#census-records-table").hide();
            load_census_table({{ active_case.id }}, "{{ url_for("cases.census_records", case_id=active_case.id) }}");
            
        {% endif %}
    
    });
    
    // Custom alphabet search 
    var _alphabet_search_letter;     
    
    $.fn.dataTableExt.afnFiltering.push(
        function( oSettings, aData, iDataIndex ) {
            if (!_alphabet_search_letter) {
                return true;
            }
            var last_name_col = 2;
            return (aData[last_name_col].charAt(0) === _alphabet_search_letter);
        }
    );

    function init_employee_table(table_element) {
        
        var table = table_element.dataTable({
            iDisplayLength: 25,
            "aoColumnDefs":[
                {"bSortable": false, "aTargets":[0]}
            ],
            "aaSorting": [[ 2, "asc" ]]
        });
        
        init_status_filter(table);
        init_alphabet_search(table);
        
    }
    function init_alphabet_search(table) {
        var alphabet = $('<div class="alphabet"/>').append('Last Name: ');
        $('<span class="clear active"/>')
            .data('letter', '')
            .html('Reset')
            .appendTo(alphabet);
        
        for (var i = 0; i < 26; i++) {
            var letter = String.fromCharCode(65 + i);
            
            $('<span/>')
                .data('letter', letter)
                .html(letter)
                .appendTo(alphabet);
        }
        
        alphabet.insertBefore( table );
        
        alphabet.on('click', 'span', function() {
            alphabet.find('.active').removeClass('active');
            $(this).addClass('active');
            
            _alphabet_search_letter = $(this).data('letter');
            table.fnDraw();
        });
    }

    // Checkbox filter
    var _should_show_enrolled = true;
    $.fn.dataTableExt.afnFiltering.push(
        function(oSettings, aData, iDataIndex ) {
            if (_should_show_enrolled) {
                return true;
            }
            
            return (aData[1] === "Not Enrolled");
        }
    );
    
    function init_status_filter(table) {
        var ctn = $('<div class="status-filter">');
        ctn.html("<label><input type='checkbox' class='' checked='checked'> Show Enrolled</label>");
        ctn.on('change', 'input', function() {
            _should_show_enrolled = $(this).prop("checked");
            table.fnDraw();        
        });
        ctn.insertBefore(table);
    }


</script>
    
{% if compliance_has_approved_remote_enrollment %}
<script type="text/javascript">
    jQuery(function($) {
  
        var email_btn = $("#email-enrollment-btn");
        email_btn.on("click", function() {
            email_btn.prop('disabled', true);
            $.ajax("{{url_for('email_enrollment')}}", {
                data: $(".enrollment-form").serialize(),
                error: function() {
                    bootbox.dialog({
                        message: "There was a problem in sending the email.  Please check the email address, or contact the Enrollment System administrator if you have further problems.",
                        buttons: {
                            "success": {
                                "label": "OK",
                                "className": "btn-sm btn-primary"
                            }
                        }
                    });
    
                    <!-- alert("There was a problem sending the email."); -->
                    email_btn.prop('disabled', false);
                },
                success: function() {
                    <!-- alert("The enrollment email has been sent to '"+$('#email').val()+"'"); -->
                    bootbox.dialog({
                        message: $('#eeFName').val() + " " + $('#eeLName').val() + " (" + $('#email').val() + ") will receive a link to the application via email.  The signed application will queue in your agent applications inbox requiring your signature prior to processing.",
                        buttons: {
                            "success": {
                                "label": "OK",
                                "className": "btn-sm btn-primary"
                            }
                        }
                    });
		    
                    email_btn.prop('disabled', false);
                    $('#email').val("")
                    $('#eeFName').val("")
                    $('#eeLName').val("")
                        },
                        // expected return data type
                        dataType: "json",
                        method: "POST"
                    });
                });
  });
</script>
{% endif %}

{% endblock %}
