*.pyc
.env
venv
*~
.DS_Store
.idea/*
config_production.py
taa/uploads
taa/frontend/static/ace-v1.2/
TAA.iml
.vagrant
env_mac
.webassets*
taa/frontend/static/.webassets-cache/*
*.swp
Vagrantfile
*.dump
.coverage
coverage.xml
nosetests.xml
reports
cover
htmlcov
FTPDropBox/taa.pem
node_modules
test_pdfs/*
