{% extends "base.html" %}

{% block ace_config_header %}
                
    {# All CSS assets #}
    {% assets "css_ace_1_3_1" -%}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="{{ url_for('static', filename='ace-v1.3.1/css/ace-ie.min.css') }}" />
    <![endif]-->
    
    {% block page_css -%}
        {# Override to add specific CSS links to a page #} 
    {%- endblock %}
                      
    {# Header scripts #}              
    <script src="{{ url_for('static', filename='js/ace-extra.min.js') }}"></script>    
    
    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='ace-v1.3.1/js/html5shiv.min.js') }}"></script>
    <script src="{{ url_for('static', filename='ace-v1.3.1/js/respond.min.js') }}"></script>
    <![endif]-->
    
    <!--[if !IE]> -->
  <script src="{{ url_for('static', filename='ace-v1.3.1/js/jquery.min.js') }}"></script>
  <!-- <![endif]-->
  <!--[if lte IE 9]>
   <script src="{{ url_for('static', filename='ace-v1.3.1/js/jquery1x.min.js') }}"></script>
  <![endif]-->
    
   <script src="{{ url_for('static', filename='ace-v1.3.1/js/bootstrap.min.js') }}"></script>
   
  <!--[if lte IE 8]>
   <script src="{{ url_for('static', filename='ace-v1.3.1/js/excanvas.min.js') }}"></script>
  <![endif]-->                
{% endblock %}

{% block js_footer %}
      
    {% assets "js_vendor_1_3_1" -%}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "taa_app" -%}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block page_js %}
        {# Override to add custom JS to a specific page #}
    {% endblock %}
{% endblock %}