<!DOCTYPE html>
<html lang="en">
  {% set logopath = "/static/img/5Star_logo_TAA.png" %}
  <head>
    {% block head %}
            
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Application Enrollment for 5Star Life Insurance Company">
        <meta name="keywords" content="Electronic Enrollment 5Star Life Insurance">
        <meta name="author" content="Thumbprint Software LLC">
        <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
        
        <title>5Star Enrollment{% block title %}{% endblock %}</title>
        
        {# All CSS assets #}
        {% assets "css_all" -%}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
        
        <!--[if lte IE 8]>
          <link rel="stylesheet" href="{{ url_for('static', filename='css/ace-ie.min.css') }}" />
        <![endif]-->
        
        {% block page_css -%}
            {# Override to add specific CSS links to a page #} 
        {%- endblock %}
                          
        {# Header scripts #}              
        <script src="{{ url_for('static', filename='js/ace-extra.min.js') }}"></script>    
        
        <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/respond.min.js') }}"></script>
        <![endif]-->
                          
        <!--[if !IE]> -->
        <script type="text/javascript">
          window.jQuery || document.write("<script src='/static/js/jquery-2.1.1.min.js'>"+"<"+"/script>");
        </script>
        <!-- <![endif]-->
        
        <!--[if IE]>
        <script type="text/javascript">
          window.jQuery || document.write("<script src='{{ url_for("static", filename="/static/js/jquery-1.11.1.min.js") }}'>"+"<"+"/script>");
        </script>
        <![endif]-->
         
    {% endblock %}
  </head>
  <body>


    {% block navbar%}
    <div class="header">
      {% if include_navmenu|default(True) %}
      <ul class="nav nav-pills pull-right">
	    <li class={% if active_page == 'nav_home' %}"active"{% else %}"inactive"{% endif %} id="nav_home">
          <a href="{{ url_for ('home') }}">Home</a>
        </li>
        <li class={% if active_page == 'nav_manage_cases' %}"active"{% else %}"inactive"{% endif %}>
          <a  href="{{ url_for ('manage_cases') }}">Manage Cases</a>
        </li>
        <li class={% if active_page == 'nav_enroll' %}"active"{% else %}"inactive"{% endif %} id="nav_enroll">
          <a  href="{{ url_for ('enroll_start') }}">Enroll</a>
        </li>
        <li class={% if active_page == 'nav_agentsign' %}"active"{% else %}"inactive"{% endif %} id="nav_agentsign">
          <a href="{{ url_for ('inbox') }}">Sign</a>
        </li>
        <li id="nav_logout">
            <a href="{{ url_for ('taa_logout') }}">Logout</a>
        </li>
      </ul>
      {% endif %}
      <table>
	<tr>
	  <td valign="center">
	    {% if link_logo|default(True) %}
	    <a  href="/"><img src={{ logopath }}/></a>
	    {% else %}
	    <img src="/static/img/5Star_logo_TAA.png"/>
	    {% endif %}
	  </td>
	  <td valign="center">
	    <h3 class="text-muted">{{ header_title|default('Enrollment') }}
	      {% if 'headername' in session.keys() %}
	      <br>
	      <span class="blue smaller-60 lighter">
		{{session['headername']}}
	      </span>
	      {% endif %}
	    </h3>
	  </td>
	</tr>
      </table>
    </div>    

    
    {% endblock %}

    <div class="container page">
        <div class="content">

	  <!-- display any Flashed messages just inside top of content area -->
	  {% with messages = get_flashed_messages() %}
	  {% if messages %}
	  {% for message in messages %}
	  <div class="alert alert-warning">
	    <button type="button" class="close" data-dismiss="alert">
	      <i class="ace-icon fa fa-times"></i>
	    </button>{{ message }}</div>
	  {% endfor %}
	  {% endif %}
	  {% endwith %}

    
          <!-- now for inherited stuff...  -->
	  {% block content %}
          {% endblock %}
        </div>
        <hr>
        {% block footer %}
        <footer class="footer">
            <p>&copy; 2014 5Star Life Insurance Company, an AFBA related enterprise</p>
        </footer>
        {% endblock %}
    </div> <!-- /container page -->
    
    {% block js_footer %}
      
      {% assets "js_main" -%}
        <script src="{{ ASSET_URL }}"></script>
      {% endassets %}
        
      {% block page_js %}
          {# Override to add custom JS to a specific page #}
      {% endblock %}
    {% endblock %}
  </body>
</html>
