
{% macro render_field_with_errors(field) %}
    <div class="form-group">
        <div class="col-sm-3 control-label">{{ field.label }}</div>
        <div class="col-sm-9">
            {{ field(**kwargs)|safe }}
            {% if field.errors %}
              <ul class="errors">
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
              </ul>
            {% endif %}
        </div>
  </div>
{% endmacro %}

{% macro render_checkbox(field) %}
    <div class="form-group">            
        <div class="col-sm-9 col-sm-offset-3">
            <label class="control-label">
                {{ field(**kwargs)|safe }} {{field.label}}
            </label>
        </div>
    </div>
{% endmacro %}

{% macro render_switch(field) %}
    
    {{field.label}}
    {{ field(class_="ace ace-switch ace-switch-6", **kwargs)|safe }}
    <span class="lbl"></span>

{% endmacro %}
