{% extends "base.html" %}
{% set active_page = 'nav_agent_manage_cases' -%}
{% block title %} - Agent Manage Cases{% endblock %}

{% block head %}
 {{ super() }}
    
{% endblock %}

{% block content %}

<h3>Manage Cases</h3>

<a class="btn btn-primary" href="{{ url_for("manage_case", case_id=None) }}">Setup New Case</a>

<h4>Case Inventory</h4>
<hr>
<div class="row">
    <div class="col-xs-12">
        <div class="table-header">
            Managed Cases
        </div>
        {% if not agent_cases %}
            <div class="row">
                <h4 class="text-center lighter">You have not created any cases yet.</h4>
            </div>
        {% else %}
            <div class="table-responsive">
                <table id="cases_table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>State</th>
                            <th>Product</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for case in agent_cases %}
                            <tr>
                                <td><a href="{{ url_for("manage_case", case_id=case.id) }}">{{ case.company }}</a></td>
                                <td>{{ case.state }}</td>
                                <td>{{ case.product }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        
    </div>
</div>


{% endblock %}
    
{% block js_ace_plugins %}
<script src="{{ url_for("static", filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for("static", filename='js/jquery.dataTables.bootstrap.js') }}"></script>
{% endblock %}
    
{% block page_js %}
<script>
    $(function() {
       
        $("#cases_table").dataTable();
    });
</script>
{% endblock %}