
.error {
    color: red;
    border-color: red!important;
    outline-color: red;
}

.pricing-span-header li, .pricing-table li {
    height: 60px;
}

.pricing-span-header li {
    padding: 20px 10px;
    font-size: 14px;
}
.pricing-span .customize select {
    width: 100%;
    font-size: 85%;
}

.pricing-box-small-no-hover:hover {
    /* Need to simulate the look without the hover effect*/
    margin-left: -2px;
    box-shadow: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    z-index: 10;
}

.widget-header>:first-child {
    line-height: 24px;
}

.monthly_summary {
    text-align: center;
    margin: 2em;
    font-size: 13pt;
    font-style: oblique;
}


.confirm-table td, .confirm-table th {
    text-align: center;
}

.header-color-good {
  border-color: #D1E2D0;
  background: #D1E2D0;
  
}

.header-color-better {
  color: #855D10;
  border-color: #FCAE17;
  background: #FCAE17;
  
}

.header-color-best {
  border-color: #5290CD;
  background: #5290CD; 
  
}

#questions-form .odd, #questions-form .even {
    padding: .25em 0;
}
#questions-form .odd {
    background-color: #eee;
}
#questions-form .person-answer-small {
    margin-top: .5em;
    margin-left: 1em;
}