{% extends "base_ace_latest.html" %}
{% set active_page = 'nav_agentsign' -%}
{% block title %} - Agent Inbox{% endblock %}


{% block content %}

  <div data-bind="visible: true">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">Pending</a></li>
      <li role="presentation"><a href="#completed" aria-controls="completed" role="tab" data-toggle="tab">Completed</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="pending">

        <div  data-bind="visible: is_loading()">
          <h3 class="center loading text-200">Loading Pending Envelopes...</h3>
        </div>

        <div data-bind="visible: !is_loading() && pending_envelopes().length > 0">
          <table id="pending-table" class="table table-striped table-bordered" data-bind="dataTable: {options: table_options, data: pending_envelopes}">
            <thead>
              <tr>
                <th></th>
                <th>Status</th>
                <th>Raw Timestamp</th>
                <th>Created</th>
                <th>Agent</th>
                <th>Group</th>
                <th>First</th>
                <th>Last</th>
                <th>Product(s)</th>
                <th style="width: 350px">Coverage</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>

        <div data-bind="visible: !is_loading() && pending_envelopes().length === 0">
          No pending enrollments for signing.
        </div>

      </div>
      <div role="tabpanel" class="tab-pane" id="completed">

        <div data-bind="visible: !is_loading() && completed_envelopes().length > 0">
          <table id="completed-table" class="table table-striped table-bordered" data-bind="dataTable: {options: table_options, data: completed_envelopes}">
            <thead>
              <tr>
                <th></th>
                <th>Status</th>
                <th>Raw Timestamp</th>
                <th>Signed</th>
                <th>Agent</th>
                <th>Group</th>
                <th>First</th>
                <th>Last</th>
                <th>Product(s)</th>
                <th style="width: 350px">Coverage</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>

        <div data-bind="visible: !is_loading() && completed_envelopes().length === 0">
          No completed enrollments.
        </div>

      </div>
    </div>

  </div>
{% endblock %}

{% block page_js %}
  <script type="text/javascript">
    jQuery(function ($) {

      window.vm = new agent_inbox.init_viewmodel({{ agent_id }});
      ko.applyBindings(window.vm);
    });
  </script>
{% endblock %}