{% extends "base.html" %}
{% from "form_macros.html" import render_field_with_errors %}
{% from "form_macros.html" import render_switch %}
{% set active_page = 'nav_agent_manage_case' -%}
{% block title %} - Agent Manage Case{% endblock %}

{% block content %}
    
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal case_setup">
                    
            <div class="widget-box">
                <div class="widget-header">
                    <div class="row">
                        <h3 class="col-xs-6">{{ case.company_name }}</h3>
                        
                        <h3 class="col-md-3 col-md-offset-3 active-switch text-right">
                            <label>
                                <span data-bind="text: switch_label">Case is Active</span> 
                                {{ case_setup_form.active(class_="ace ace-switch ace-switch-6")|safe }}
                                <span class="lbl"></span>    
                            </label>
                        </h3>
                    </div>
                  
                </div>
                <div class="widget-body">
                    <div class="widget-main">  
                        <div class="row">
                            <div class="col-md-5 col-xs-12">
                                <h3 class="header lighter blue">Settings</h3>
                                {{ render_field_with_errors(case_setup_form.company_name) }}
                                
                                {# {{ render_field_with_errors(case_setup_form.products) }}  #}
                                {# Use the single-select product form for now #}
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="case_product">Product</label>
                                    <div class="col-md-9">
                                        <select id="case_product" name="case_product" class="form-control">
                                            <option></option>
                                            {% for product in product_choices %}
                                                <option value="{{product['short_name']}}" 
                                                {%- if product["disabled"] -%}
                                                disabled="1"
                                                {%- endif -%}
                                                {%- if case_product and case_product.code == product.short_name -%}
                                                selected="1"
                                                {%- endif -%}
                                                >{{product["name"]}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            
                                {# Situs state 
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="case_state">State</label>
                                    <div class="col-md-9">
                                        <select id="case_state" name="situs_state" class="form-control">
                                            <option></option>
                                            {% for state in all_states %}
                                                <option value="{{state.shortname}}" 
                                                    {%- if case_state == state.shortname -%}
                                                    selected="1"
                                                    {%- endif -%}
                                                    >{{state["name"]}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                #}
                                {{ render_field_with_errors(case_setup_form.situs_city) }}
                                {{ render_field_with_errors(case_setup_form.situs_state, id="case_state") }}
                                
                            </div>
                            <div class="col-md-5 col-md-offset-1 col-xs-12">
                                <h3 class="header lighter blue">Enrollment Periods</h3>
                                <div id="accordian">
                                {% for value, label, selected in enrollment_period_form.enrollment_period_type.iter_choices() %}
                                    <div class="panel">
                                    <div class="form-group panel-heading">
                                        <label data-toggle="collapse" data-parent="#accordian" data-target="#collapse-{{ value }}">
                                            <input type="radio" class="ace" name="enrollment_period_type" value="{{ value }}" {% if selected %}checked="1"{% endif %}> 
                                            <span class="lbl">{{ label }}</span>
                                        </label>
                                    </div>
                                    <div id="collapse-{{ value }}" class="form-group collapse collapse-panel {% if selected %}in{% endif %}" >
                                    
                                        {% if value == "open" %}
                                            {{ enrollment_period_form.open_period_start_date.label }}
                                            {{ enrollment_period_form.open_period_start_date(class_="input-mask-date", placeholder="MM/DD/YYYY") }}
                                        {% else %}
                                            
                                            {% for date_form in enrollment_period_form.annual_period_dates %}
                                                <div class="form-group row">
                                                    {% for field in date_form %}
                                                        {% if field.type != "CSRFTokenField" %}
                                                            <div class="col-md-6">
                                                            {{ field.label }}
                                                            {{ field(class_="input-mask-month-day", placeholder="MM/DD") }}
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                
                                            {% endfor %}
                                        {% endif %}
                                        
                                    </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-toolbox clearfix padding-8">
                        <button type="submit" class="btn-primary btn-sm pull-right">Save</button>
                    </div>
                </div>
            </div>
                
            </form> 
            
            
        </div>
    </div>
    
    <br>
    <div class="hr"></div>
    <br>
    
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-header">
                    <h3>Case Census</h3>
                    <button type="button" id="export-btn" class="btn btn-default pull-right">
                        <i class="icon icon-download-alt"></i>
                            Download Census
                    </button>
                    <button type="button" id="upload-btn" class="btn btn-success pull-right" data-toggle="modal" data-target="#census-upload-modal" >
                        <i class="icon icon-upload"></i>
                            Upload Census
                    </button>
                    
                </div>
                <div class="widget-body">
                    <div class="widget-main">  
                        {% if not census_records %}
                            <h4 class="text-center lighter">No Census Data Uploaded</h4>
                        {% else %}
                            <table id="census-records-table" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>SSN</th>
                                        <th>First</th>
                                        <th>Last</th>
                                        <th>Email</th>
                                        <th>Spouse First</th>
                                        <th>Spouse Last</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {# 
                                    Don't load this on the page anymore, 
                                    we load from the server at run time for page speed
                                    
                                    {% for record in census_records %}
                                    <tr>
                                        <td class="text-center"><a href="{{ url_for("edit_census_record", case_id=case.id, census_record_id=record.id) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
                                        <td>{{ record.ssn }}</td>
                                        <td>{{ record.first }}</td>
                                        <td>{{ record.last }}</td>
                                        <td>{{ record.email }}</td>
                                        <td>{{ record.sp_first }}</td>
                                        <td>{{ record.sp_last }}</td>
                                        
                                        <td>{{ record.completed_enrollment }}</td>
                                        <td>{{ record.elected_coverage }}</td>
                                         
                                    
                                    </tr>
                                    {% endfor %}
                                      #}
                                </tbody>
                            </table>
                        {% endif %}
                        <div id="census-table-loading" class="text-center bigger-125"></div>
                    </div>
                </div>
            </div>
        </div>
                
    </div>
    
    {# Upload census data modal #}
    <form id="census-record-form" method="POST" enctype="multipart/form-data">
    <div id="census-upload-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Upload Census Data</h4>
                </div>
                <div class="modal-body">
                    <div class="form-panel modal-panel">
                        <div class="row">
                            <div class="col-xs-12 ">
                                <h4>
                                    Select Census CSV File: 
                                </h4>
                                <p class="offset-by-twelve">Download an <a href="{{ url_for("sample_upload_csv") }}">example census data file</a> for formatting reference.</p>
                                <input type="file" id="csv-file-input" name="csv-file" accept="text/*,.csv">
                            </div>
                        </div>
                        
                        <br>
                        
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>
                                        <input type="radio" class="ace" name="upload_type" value="merge-skip" checked="1">
                                        <span class="lbl"> Add New Records</span>
                                    </label>
                                    <div class="row">
                                        <p class="col-xs-10 col-xs-offset-1">
                                            This option adds new records to any existing employee records without updating any existing data.
                                        </p>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label>
                                        <input type="radio" class="ace" name="upload_type" value="merge-replace">
                                        <span class="lbl"> Add With Update</span>
                                    </label>
                                    <div class="row">
                                        <p class="col-xs-10 col-xs-offset-1">
                                            This option adds new records to any existing employee records and also updates existing records whose SSN match the uploaded data.
                                        </p>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label>
                                        <input type="radio" class="ace" name="upload_type" value="replace">
                                        <span class="lbl"> Replace Existing Census</span>
                                    </label>
                                    <div class="row">
                                        <p class="col-xs-10 col-xs-offset-1">
                                            This option first removes all existing employee records in this case, then adds the new uploaded data.
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="loading-panel modal-panel" style="display: none;">
                        <div class="text-center">
                            <h4>Uploading and processing...</h4>
                            <i class="icon-spinner icon-spin grey bigger-200"></i>  
                        </div>
                    </div>
                    <div class="success-panel modal-panel" style="display: none;">
                        <h3 class="header lighter green">File Processed Successfully</h3>
                        <!--ko if: num_data_records() > 0 -->
                            <h4><span data-bind="text: num_data_records"></span> 
                                record<span data-bind="visible: num_data_records() > 1">s</span> 
                                added or updated.</h4>
                        <!--/ko-->
                        <!--ko if: num_data_records() == 0 -->
                            <h4>No new data was added to the census.</h4>
                        <!--/ko-->
                    </div>
                    <div class="error-panel modal-panel" style="display: none;">
                        <h3 class="header lighter red">Bad or Missing Data</h3>
                        
                        <div class="row">
                            <div class="col-md-12" style="width: 100%; overflow: auto;">
                                <!--ko foreach: {data: error_records, as: 'error_record'}-->
                                    <div data-bind="if: error_record.message && error_record.records.length == 0">
                                        <div class="error" data-bind="text: error_record.message"></div>
                                    </div>
                                    
                                    <table data-bind="if: error_record.records.length > 0" class="table table-bordered table-responsive upload-error-table">
                                        <thead>
                                            <tr>
                                                <th>Record #</th>
                                                <!--ko foreach: error_record.headers-->
                                                    <th data-bind="text: $data"></th>
                                                <!--/ko-->
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: {data: error_record.records, as: 'data_record'}">
                                            <tr>
                                                <td data-bind="text: error_record.line_number"></td>
                                            <!--ko foreach: {data: error_record.headers, as: 'header'} -->
                                                <td data-bind="css: {error: error_record.field_name == header}, attr: {title: error_record.message}" 
                                                    data-toggle="tooltip">
                                                    <div data-bind="text: data_record[header]"></div>
                                                </td>
                                            <!--/ko-->
                                            </tr>
                                        </tbody>
                                    </table>
                                <!--/ko-->
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div class="modal-footer">
                    <div class="form-buttons buttons-panel">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="processing-buttons buttons-panel" style="display: none;">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="error-buttons buttons-panel" style="display: none;">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary back-btn">
                            <i class="glyphicon glyphicon-chevron-left"></i> Back</button>
                    </div>
                    <div class="success-buttons buttons-panel" style="display: none;">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
                    </div>
                    
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    </form>
{% endblock %}

{% block page_js %}
    <script src="{{ url_for("static", filename="js/5Star/product_state_select.js") }}"></script>
    <script>
    $(function() {
        
        function refresh_census_table() {
            // show loading message under the table
            var loading = $("#census-table-loading");
            var table = $("#census-records-table");
            
            loading.html("<span class='icon-spinner icon-spin grey bigger-200'></span> Loading data...");
            if ($.fn.DataTable.fnIsDataTable(table.get(0))) {
                table.dataTable().fnClearTable();
            }
            $.get("{{ url_for("cases.census_records", case_id=case.id) }}", {}, function(resp) {
                
                loading.html("");
                if ($.fn.DataTable.fnIsDataTable(table.get(0))) {
                    table.dataTable().fnAddData(resp.data);
                } else {
                    table.dataTable({
                        "aaData": resp.data,
                        "aoColumnDefs":[
                            {"bSortable": false, "aTargets":[0], "mData":function(source) {
                                return "<a href='/manage_case/{{case.id}}/census/"+source.id+"'><span class='glyphicon glyphicon-edit'></span></a>";
                            }},
                            {"aTargets":[1], "mData": "employee_ssn"},
                            {"aTargets":[2], "mData": "employee_first"},
                            {"aTargets":[3], "mData": "employee_last"},
                            {"aTargets":[4], "mData": "employee_email"},
                            {"aTargets":[5], "mData": "spouse_first"},
                            {"aTargets":[6], "mData": "spouse_last"},
                            //{"aTargets":[7], "mData": "enrollment_status"},
                            //{"aTargets":[8], "mData": "elected_coverage"},
                            
                            //{ "sWidth": "50px", "aTargets": [7] },
                            //{ "sWidth": "50px", "aTargets": [8] },
                        ],
                        "aaSorting": [[ 3, "asc" ]],
                        "iDisplayLength": 25,
                        //"bServerSide": true,
                        //"sAjaxSource": "{{ url_for('cases.census_records_datatable', case_id=case.id) }}"
                    });
                }
            });
        }
        
        // Load data now
        refresh_census_table();
        
        
        // Change enabled states when the product is changed
        product_state_select.init("#case_state","#case_product", {{ product_states | tojson | safe }});
        
        $("form.case_setup").on('submit', function() {
            var form_data = $(this).serialize();
            var case_request = send_form_data(
                "PUT", 
                "{{ url_for("cases.update_case", case_id=case.id) }}",
                form_data
            );
            
            //var period_form_data = $("form.period_setup").serialize();
            var periods_request = send_form_data(
                "PUT", 
                "{{ url_for("cases.update_case_enrollment_periods", case_id=case.id) }}",
                form_data
            );
            var on_success = function(case_xhr, periods_xhr) {
                alert("Saved");
            };
            var on_failure = function(case_xhr, periods_xhr) {
                alert("There was a problem saving the data.");
            };
            $.when(case_request, periods_request).then(on_success, on_failure);
            
            return false; 
        });
        
        $('#csv-file-input').ace_file_input({
            no_file:'No File ...',
            btn_choose:'Choose File',
            btn_change:'Change File',
            droppable:false,
            onchange:null,
            thumbnail:false,
            whitelist:'csv'
        });
        
        $("#census-record-form").on("submit", function() {
            
            var form = this;
            var file_select = $(this).find("input[type=file]").get(0);
            var files = file_select.files;
            var form_data = new FormData();
            if (files.length !== 1) {
                alert("Please select a file");
                return false;
            } 
            
            // Add the file upload to the request.
            form_data.append('csv-file', files[0], files[0].name);
            form_data.append('upload_type', $("input[name=upload_type]:checked").val());    
            
            send_file_data("POST", "{{ url_for("cases.post_census_records", case_id=case.id) }}", 
                form_data, function(resp) {
                    census_errors_panel.error_records(resp.data.errors);
                    census_errors_panel.num_data_records(resp.data.records.length);
                    show_success_panel();
                    // Update the datatable
                    refresh_census_table();
                    /*
                    var new_rows = [];
                     
                    $.each(resp.data.records, function() {
                       var record = this;
                       new_rows.push([
                           '<a href="/manage_case/{{case.id}}/census/'+record.id+'"><span class="glyphicon glyphicon-edit"></span></a>',
                           record.ssn,
                            record.first,
                            record.last,
                            record.email,
                            record.sp_first,
                            record.sp_last,
                            record.completed_enrollment,
                            record.elected_coverage
                       ]);
                    });
                    table.dataTable().fnAddData(new_rows);
                    */
                }, function(xhr) {
                    if (xhr.status >= 400 && xhr.status < 500) {
                        show_error_panel();
                        var data = $.parseJSON(xhr.responseText).data;
                        census_errors_panel.error_records(data.errors);
                        
                        // Show error tooltips
                        $('.upload-error-table td.error').tooltip({placement: "auto left"});
                    } else {
                        alert("Sorry, there was a problem communicating with the server.");
                        reset_upload_modal();
                    }
                }, false);
            
            show_loading_panel();
            
            return false;
        });
        function show_loading_panel() {
            $(".form-panel").hide("slide");
            $(".loading-panel").show("slide");
            $(".processing-buttons").show("fade");
            $(".form-buttons").hide("fade");
        }
        function show_error_panel() {
            $(".loading-panel").hide("slide");
            $(".error-panel").show("slide");
            $(".error-buttons").show("fade");
            $(".processing-buttons").hide("fade");
        }
        function show_success_panel() {
            $(".loading-panel").hide("slide");
            $(".success-panel").show("slide");
            $(".success-buttons").show("fade");
            $(".processing-buttons").hide("fade");
        }
        function show_form_panel() {
            $(".modal-panel").hide("slide");
            $(".buttons-panel").hide("slide");
            $(".form-panel").show("slide");
            $(".form-buttons").show("slide");
        }
        
        function reset_upload_modal() {
            $(".modal-panel").hide();
            $(".buttons-panel").hide();
            $(".form-panel").show();
            $(".form-buttons").show();
        }
        $("#upload-btn").on("click", reset_upload_modal);
        $(".back-btn").on("click", show_form_panel);
        
        var CensusErrorsPanel = function() {
            var self = this;
            
            self.error_records = ko.observableArray([]);
            self.num_data_records = ko.observable(0);
        };
        window.census_errors_panel = new CensusErrorsPanel();
        ko.applyBindings(census_errors_panel, $("#census-upload-modal")[0]);
        
        
        $(".input-mask-month-day").mask("99/99");
       
        $('.panel-heading label').on('click', function(e) {
            if($(this).parents('.panel').children('.collapse-panel').hasClass('in')){
                e.preventDefault();
                e.stopPropagation();
            }
        });
        
        $("#export-btn").on("click", function() {
            alert("Not Available in this version"); 
        });
        
    });
    </script>
{% endblock %}