  {% extends "base_ace_latest.html" %}
  {% from "form_macros.html" import render_field_with_errors %}
  {% set active_page = 'nav_agent_manage_case' -%}
  {% block title %} - Agent Manage Case{% endblock %}

  {% block content %}
      <div class="row">
        <ul class="breadcrumb col-xs-12">
          <li><a href="{{ url_for('index') }}"><i class="ace-icon fa fa-home"></i> Home</a></li>
          <li><a href="{{ url_for('manage_cases') }}"><i class="ace-icon fa fa-briefcase"></i> Enrollment Cases</a></li>
          <li><a href="{{ url_for('manage_case', case_id=case.id) }}#enrollment">{{ census_record.case.company_name }}</a></li>
          <li class="active"><i class="ace-icon glyphicon glyphicon-user"></i> {{ census_record.employee_first }} {{ census_record.employee_last }}</li>
        </ul>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h1 class="header lighter">Edit Census Record</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h3>
            Enrollment history for {{census_record.employee_first}} {{census_record.employee_last}}
          </h3>
        </div>
      </div>
      {% if enrollment_data %}
        <div class="col-xs-12 table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Timestamp</th>
                <th>Product</th>
                <th>Status</th>
                <th>Coverage For</th>
                <th>Face Amount</th>
                <th>Annual Premium</th>
                <th></th>
            </thead>
            <tbody>
              {% for enrollment in enrollment_data %}
                  <tr style="background:rgba(50,50,50,.1)">
                    <td><strong data-bind="text: moment('{{ enrollment.time }}').format('MM/DD/YYYY hh:mma')"></strong></td>
                    <td><strong>{{enrollment.product_name}}</strong></td>
                    <td><strong>{{enrollment.status}}</strong></td>
                    {% if enrollment.status=='declined'%}
                      <td><strong>N/A</strong></td>
                      <td><strong>N/A</strong></td>
                      <td><strong>N/A</strong></td>
                      <td>
                        {% if is_admin %}
                          <button class="btn btn-danger" data-bind="click: function() {delete_enrollment_record({{ enrollment.id }})}"><i class="ace-icon fa fa-trash-o icon-only"></i></button>
                        {% endif %}
                      </td>
                    {% else %}
                      <td>
                      {% if enrollment.status in ["Pending Employee", "Pending Agent"] and enrollment.envelope_id and current_agent_id != None and current_agent_id == enrollment.agent_id %}
                        <button class="btn btn-warning btn-sm sign-envelope" data-id="{{ enrollment.envelope_id }}"><i class="icon fa fa-pencil"></i> Sign</button>
                      {% endif %}
                      {% if enrollment.status in ["Enrolled"] and enrollment.envelope_id and (can_edit_case or current_agent_id == enrollment.agent_id) %}
                        <button class="btn btn-primary btn-sm sign-envelope" data-id="{{ enrollment.envelope_id }}"><i class="icon fa fa-file"></i> View</button>
                      {% endif %}

                      </td>
                      <td></td>
                      <td><strong>{{enrollment.total}}</strong></td>
                      <td>
                        {% if is_admin %}
                          <button class="btn btn-danger" data-bind="click: function() {delete_enrollment_record({{ enrollment.id }})}"><i class="ace-icon fa fa-trash-o icon-only"></i></button>
                        {% endif %}
                      </td>
                    {% endif %}
                  </tr>

                  {% if enrollment.status != 'declined'%}
                    {% for coverage in enrollment.coverage %}
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{coverage.who}}</td>
                        <td data-bind="text: formatThousand('{{coverage.coverage or 'No Coverage'}}')"></td>
                        <td data-bind="text: formatThousand('{{coverage.annual_premium}}')"></td>
                        <td>

                        </td>
                      </tr>
                    {% endfor %}
                  {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
          <div class="text-center col-xs-12">
            <p>No enrollments</p>
          </div>
      {% endif %}
      </div>
      <div class="row">
        <div class="col-xs-12">
        {% if case_is_enrolling %}
          {% if enrollment_status == None %}
            <button class="btn btn-primary btn-sm enroll-employee" data-id="{{census_record.id}}">Enroll</button>
          {% elif enrollment_status == "enrolled" %}
            <button class="btn btn-primary btn-sm enroll-employee" data-id="{{census_record.id}}"><i class="fa fa-plus"></i> Add Coverage</button>
          {% endif %}
        {% endif %}
        </div>
      </div>
      <hr />
      <form class="col-xs-12 form-horizontal" id="edit-record-form" action="{{ url_for("cases.update_census_record", case_id=case.id, census_record_id=census_record.id) }}">
          <div class="row">

              <div class="col-sm-6 col-xs-12">
                  <h3>Employee:</h3>
                  {{ render_field_with_errors(form.employee_first) }}
                  {{ render_field_with_errors(form.employee_last) }}
                  {{ render_field_with_errors(form.employee_gender) }}

                  {{ render_field_with_errors(form.employee_ssn, length=9) }}
                  {{ render_field_with_errors(form.employee_birthdate) }}
                  {{ render_field_with_errors(form.employee_email) }}
                  {{ render_field_with_errors(form.employee_phone) }}

                  {{ render_field_with_errors(form.employee_height_inches) }}
                  {{ render_field_with_errors(form.employee_weight_lbs) }}
                  {{ render_field_with_errors(form.employee_smoker) }}


                  {{ render_field_with_errors(form.employee_street_address) }}
                  {{ render_field_with_errors(form.employee_street_address2) }}
                  {{ render_field_with_errors(form.employee_city) }}
                  {{ render_field_with_errors(form.employee_state) }}
                  {{ render_field_with_errors(form.employee_zip) }}
              </div>
              <div class="col-sm-6 col-xs-12">
                  <h3>Spouse:</h3>
                  {{ render_field_with_errors(form.spouse_first) }}
                  {{ render_field_with_errors(form.spouse_last) }}
                  {{ render_field_with_errors(form.spouse_gender) }}

                  {{ render_field_with_errors(form.spouse_ssn, length=9) }}
                  {{ render_field_with_errors(form.spouse_birthdate) }}
                  {{ render_field_with_errors(form.spouse_email) }}
                  {{ render_field_with_errors(form.spouse_phone) }}

                  {{ render_field_with_errors(form.spouse_height_inches) }}
                  {{ render_field_with_errors(form.spouse_weight_lbs) }}
                  {{ render_field_with_errors(form.spouse_smoker) }}

                  {{ render_field_with_errors(form.spouse_street_address) }}
                  {{ render_field_with_errors(form.spouse_street_address2) }}
                  {{ render_field_with_errors(form.spouse_city) }}
                  {{ render_field_with_errors(form.spouse_state) }}
                  {{ render_field_with_errors(form.spouse_zip) }}
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <h3>Children</h3>
                  {% for fields in child_form_fields %}

                      <div class="row">
                      {% for field in fields %}
                          <div class="col-sm-4">
                          {{ render_field_with_errors(field) }}
                          </div>
                      {% endfor %}
                      </div>
                  {% endfor %}

                  {% if can_edit_case %}
                      <div class="pull-left clearfix">
                          <button type="button" class="btn btn-danger delete" data-bind="click: function() {delete_census_record({{ census_record.id }})}"><i class="ace-icon fa fa-trash-o"></i> Delete Record</button>
                      </div>
                      <div class="pull-right clearfix">
                          <button type="button" class="btn btn-sm" id="go-back">Cancel</button>
                          <button type="submit" class="btn btn-primary">Save Changes</button>
                      </div>
                  {% else %}
                      <div class="pull-right clearfix">
                          <button type="button" class="btn btn-primary" id="go-back">Return to case</button>
                      </div>
                  {% endif %}

              </div>
          </div>
      </form>

{#  <delete-confirm-modal params="#}
{#      title: 'Delete Enrollment Data',#}
{#      message: 'This will permanently delete the selected enrollment data; it will no longer be retrievable.  Are you sure you want to permanently remove this enrollment?',#}
{#      callback: function() { do_delete_ },#}
{#      modal_observable: enrollment_to_delete"></delete-confirm-modal>#}

  {# Delete modal for enrollment record #}
  <div data-bind="with: enrollment_deleter, modal: is_delete_enrollment_modal_showing" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span
                                              aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Delete Enrollment Data</h4>
        </div>
        <div class="modal-body">
          <div class="form-panel modal-panel">
            <div class="row">
              <div class="col-xs-12">
                <p>
                This will permanently delete the selected enrollment data; it will no longer be retrievable.
                   Are you sure you want to permanently remove this enrollment?
                </p>
                <br>
                <label>
                  Type DELETE in the following box for confirmation:
                  <input data-bind="textInput: confirmation_text">
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="form-buttons buttons-panel">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button class="btn btn-danger"
                    data-bind="enable: is_delete_text_valid, click: $parent.do_delete_enrollment_record">PERMANENT DELETE</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  {# Delete modal for census record #}
  <div data-bind="with: record_deleter, modal: is_delete_census_record_modal_showing" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span
                                              aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Delete Enrollment Data</h4>
        </div>
        <div class="modal-body">
          <div class="form-panel modal-panel">
            <div class="row">
              <div class="col-xs-12">
                <p>

              {% if census_record.enrollment_applications %}
                  WARNING: This census record has enrollments. Deleting the record will remove all enrollment data associated. Do you still want to delete this census record?
              {% else %}
                  Please confirm you want to delete this census record.
              {% endif %}
                </p>
                <br>
                <label>
                  Type DELETE in the following box for confirmation:
                  <input data-bind="textInput: confirmation_text">
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="form-buttons buttons-panel">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button class="btn btn-danger"
                    data-bind="enable: is_delete_text_valid, click: $parent.do_delete_census_record">PERMANENT DELETE</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <loading-modal params="options: loading_options"></loading-modal>

  {% endblock %}

  {% block page_js %}

      <script>

      $(function() {

          function DeleteConfirmationVM(deleted_object_observable) {
              var self = this;

              self.deleted_object_observable = deleted_object_observable;

              self.confirmation_text = ko.observable("");

              self.is_delete_text_valid = ko.pureComputed(function() {
                  return self.confirmation_text() === "DELETE";
              });

              deleted_object_observable.subscribe(function(new_val) {
                  if (new_val !== null) {
                    // Clear delete text box
                    self.confirmation_text("");
                  }
              });
          }

          function CensusRecordViewModel() {
              var self = this;
              self.formatThousand = function(amount) {
                  return amount.substr(0, amount.length-3)+amount.substr(amount.length-3).replace("000", "K");
              };

              self.is_delete_enrollment_modal_showing = ko.observable(false);
              self.enrollment_to_delete = ko.observable(null);
              self.enrollment_deleter = new DeleteConfirmationVM(self.enrollment_to_delete);
              self.loading_options = ko.observable(null);

              self.delete_enrollment_record = function(id) {
                  // Set the ID
                  self.enrollment_to_delete(id);

                  // Toggle to ensure we trigger the modal
                  self.is_delete_enrollment_modal_showing(false);
                  self.is_delete_enrollment_modal_showing(true);
              };

              self.do_delete_enrollment_record = function() {
                  var id = self.enrollment_to_delete();

                  // hide modal, show loading
                  self.is_delete_enrollment_modal_showing(false);
                  self.loading_options({message: "Deleting Record, please wait..."});

                  var url = urls.get_delete_enrollment_record_url(id);
                  $.ajax({method: "DELETE", url: url}).success(function() {
                    window.location.reload();
                  }).error(function() {
                    alert("There was a problem deleting the enrollment record on the server.");
                    self.loading_options(null);
                  });
              };

              self.is_delete_census_record_modal_showing = ko.observable(false);
              self.record_to_delete = ko.observable(null);
              self.record_deleter = new DeleteConfirmationVM(self.record_to_delete);

              self.delete_census_record = function(id) {
                  self.record_to_delete(id);

                  // Toggle the modal
                  self.is_delete_census_record_modal_showing(false);
                  self.is_delete_census_record_modal_showing(true);
              };

              self.do_delete_census_record = function() {
                  self.is_delete_census_record_modal_showing(false);
                  self.loading_options({message: "Deleting Record, please wait..."});

                  send_form_data("DELETE", "{{ url_for('cases.delete_census_record', case_id=case.id, census_record_id=census_record.id) }}",
                      {}, function() {
                      window.location.href = "{{ url_for('manage_case', case_id=case.id) }}#enrollment";
                  }, function() {
                      alert("Sorry, there was a problem deleting this census record");
                  });
              }
          }

          window.vm = new CensusRecordViewModel();
          ko.applyBindings(window.vm);

          $("#go-back").on("click", function() {
              window.location.href = ("{{ url_for("manage_case", case_id=case.id) }}#enrollment")
          });

          {# Hide the delete button if we are not admin and this has enrollments #}
          {% if census_record.enrollment_applications and not is_admin %}
              $("button.delete").hide();
          {% endif %}

          $(document).on('click', "button.enroll-employee", function() {
            var record_id = $(this).attr('data-id');

            submit_to_url("{{ url_for('in_person_enrollment') }}", {
              record_id: record_id,
              enrollment_city: "{{case.situs_city}}",
              enrollment_state: "{{case.situs_state}}"
            });
          });

          $(document).on('click', "button.sign-envelope", function() {
            var envelope_id = $(this).attr('data-id');
            agent_inbox.sign_envelope(envelope_id);
          });

          $("#edit-record-form").on("submit", function() {

              try {
                  var data = $(this).serialize();
                  $.ajax({
                      url: $(this).attr('action'),
                      method: "PUT",
                      data: data,
                      dataType:'json',
                      success: function(results) {
                          //var created_case = new Case(results.data);
                          //self.managed_cases.push(created_case);
                          window.location.href = "{{ url_for('manage_case', case_id=case.id) }}#enrollment";
                      },
                      error: function(xhr) {
                          console.log(xhr.responseJSON.errors)
                      }
                  });
              } catch(e) {
                  console.error(e);
              }

              return false;
          });

          {% if not can_edit_case %}
              $("input, select").prop("disabled", true);
          {% endif %}
      });
      </script>
  {% endblock %}
