{% extends "base.html" %}
{% set active_page = 'nav_agent_manage_cases' -%}
{% block title %} - Agent Manage Cases{% endblock %}

{% block head %}
 {{ super() }}
    
{% endblock %}

{% block content %}

<h3>Manage Cases</h3>

<a class="btn btn-primary" data-bind="click: show_new_case_form, visible: !is_case_form_visible()">Setup New Case</a>

<div class="row" data-bind="visible: is_case_form_visible">
    <div class="col-xs-12 col-md-6">
        <form id="new-case-form" class="form-horizontal" data-bind="submit: create_case" method="POST" action="{{ url_for("cases.create_case") }}">
                
        <div class="widget-box">
            <div class="widget-header">
                <h3>Basic Setup</h3>
            </div>
            <div class="widget-body">
                <div class="widget-main">  
                    
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="company_name">Company Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="company_name" name="company_name" placeholder="Company Name">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="case_product">Product</label>
                        <div class="col-md-9">
                            <select id="case_product" name="case_product" class="form-control" size="5" multiple="true">
                                {% for product in product_choices %}
                                    <option value="{{product['short_name']}}" 
                                    {%- if product["disabled"] -%}
                                    disabled="1"
                                    {%- endif -%}
                                    >{{product["name"]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="case_state">State</label>
                        <div class="col-md-9">
                            <select id="case_state" name="case_state" class="form-control">
                                <option></option>
                                {% for state in all_states %}
                                    <option value="{{state['short_name']}}">{{state["name"]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                            
                </div>
                <div class="widget-toolbox clearfix padding-8">
                    <button type="submit" class="btn-primary btn-sm pull-right">Save</button>
                </div>
            </div>
        </div>
            
        </form> 
    </div>
</div>

    
<h4>Case Inventory</h4>
<hr>
<div class="row">
    <div class="col-xs-12">
        <div class="table-header">
            Managed Cases
        </div>
        {% if not agent_cases %}
            <div class="row">
                <h4 class="text-center lighter">You have not created any cases yet.</h4>
            </div>
        {% else %}
            <div class="table-responsive">
                <table id="cases_table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>State</th>
                            <th>Product</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for case in agent_cases %}
                            <tr>
                                <td><a href="{{ url_for("manage_case", case_id=case.id) }}">{{ case.company_name }}</a></td>
                                <td>{{ case.situs_state }}</td>
                                <td>{{ case.get_product_names() }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        
    </div>
</div>
{% endblock %}

{% block page_js %}
<script>
    $(function() {
        function ManageCasePage() {
            var self = this;
            self.is_case_form_visible = ko.observable(false);
            
            self.show_new_case_form = function() {
                self.is_case_form_visible(true);
            };
            
            self.create_case = function() {
                var data = {
                    company_name: $("#company_name").val(),
                    situs_state: $("#case_state").val(),
                    products: $("#case_product").val()
                };
                
                self.reset_new_case_form();
                
                $.ajax("{{ url_for("cases.create_case") }}", {
                    type: 'POST',
                    processData: false,
                    contentType:'application/json',
                    data: JSON.stringify(data),
                    dataType:'json',
                    success: function(results) {
                        //var created_case = new Case(results.data);
                        //self.managed_cases.push(created_case);
                        window.location.href = "{{ url_for("manage_case", case_id="") }}"+results.data.id;
                    },
                    error: function(xhr) {
                        console.log(xhr.responseJSON.errors)
                    }
                });
            };
            
            self.reset_new_case_form = function() {
                self.is_case_form_visible(false);
            };
        }
        
        $("#cases_table").dataTable();
        
        // Change enabled states when the product is changed
        product_state_select.init("#case_state","#case_product", {{ product_states | tojson | safe }});
        
        
        var form = new ManageCasePage({{ product_states | tojson | safe }});
        window.form = form;
        
        ko.applyBindings(form); 
    });
</script>
{% endblock %}