{% block content %}
<div class="self-enroll self-enroll-email">
{{ render_field_with_errors(form.email_sender_name, default=agent_name, class_="form-control", **{"data-bind": "value: email.sender_name"}) }}
  {{ render_field_with_errors(form.email_sender_email, default=agent_email, class_="form-control", **{"data-bind": "value: email.sender_email"}) }}
  {{ render_field_with_errors(form.email_subject, default=default_email_subject, class_="form-control", **{"data-bind": "value: email.subject"}) }}

  <div class="form-group">
    <div class="col-sm-3 control-label">
      <label for="email_greeting_salutation">Targeted Email Greeting</label>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-xs-3">
        {{ form.email_greeting_salutation(placeholder="Optional Salutation", class_="form-control", **{"data-bind": "value: email.greeting_salutation"}) }}
        </div>
        <div class="col-xs-9">
        {{ form.email_greeting_type(class_="form-control", **{"data-bind":"value: email.greeting_type"}) }}
        </div>
      </div>
    </div>
  </div>
  {{ render_field_with_errors(form.email_message, class_='wysiwyg-editor', default=default_email_message, **{'data-bind':"wysiwyg: 'simple', value: email.message"}) }}
  <div class="col-xs-9 col-xs-offset-3">
    <a id="reset-email-message" class="btn btn-mini pull-right">Reset to default <span class="hidden-sm hidden-xs">message &amp; subject</span></a>
  </div>
</div>
{% endblock %}

