{% extends 'base_ace_latest.html' -%}
{% from 'form_macros.html' import render_checkbox, render_field_with_errors -%}
{% set active_page = 'nav_agent_manage_case' -%}

{% set default_email_message = """
""".format(agent_name=agent.name()) -%}

{% set default_page_text = """
You have reached the enrollment page for <strong>{company_name}</strong>, which is offering you important insurance
benefits from 5Star Life.
<br><br>
This enrollment should take less than 5 minutes to complete. To view details of the offered products, see the link(s) below.
Please follow the instructions carefully on the next page, stepping through the simple interview using the next/previous
buttons at the lower right of the page. At the end you will be presented with a complete application form to electronically sign.
<br><br>
Products:
<br><br>
{products}<br>""".format(company_name=case.company_name, products=product_list) -%}

{% set default_page_disclaimer = """
This webpage, and any accompanying pages, is solely intended for the applicants of <strong>{company_name}</strong> for
insurance benefits. If you are not the intended recipient, you are hereby notified that any use, dissemination,
distribution, or copying of the information contained herein is strictly prohibited. You are further hereby
requested to cease using this site for any purpose.
<br><br>
 """.format(company_name=case.company_name) -%}

{% block title %} - Manage Self-enrollment{% endblock -%}

{% block content -%}
  <div id="save-success" class="alert alert-block alert-success" style="display: none;">
    <strong><i class="ace-icon fa fa-check"></i></strong>
    Successfully saved self-enrollment settings.
  </div>
  <div id="save-fail" class="alert alert-danger" style="display: none;">
    <strong><i class="ace-icon fa fa-exclamation-triangle"></i></strong>
    Failed to save self-enrollment settings.
  </div>
  <h1 class="header lighter">
    Edit Self-enrollment Setup for &quot;{{ case.company_name }}&quot;
    {% if case.group_number -%}
    ({{ case.group_number }})
    {% endif -%}
  </h1>
  <form class="form-horizontal" id="edit-self-enrollment-form" action="{{ url_for('cases.update_self_enrollment_setup', case_id=case.id) }}" method="PUT">
    <div class="row">
      <div class="col-xs-12">
        {% if not case.active -%}
        <div class="label label-danger">
          <em>NOTE</em>: Case is currently not active. Self-enrollment links will not work unless the case is active.
        </div>
        {% endif -%}
        <h3>Self-enrollment type</h3>
        <div class="form-group self-enroll self-enroll-type">
          {% if case.self_enrollment_setup.links|count == 0 -%}
          {{ render_field_with_errors(form.self_enrollment_type) }}
          {% else -%}
          {{ render_field_with_errors(form.self_enrollment_type, disabled=true) }}
          {% endif -%}
          <div class="col-sm-9 col-sm-offset-3">
            <a class="btn btn-primary" href="#" disabled>Send email</a>
{#            {% if case.self_enrollment_setup is not none -%}#}
{#              {% if case.self_enrollment_setup.links|count == 0 -%}#}
{#              <a class="btn btn-primary" href="{{ url_for('cases.generate_self_enrollment_link', self_enrollment_setup_id=case.self_enrollment_setup.id) }}">#}
{#                <strong><i class="fa fa-link"></i></strong>#}
{#                Generate self-enroll link(s)#}
{#              </a>#}
{#              {% endif -%}#}
{#              <span>#}
{#                <i class="fa fa-caret-right"></i>#}
{#                <strong>{{ case.self_enrollment_setup.links|count }}</strong> links have been generated#}
{#                (census contains <strong>{{ case.census_records|count }}</strong> records).#}
{#              </span>#}
{#            {% else -%}#}
{#              <div class="alert alert-warning">You can generate links after clicking <strong>Save Changes</strong> below</div>#}
{#            {% endif -%}#}
          </div>
        </div>
        <h3>Email</h3>
        <div class="form-group self-enroll self-enroll-email">
          {{ render_field_with_errors(form.email_sender_name, style="width: 100%;", default=agent.name()) }}
          {{ render_field_with_errors(form.email_sender_email, default=agent.email) }}
          {{ render_field_with_errors(form.email_message, class_='wysiwyg-editor', default=default_email_message) }}
          <div class="col-xs-9 col-xs-offset-3">
            <a id="reset-email-message" class="btn btn-xs pull-right">Reset to default message</a>
          </div>
        </div>
        <div class="form-group self-enroll self-enroll-email-off">
          <div class="col-sm-9 col-sm-offset-3">
            <div class="alert alert-info">
              You must send the email/enrollment link through your usual email program when using generic self-enrollment.
            </div>
          </div>
        </div>
        <h3>Landing Page</h3>
        <div class="form-group self-enroll self-enroll-landing-page">
          {{ render_field_with_errors(form.page_title, default="Welcome to your Benefit Enrollment") }}
          {{ render_field_with_errors(form.page_text, class_='wysiwyg-editor', default=default_page_text) }}
          <a id="reset-page-text" class="btn btn-xs pull-right">Reset to default message</a>
          <br><br>
          {{ render_field_with_errors(form.page_disclaimer, class_='wysiwyg-editor', default=default_page_disclaimer) }}
          <a id="reset-page-disclaimer" class="btn btn-xs pull-right">Reset to default message</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
{#        <div class="pull-left clearfix">#}
{#          <button type="button" class="btn btn-danger delete">Delete self-enrollment</button>#}
{#        </div>#}
        <div class="pull-right clearfix">
          <button type="button" class="btn btn-sm" id="go-back">Cancel</button>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </div>
    </div>
    {{ render_field_with_errors(form.created_by, value=agent.id) }}
  </form>
{% endblock %}

{% block page_js %}
  <script>
    $(function() {
      // Show or hide landing page as necessary
      $('#self_enrollment_type').change(function() {
        if($('#self_enrollment_type option:selected').val() == 'case-generic') {
          $('.self-enroll-email').hide();
          $('.self-enroll-email-off').show();
        } else {
          $('.self-enroll-email').show();
          $('.self-enroll-email-off').hide();
        }
      }).change();

      // Buttons to reset text
      $('#reset-email-message').click(function() {
        $('#email_message').html("{{ default_email_message|replace('\n', '\\n')|safe }}").focus();
      });
      $('#reset-page-text').click(function() {
        $('#page_text').html("{{ default_page_text|replace('\n', '\\n')|safe }}").focus();
      });
      $('#reset-page-disclaimer').click(function() {
        $('#page_disclaimer').html("{{ default_page_disclaimer|replace('\n', '\\n')|safe }}").focus();
      });

      // Set default values if applicable
      $.each(['#email_sender_name', '#email_sender_email', '#email_message',
        '#page_title', '#page_text', '#page_disclaimer'], function(index, value) {
        if($(value).prop('tagName') == 'DIV') {
          if($(value).html() == '') {
            $(value).html($(value).attr('default'));
          }
        } else {
          if($(value).val() == '') {
            $(value).val($(value).attr('default'));
          }
        }
      });

      $('#go-back').on('click', function() {
        window.history.back();
      });

      $('#email_message').ace_wysiwyg({
        toolbar: [
          'bold',
          'italic',
          'underline',
          null,
          'createLink',
          'unlink',
          null,
          'insertImage',
          null,
          'undo',
          'redo',
        ]
      });
      $('#page_text').ace_wysiwyg();
      $('#page_disclaimer').ace_wysiwyg();

{#      $('#edit-self-enrollment-form').submit(function() {#}
{#        $('#email_message').val($('#editor-email-message').val());#}
{#        $('#page_text').val($('#editor-page-text').val());#}
{#        $('#page_disclaimer').val($('#editor-page-disclaimer').val());#}
{#      });#}

      {# Hide the delete button if we are not admin and this has enrollments #}
{#      {% if census_record.enrollment_applications and not is_admin %}#}
{#        $('button.delete').hide();#}
{#      {% endif %}#}
{##}
{#      $('button.delete').on('click', function() {#}
{#        {% if census_record.enrollment_applications  %}#}
{#          if (!confirm("WARNING: This census record has enrollments. Deleting the record will remove all enrollment data associated. Do you still want to delete this census record?")) {#}
{#            return;#}
{#          }#}
{#        {% else %}#}
{#          if (!confirm("Please confirm you want to delete this census record")) {#}
{#            return;#}
{#          }#}
{#        {% endif %}#}
{##}
{#        send_form_data('DELETE', "{{ url_for('cases.delete_census_record', case_id=case.id, census_record_id=census_record.id) }}",#}
{#                {}, function() {#}
{#                  window.location = "{{ url_for('manage_case', case_id=case.id) }}";#}
{#                }, function() {#}
{#                  alert("Sorry, there was a problem deleting this census record");#}
{#                });#}
{#      });#}

      $('#edit-self-enrollment-form').on('submit', function() {
        $('#save-success').hide();
        $('#save-fail').hide();
        try {
          // Trigger 'submit' on hidden fields
          $('input[type="hidden"]').click();
          var data = $(this).serialize();
          console.log(data);
          $.ajax({
            url: $(this).attr('action'),
            method: 'PUT',
            data: data,
            dataType: 'json',
            success: function(results) {
              $('#save-success').show();
            },
            error: function(xhr) {
              $('#save-fail').show();
            }
          });
        } catch(e) {
          console.error(e);
        }
        return false;
      })
    });
  </script>
{% endblock -%}
