{% extends "base.html" %}

{% block content %}
<h3 class="header header-color-red">Upload File Errors</h3>

<div class="row table-responsive">
    <div class="col-md-12" style="width: 100%; overflow: auto;">
     <table class="table table-bordered">
     <thead>
        <tr>
        {% for val in records[0] %}
            <th>{{ val }}</th>
        {% endfor %}
        </tr>
     </thead>
     <tbody>
    {% for row in errors %}
        {% if records %}
            <tr>
            {% for val in records[loop.index-1].values() %}
                <td>{{ val }}</td>
            {% endfor %}
            </tr>
        {% endif %}
        <tr class="row">
          <td colspan="20">
            <ul class="col-md-offset-1">
                {% for error in row %}
                    <div class="error">{{ error.message }}</div>
                {% endfor %}
            </ul>
          </td>
        </tr>
    {% endfor %}
     </tbody>
    </table>
    </div>
</div>
    
{% endblock %}

{% block page_js %}
<script>
    $(function() {
        //$("table").dataTable();
    });
</script>
{% endblock %}