{% extends "base_ace_latest.html" %}


{% block content %}

  <div class="container" data-bind="visible: true" style="display: none;">
    <h3>Submissions</h3>

    <div>
      <div>
        <label>Start Date: <input type="date" name="start_date" data-bind="value: filter_start_date" /> </label>
        <label>End Date: <input type="date" name="end_date" data-bind="value: filter_end_date" /> </label>
        <label>Submission Type:
          <select type="date" name="submission_type" data-bind="value: filter_submission_type, options: submission_type_options, optionsCaption: '(Select Type)'">
          </select>
        </label>
        <label>Submission Status:
          <select type="date" name="submission_status" data-bind="value: filter_submission_status, options: submission_status_options, optionsCaption: '(Select Status)'">
          </select>
        </label>
      </div>

      <div data-bind="if: clipped_length"><span class="label label-warning">
        Too many results to show.
        Showing first <span data-bind="text: submissions().length"></span> submissions from
        <span data-bind="text: clipped_length"></span> matching results.
      </div>

      <table class="table table-striped" id="submissions" data-bind="visible: !is_loading()">
        <thead>
          <tr>
            <th>Id</th>
            <th>Status</th>
            <th>Time</th>
            <th>Submission Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody data-bind="foreach: submissions">
          <tr>
            <td data-bind="text: id"></td>
            <td><span class="label"
                      data-bind="text: status_display, css: get_submission_status_label_class(status)"></span></td>
            <td data-bind="text: time"></td>
            <td data-bind="text: type_display"></td>
            <td>
              <button class="btn btn-xs" data-bind="click: function() {$parent.toggle_selected_submission($data)}">
                View Submission
              </button>
            </td>
          </tr>
          <tr data-bind="visible: $data === $root.selected_submission()">
            <td colspan="5" style="border: 1px solid; padding: 3em">
              <div data-bind="visible: $root.is_submission_loading()">Loading Submission...</div>
              <div class="container" data-bind="visible: !$root.is_submission_loading()">
                <h4><span data-bind="text: type_display"></span></h4>
                <h5> Created <span data-bind="text: time"></span></h5>
                <h5>Status: <span class="label" data-bind="text: status, css: get_submission_status_label_class(status)"></span></h5>

                <h5>Logs:</h5>
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Date Attempted</th>
                      <th>Status</th>
                      <th>Message</th>
                    </tr>
                  </thead>
                  <tbody data-bind="foreach: $root.submission_logs">
                    <tr>
                      <td data-bind="text: processing_time"></td>
                      <td data-bind=""><span class="label" data-bind="text: status, css: get_submission_status_label_class(status)"></span></td>
                      <td><pre style="max-width: 600px" data-bind="text: message"></pre></td>
                    </tr>
                  </tbody>
                </table>
                <h5>Applications:</h5>
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Products</th>
                    </tr>
                  </thead>
                  <tbody data-bind="foreach: $root.submission_apps">
                    <tr>
                      <td><a  data-bind="text: id, attr: {href: census_page_link}"></a></td>
                      <td data-bind="text: employee_first + ' ' + employee_last"></td>
                      <td data-bind="text: get_products()"></td>
                    </tr>
                  </tbody>
                </table>

                <h5>Data</h5>
                <div><a target="_blank" data-bind="attr: {href: '/submissions/'+id+'/data'}">Download Data</a></div>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
  </div>

  <div data-bind="if: is_loading">Loading...</div>


</div>

{% endblock %}

{% block page_js %}
  <script>
    function create_product_display_string(case_data) {
      var product_codes = _.map(case_data.products, function (product) { return product.code; });
      product_codes = _.sortBy(product_codes);
      return product_codes.join(', ');
    }

    function format_datetime(datetime) {
      return datetime.format('YYYY-MM-DD') + ' at ' + datetime.format('h:mm a');
    }

    function get_submission_status_label_class(status) {
      switch (status) {
        case 'success':
          return 'label-success';
        case 'failure':
          return 'label-danger';
        case 'processing':
          return 'label-info';
        case 'pending':
          return 'label-warning';
        default:
          return 'label-default'
      }
    }

    function SubmissionViewModel(submission) {
      'use strict';
      var self = this;

      self.id = submission.id;
      self.status = submission.status;
      self.product_id = submission.product_id;
      self.created_at = moment(submission.created_at);
      //self.data = submission.data;
      self.type = submission.submission_type;
      self.product = submission.product;

      // Additional variables
      self.time = format_datetime(self.created_at);
      self.type_display = _.capitalize(self.type);
      self.status_display = _.capitalize(self.status);
      self.label_class = get_submission_status_label_class(self.status);

{#      self.logs = _.chain(submission.submission_logs)#}
{#          .map(function (log) {#}
{#            log.time = moment(log.processing_time);#}
{#            return log;#}
{#          })#}
{#          .sortByOrder(['time'], ['desc'])#}
{#          .value();#}
{#      self.applications = _.chain(submission.enrollment_applications)#}
{#          .sortBy('id')#}
{#          .value();#}

{#      self.has_logs = self.logs.length > 0;#}
{#      self.has_applications = self.applications.length > 0;#}

      // Functions
{#      self.toggle_showing_logs = function toggle_showing_logs() {#}
{#        $('.logs_' + self.id).collapse('toggle');#}
{#      };#}
{#      self.toggle_showing_applications = function toggle_showing_applications() {#}
{#        $('.applications_' + self.id).collapse('toggle');#}
{#      }#}
    }

    function SubmissionsViewModel(submissions) {
      'use strict';
      var self = this;

      self.is_loading = ko.observable(true);
      self.is_submission_loading = ko.observable(false);

      self.submissions = ko.observableArray();
      self.clipped_length = ko.observable();
      self.selected_submission = ko.observable(null);
      self.submission_logs = ko.observableArray();
      self.submission_apps = ko.observableArray();


      self.filter_start_date = ko.observable(moment().subtract(14, 'days').format("YYYY-MM-DD"));
      self.filter_end_date = ko.observable();
      self.filter_submission_type = ko.observable();
      self.filter_submission_status = ko.observable();

      var TYPE_DELL_CSV_GENERATION = 'HI and ACC CSV Generation';
      var TYPE_DELL_EXPORT = 'HI and ACC CSV submission to Dell';
      var TYPE_DELL_STP_XML = 'STP XML submission to Dell';
      var TYPE_DELL_PDF_SFTP = 'PDF submission to Dell via SFTP';
      var TYPE_DOCUSIGN = 'Submit to Docusign';
      var TYPE_STATIC_BENEFIT = 'Static Benefit';
      var TYPE_PAYLOGIX_CSV_GENERATION = 'Paylogix CSV Generation';
      var TYPE_PAYLOGIX_EXPORT = 'Paylogix Export';

      self.submission_type_options = [
        TYPE_DELL_CSV_GENERATION,
              TYPE_DELL_EXPORT,
              TYPE_DELL_STP_XML,
              TYPE_DELL_PDF_SFTP,
              TYPE_STATIC_BENEFIT,
              TYPE_PAYLOGIX_CSV_GENERATION,
              TYPE_PAYLOGIX_EXPORT
      ];
      self.submission_status_options = ['success', 'pending', 'failure']

      self.fetch_submissions = ko.computed(function() {
        self.is_loading(true);
        var params = {};
        if (self.filter_start_date() && moment(self.filter_start_date()).isValid()) {
          params.start_date = moment(self.filter_start_date()).format("YYYY-MM-DD");
        }
        if (self.filter_end_date() && moment(self.filter_end_date()).isValid()) {
          params.end_date = moment(self.filter_end_date()).format("YYYY-MM-DD");
        }
        if (self.filter_submission_type) {
          params.submission_type = self.filter_submission_type();
        }
        if (self.filter_submission_status) {
          params.submission_status = self.filter_submission_status();
        }
        $.getJSON('/submissions', params).then(function(resp) {
          var submissions = _.map(resp.data.submissions, function (submission) { return new SubmissionViewModel(submission); });
          self.submissions(submissions);
          self.clipped_length(resp.data.clipped_length ? resp.data.clipped_length : null);
          self.is_loading(false);

        });
      });

      self.toggle_selected_submission = function (submission) {
        if (self.selected_submission() === submission) {
          self.selected_submission(null);
          return;
        }

        self.selected_submission(submission);

        self.is_submission_loading(true);
        var apps_req = $.getJSON('/submissions/'+submission.id+'/applications');
        var logs_req = $.getJSON('/submissions/'+submission.id+'/logs');
        $.when(apps_req, logs_req
          ).then(function(apps_resp, logs_resp) {
            self.submission_apps(_.map(apps_resp[0].data, function (app_data) {
              return new SubmissionApp(app_data)
            }));
            self.submission_logs(_.map(logs_resp[0].data, function (log_data) {
              return new SubmissionLog(log_data);
            }));

          }).done(function() {
            self.is_submission_loading(false)
          });
      };

      self.exit_submission_view = function () {
        self.selected_submission(null);
        self.submission_logs([]);
        self.submission_apps([]);
      }

    }

    var SubmissionApp = function(data) {
      var self = this;
      self.data = data;
      self.get_products = function() {
        var product_names = _.map(_.filter(self.data.coverages, function(coverage) {
          return !coverage.did_decline;
        }), function(coverage) {
          return coverage.product.name;
        });

        return _.uniq(product_names).join(", ");
      };
      self.app_data = JSON.parse(data.standardized_data);

      self.id = data.id;
      self.census_page_link = "/enrollment-case/" + data.case_id + "/census/" + data.census_record_id;
      self.employee_first = self.app_data[0].employee.first;
      self.employee_last = self.app_data[0].employee.last;
    };

    var SubmissionLog = function(data, submission) {
      var self = this;

      self.submission = submission;

      self.id = data.id;
      self.processing_time = data.processing_time;
      self.status = data.status;
      self.message = data.message;
    };

    var viewModel = new SubmissionsViewModel();
    window.viewModel = viewModel;
    window.viewModel.fetch_submissions();
    ko.options.deferUpdates = true;
    ko.applyBindings(viewModel);
  </script>
{% endblock %}