  {% extends "base.html" %}
  {% set active_page = "NULL" -%}
  {% block title %} - Admin Console{% endblock %}

  {% block head %}
  {{ super() }}
  <!-- page-specific header data -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- ace styles -->
  <link href="{{ url_for('static', filename='css/ace-fonts.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/ace.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/five_star_ace_overlay.css') }}" rel="stylesheet">

  <!-- custom css -->
  <link href="{{ url_for('static', filename='css/five_star.css') }}" rel="stylesheet">


  {% endblock %}

  {% block content %}
  <div class="container custom-container">
    <div class="va-wrapper">
      <div class="view registration-view container">
        <div class="box row">
          <div class="col-sm-12">
            <div class="header">
              <span>Update an Account</span>
            </div>

            <!-- <form> -->
            <form class="form-horizontal sp-form" role="form" method="post">
              {{ form.hidden_tag() }}

              <fieldset>
                <label class="col-sm-3">First Name</label>
                <div class="col-sm-9">
                  {{ form.fname(class='form-control', required='true') }}
                </div>

                <label class="col-sm-3">Last Name</label>
                <div class="col-sm-9">
                  {{ form.lname(class='form-control', required='true') }}
                </div>

                <label class="col-sm-3">Email</label>
                <div class="col-sm-9">
                  {{ form.email(class='form-control', required='true') }}
                </div>

                <label class="col-sm-3">Agency</label>
                <div class="col-sm-9">
                  {{ form.agency(class='form-control') }}
                </div>

                <label class="col-sm-3">5Star Agent Code</label>
                <div class="col-sm-9">
                  {{ form.agent_code(class='form-control', required='true') }}
                </div>

                <label class="col-sm-3">Signing Name</label>
                <div class="col-sm-9">
                  {{ form.signing_name(class='form-control', required='true') }}
                </div>

                <label class="col-sm-3 hidden">Docusign key</label>
                <div class="col-sm-9 hidden">
                  {{ form.ds_apikey(class='form-control') }}
                </div>

                <br>
                <span class="col-sm-3"></span>
                <div class="col-sm-4 bigger-140 center">
                  {{form.activated}}
                  {% if form.activated.data %}
                  <span class="label bigger-140 label-success">Activated!
                    {% else %}
                    <span class="label bigger-140 label-danger">Activated?
                      {% endif %}
                    </span>
                  </div>
                  <div class="col-sm-5 bigger-140 center">
                    {{form.send_notice}}
                    <span class="text-danger">Send activation email?</span>
                  </div>
                </fieldset>

                <br />
                <hr />
                <label class="col-sm-3">API Token</label>
                <div class="col-sm-9">
                  <input type="text" onClick="this.select();" id="api_token" disabled='disabled' value="{{token.api_token}}" class="form-control" />
                </div>
                <br /><br />
                <label class="col-sm-3">Access Control</label>
                <div class="col-sm-9">

                  <div class="text-center col-sm-2">
                    <strong>
                      API Access
                    </strong>
                    <br />
                    <label>
                      <input type="checkbox" {% if token and token.activated %}checked="checked"{% endif %} name="groups" value="api_users" class="ace ace-switch ace-switch-7" />
                      <span class="lbl"></span>
                    </label>
                  </div>

                  {% for group in groups %}
                    <div class="text-center col-sm-2">
                      <strong>
                        {{ group }}
                      </strong>
                      <br />
                      <label>
                        <input type="checkbox" {% if group in group_membership %}checked="checked"{% endif %}  name="groups" value="{{ group }}" class="ace ace-switch ace-switch-7" />
                        <span class="lbl"></span>
                      </label>
                    </div>
                  {% endfor %}
{#                  <div class="text-center col-sm-3">#}
{#                    <strong>#}
{#                      Home Office Admin#}
{#                    </strong>#}
{#                    <br />#}
{#                    <label>#}
{#                      <input type="checkbox" {% for gms in group_membership if gms.group.name=="admins" %}checked="checked"{% endfor %}  name="groups" value="admins" class="ace ace-switch ace-switch-7" />#}
{#                      <span class="lbl"></span>#}
{#                    </label>#}
{#                  </div>#}
{#                  <div class="text-center col-sm-3">#}
{#                    <strong>#}
{#                      Agent#}
{#                    </strong>#}
{#                    <br />#}
{#                    <label>#}
{#                      <input type="checkbox" {% for gms in group_membership if gms.group.name=="agents" %}checked="checked"{% endfor %} name="groups" value="agents" class="ace ace-switch ace-switch-7" />#}
{#                      <span class="lbl"></span>#}
{#                    </label>#}
{#                  </div>#}
                </div>
            {% for gms in group_memberships  %}
              member of {{ gms }}
            {% endfor %}
                <br><br><br />

                <div class="clearfix">
                  <a href="{{url_for('admin')}}" class=" pull-left btn btn-warning">
                    <span class="bigger-110">Cancel</span>
                  </a>
                  <button type="submit" class="pull-right btn btn-info">
                    <span class="bigger-110">Update</span>
                  </button>
                </div>
              </form><!--  </form>  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}

  {% block page_js %}
  <script>
    var chkAdmins = $('input[name="groups"][value="admins"]');
    var chkAgents = $('input[name="groups"][value="agents"]');
    var chkHomeOffice = $('input[name="groups"][value="home_office"]');

    var groupChange = function() {
      var isAgents = chkAgents.prop('checked');
      var isAdmins = chkAdmins.prop('checked');
      var isHomeOffice = chkHomeOffice.prop('checked');

      if(isAgents) {
        if(!isAdmins) {
          chkAdmins.prop('disabled', isAgents);
        }
        if(!isHomeOffice) {
          chkHomeOffice.prop('disabled', isAgents);
        }
        chkAdmins.prop('title', "Can't be in the 'admins' group when in the 'agents' group");
        chkHomeOffice.prop('title', "Can't be in the 'home_office' group when in the 'agents' group");
      } else {
        chkAdmins.prop('disabled', isAgents);
        chkHomeOffice.prop('disabled', isAgents);
        chkAdmins.prop('title', '');
        chkHomeOffice.prop('title', '');
      }

      if(isAdmins || isHomeOffice) {
        if(!isAgents) {
          chkAgents.prop('disabled', isAdmins || isHomeOffice);
        }
        chkAgents.prop('title',
            "Can't be in the 'agents' group when in the '" + (isAdmins ? 'admins' : 'home_office') + "' group");
      } else {
        chkAgents.prop('disabled', isAdmins || isHomeOffice);
        chkAgents.prop('title', '');
      }
    };

    $(document).ready(function() {
      chkAgents.change(function() {
        groupChange();
      }).change();

      chkAdmins.change(function() {
        groupChange();
      }).change();

      chkHomeOffice.change(function() {
        groupChange();
      }).change();
    });
  </script>
  {% endblock %}
