{% extends "home_office/home_office_base.html" %}
{% set active_page = 'nav_home' -%}
{% from "form_macros.html" import render_simple_widget %}
{% block title %} - Dashboard{% endblock %}

{% block content %}
    
<div class="row home-index">
    <div class="col-xs-12 ">
        <div class="row">
            <div class="col-sm-6">
                {{ render_simple_widget(
                        title="Agents", 
                        body_html='<p class="lead">Confirm agent account info, activation, and permissions.</p>', 
                        button_text="Manage agents/users", 
                        button_classes="btn btn-danger btn-lg", 
                        button_url=url_for("manage_agents")) 
                }}
                         
            </div>
            <div class="col-sm-6">
                {{ render_simple_widget(
                        title="Products", 
                        body_html='<p class="lead">Define guarantee issue products and determine agent access to products offered.</p>', 
                        button_text="Manage products", 
                        button_classes="btn btn-purple btn-lg", 
                        button_url=url_for("manage_custom_products")) 
                }}
                
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                
                {{ render_simple_widget(
                        title="Cases", 
                        body_html='<p class="lead"></p>', 
                        button_text="Manage cases", 
                        button_classes="btn btn-success btn-lg", 
                        button_url=url_for("manage_cases")) 
                }}
                
            </div>
        </div>
        <!-- /.row -->
    </div>
    
</div><!-- /.row --> 
    
{% endblock %}