
/***********************************************************/
/* Broken modal backdrop in BS 3.1.1 - temp fix */
/* */
body {
  min-height: 100%;
}

.modal-backdrop {
    bottom: 0;
    position: fixed;
}
/***********************************************************/

.error {
    color: #D16E6C;
}

.btn-purple {
    background-color: mediumpurple;
    color: white;
}

/* agent index widget boxes */
@media (min-width: 768px) { 
    /* make the widget boxes the same size for tablet and larger */
    .home-index .widget-main {
        min-height: 20em;
    }
}
@media (min-width: 992px) { 
    /* make the widget boxes the same size for tablet and larger */
    .home-index .widget-main {
        min-height: 17em;
    }
}

@media (min-width: 1200px) { 
    /* make the widget boxes the same size for desktop */
    .home-index .widget-main {
        min-height: 16em;
    }
}

.pricing-span-header li, .pricing-table li {
    height: 60px;
}

.ci-recommendations .pricing-span-header li, 
.ci-recommendations .pricing-table li {
    height: 80px;
}

.pricing-span-header li {
    padding: 20px 10px;
    font-size: 14px;
}
.pricing-span .customize select {
    width: 100%;
    font-size: 85%;
}

.pricing-box-small-no-hover:hover {
    /* Need to simulate the look without the hover effect*/
    margin-left: -2px;
    box-shadow: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    z-index: 10;
}

.decline-option {
    margin-top: 2em;
}
.decline-option label {
    font-size: 14pt;
}

.recommended-coverage-table .widget-header {
    min-height: 43px;
}
.recommended-coverage-table .widget-header>:first-child {
    line-height: 24px;
}

.monthly_summary {
    text-align: center;
    margin: 2em;
    font-size: 13pt;
    font-style: oblique;
}


.confirm-table td, .confirm-table th {
    text-align: center;
}

.header-color-good {
  border-color: #D1E2D0;
  background: #D1E2D0;
  
}

.header-color-better {
  color: #855D10;
  border-color: #FCAE17;
  background: #FCAE17;
  
}

.header-color-best {
  border-color: #5290CD;
  background: #5290CD; 
  
}

#questions-form .odd, #questions-form .even {
    padding: .25em 0;
}
#questions-form .odd {
    background-color: #eee;
}
#questions-form .person-answer-small {
    margin-top: .5em;
    margin-left: 1em;
}

.enroll-buttons .row {
    margin-top: 2em;
    margin-bottom: 3em;
}
.enroll-buttons button {
    width: 12em;
    margin-top: .5em;
}

.enrollment-section .panel-body {
    padding: 0 0 0 2.25em;
}

/* Rolodex styling */
div.alphabet {
    display: table;
    width: 100%;
    margin-bottom: 1em;
}
 
div.alphabet span {
    display: table-cell;
    color: #3174c7;
    cursor: pointer;
    text-align: center;
    width: 3.5%;
    font-size: 125%;
    padding-top: .5em;
}
 
div.alphabet span:hover {
    text-decoration: underline;
}
 
div.alphabet span.letter.active {
    background-color: yellow;
    font-weight: bold;
    font-size: 175%;
    
}

.status-filter {
    margin-top: 1em;
}
.status-filter label {
    font-size: 120%;
}

.upload-error-table td.error {
    background-color: #D16E6C;
    color: white;
}

/* Case activate switch */
.active-switch {
    font-size: 110%;
    color: #888;
    text-shadow: 3px;
}
/* Change BG color of simple ace switch*/
input[type=checkbox].ace.ace-switch.ace-switch-6:checked+.lbl::before {
    background-color: green;
}

.criteria-select {
    padding: .25em;
}
.criteria-select select {
    margin: 0 1em 0 .5em; 
}

.enrollment-section .collapse-panel {
    padding-left: 3em;
}

/* Difficulty getting ace-switch to look padding with a label */
input[type=checkbox].ace.ace-switch+.lbl.padding-16::before {
    margin-right: 8px;
}
/* For some reason this is not set like it is in the template, making radio buttons seem off-centered */
input[type=radio].ace+.lbl::before {
    font-size: 10px;
}


/* Large custom switches for the SOH on/off switches  */

.soh_options input[type=checkbox].ace.ace-switch.ace-switch-3+.lbl::before, .soh_options input[type=checkbox].ace.ace-switch.ace-switch-5+.lbl::before {
    width: 80px;
}
.soh_options input[type=checkbox].ace.ace-switch.ace-switch-3:checked+.lbl::after, .soh_options input[type=checkbox].ace.ace-switch.ace-switch-5:checked+.lbl::after {
    left: 58px;
}
.soh_options input[type=checkbox].ace.ace-switch.ace-switch-3+.lbl::before, .soh_options input[type=checkbox].ace.ace-switch.ace-switch-5+.lbl::before {
    text-indent: -55px;
}
.soh_options input[type=checkbox].ace.ace-switch.ace-switch-3:checked+.lbl::before, .soh_options input[type=checkbox].ace.ace-switch.ace-switch-5+.lbl::before {
    text-indent: 3px;
}


.enroll-status {
    color: #40c000;
    padding-right: 8px;
}

.enroll-status.declined {
    color: #c04000;
    padding-right: 8px;
}

/* widths for table headers */
.w_25 {
    width: 25%;
}

.w_33 {
    width: 33%;
}
.w_40 {
    width: 40%;
}
.w_30 {
    width: 30%;
}

.partner-agents .owner-agent {
    font-weight: bold;
}

@media print {
    body {
        color: #000;
        background: #fff;
    }
    nav, .header ul {
        display: none;
    }
    
    body, .container {
      width: 100%;
      margin: 0;
      padding: 0;
   }
    a:link:after, a:visited:after { content: ""; }
}
