<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}

    <title>5Star Enrollment{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Application Enrollment for 5Star Life Insurance Company">
    <meta name="keywords" content="Electronic Enrollment 5Star Life Insurance">
    <meta name="author" content="Thumbprint Software LLC">
    <meta charset="utf-8">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="{{ url_for ('sample') }}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <h3 class="text-muted">
	<a  href="/"><img src="/static/img/5Star_logo_TAA.png"/></a>
	Enrollment Demo</h3>
    </div>    

    <!-- 14-Jan-28  this was the original default div block on setup - keep temporarily for reference
    <div class="navbar navbar-static-top navbar-default">
      <div class="container">
        <button class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">TakeAnApp</a>
        <div class="nav-collapse">
          {% block navbar_right %}
          <ul class="nav navbar-nav pull-right">
            {% if not session.logged_in %}
              <li><a href="#">Login or Signup</a></li>
            {% else %}
              <li><a href="#">Logout</a></li>
            {% endif %}
          </ul>
          {% endblock %}
        </div>
      </div>
    </div>
    -------------/.navbar -->

    {% endblock %}

    <div class="container page">
        <div class="content">

	  <!-- display any Flashed messages just inside top of content area -->
	  {% with messages = get_flashed_messages() %}
	  {% if messages %}
	  {% for message in messages %}
	  <div class="alert alert-warning">{{ message }}</div>
	  {% endfor %}
	  {% endif %}
	  {% endwith %}

    
          <!-- now for inherited stuff...  -->
	  {% block content %}
          {% endblock %}
        </div>
        <hr>
        {% block footer %}
        <footer class="footer">
            <p>&copy; 2014 5Star Life Insurance Company, an AFBA related enterprise</p>
        </footer>
        {% endblock %}
    </div> <!-- /container page -->
    {% block js_footer %}
      <!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> 
	   -->
      <script src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/ace-extra.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
          
      
    {% endblock %}
  </body>
</html>
