{% extends "base.html" %}
{% block title %} - Demo Page{% endblock %}

{% block content %}

  <div class="row marketing">
    <div></div>
    <div class="alert alert-block alert-success">
      <h4>Email Sent!</h4>
      {{who}} ({{email}}) will receive a link to the application via email and, once signed, the application will queue in your agent console for your signature completion.
    </div>
    <br>
    <br>
    <div class="alert alert-block alert-error">
      <h4>Uh Oh!</h4>
      Your email to {{who}} ({{email}}) was way unsuccessful.  Please check your inputs and try again; or if you feel your email address is valid please contact this sites adminsitrator at <a href="mailto:EnrollmentSupport@5starima.com"> EnrollmentSupport@5Starima.com</a>.
    </div>
    <br>
    <br>
    <a href="{{ url_for('sample')}}"> Return to main page </a>
    
 </div>
  
{% endblock %}
