{% extends "base.html" %}
{% block title %} - Employee Application {% endblock %}

{% block head %}
 {{ super() }}
    <!-- page-specific header data -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- ace styles -->
    <link href="{{ url_for('static', filename='css/ace-fonts.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/ace.min.css') }}" rel="stylesheet">
    
    <!-- custom css -->
    <link href="{{ url_for('static', filename='css/five_star.css') }}" rel="stylesheet">
    
    <!--[if lte IE 8]>
	<link rel="stylesheet" href="static/css/ace-ie.min.css" />
	<![endif]-->
  
{% endblock %}

{% block content %}

      <div class="page-content">
 	
	<div class="row">
	  <div class="col-xs-12">
	    <!-- PAGE CONTENT BEGINS -->

	   
	    <div class="row-fluid">
	      <div class="span12">
		<div class="widget-box">
		  <div class="widget-header widget-header-blue widget-header-flat">
		    <h4 class="lighter">5Star Life Enrollment - Family Protection Plan</h4>
		  </div>

		  <div class="widget-body">
		    <div class="widget-main">
		      <div id="fuelux-wizard" class="row-fluid" data-target="#step-container">
			<ul class="wizard-steps">
			  <li data-target="#step1" class="active">
			    <span class="step">1</span>
			    <span class="title">Benefit Selection</span>
			  </li>

			   <li data-target="#step2">
			    <span class="step">2</span>
			    <span class="title">Employee Info</span>
			  </li>

			  <li data-target="#step3">
			    <span class="step">3</span>
			    <span class="title">Spouse/Children Info</span>
			  </li>

			  <li data-target="#step4">
			    <span class="step">4</span>
			    <span class="title">Beneficiaries</span>
			  </li>

			  <li data-target="#step5">
			    <span class="step">5</span>
			    <span class="title">Confirmation</span>
			  </li>
			</ul>
		      </div>

		      <hr />
		      
		  <div class="step-content row-fluid position-relative" id="step-container">
			
			
			  <!-- ------------------------------ STEP 1 ------------------------------ -->
			  	
        <form class="form-horizontal" id="step1-form">
        
          <div class="step-pane active" id="step1">
          
            <h4 class="lighter block green">Initial information required to select a benefit plan</h4>
                  
            <div class="row form-group">
              <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="eeBenefitFName">
                Employee 
              </label>
              
              <div class="col-xs-12 col-sm-10">
                <input type="text" id="eeBenefitFName" name="eeBenefitFName" 
                       data-bind="value: employee().first" placeholder="First Name" />
                <input type="text" id="eeBenefitLName" name="eeBenefitLName" 
                       data-bind="value: employee().last" placeholder="Last Name" />
              </div>
            </div>
    
            <div class="col-sm-offset-1 row form-group">
              <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eeDOB">
                Date of Birth
                <!-- <br><small class="text-success">DD/MM/YYYY</small> -->
              </label>
              
              <div class="col-xs-12 col-sm-9">
                <input class="col-xs-12 col-sm-4 input-mask-date" name="eeBenefitDOB" 
                       data-bind="value: employee().birthdate" type="text" id="eeDOB" placeholder="DD/MM/YYYY" />
              </div>
            </div>
            
            <div class="row form-group">
              <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="eeMaritalStatus">
                Marital Status
              </label>
              
              <div class="col-xs-12 col-sm-9">
                <select data-bind="
                    options: marital_statuses, 
                    optionsCaption: '(Select)',
                    value: employee_marital_status
                    " id="eeMaritalStatus" ></select>
              </div>
            </div>
            
            <div data-bind="slideDownIf: should_show_spouse">
              <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="spFName">
                  Spouse 
                </label>
                
                <div class="col-xs-12 col-sm-10">
                  <input type="text" id="spFName" data-bind="value: spouse().first" placeholder="First Name" />
                  <input type="text" id="spLName" data-bind="value: spouse().last" placeholder="Last Name" />
                </div>
              </div>
              
              <div class="col-sm-offset-1">
                <div class="form-group">
                  <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="spDOB">
                    Date of Birth<!-- <br>
                    <small class="text-success">DD/MM/YYYY</small>
                    -->
                  </label>
                  <div class="col-xs-12 col-sm-9">
                    <input class="col-xs-12 col-sm-4 input-mask-date" type="text" id="spDOB" data-bind="value: spouse().birthdate" placeholder="DD/MM/YYYY" />
                  </div>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label class="control-label col-xs-12 col-sm-2 no-padding-right">
                <input type="checkbox" data-bind="checked: should_include_children"> Include Children
              </label>
              <div class="col-xs-12 col-sm-10">
                
              </div>
            </div>			
            
            <div class="form-group" data-bind="slideDownIf: should_include_children">
              <ul class="list-unstyled" data-bind="foreach: {data: children, afterAdd: rendered_child, beforeRemove: removing_child}">
                <li>
                  <div class="row form-group">
                    <label class="control-label col-xs-12 col-sm-2 no-padding-right" data-bind="attr: {for: 'child-first-'+$index()}">
                      Child <span data-bind="text: $index() + 1"></span>:
                    </label>
                    <div class="col-xs-12 col-sm-10">
                      <input type="text" data-bind="value: first, attr: {id: 'child-first-'+$index()}" placeholder="First Name" />
                      <input type="text" data-bind="value: last" placeholder="Last Name" />
                    </div>
                  </div>
                  
                  <div class="col-sm-offset-1 row form-group">
                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" data-bind="attr: {for: 'child-dob-'+$index()}">
                      Date of Birth
                    </label>
                    <div class="col-xs-12 col-sm-9">
                      <input class="col-xs-12 col-sm-4 input-mask-date" data-bind="
                        value: birthdate, 
                        event: {change: $root.update_rate_table},
                        attr: {id: 'child-dob-'+$index()}
                        " type="text" placeholder="DD/MM/YYYY" />
                    </div>
                  </div>
                </li>
              </ul>
              
              <div class="row">
                <div class="col-xs-12 col-sm-offset-1 col-sm-2">
                  <button class="btn btn-default btn-sm" type="button" data-bind="click: add_child">
                    Add Child
                  </button>
                </div>
              </div>
              
            </div>
            
            <div class="row" data-bind="visible: !is_recommended_table_visible()">
              <div class="align-center">
                <button type="button" class="btn btn-primary btn-lg show-rates" data-bind="click: show_recommendations_table">
                  Show Rates
                </button>
              </div>
            </div>
            
            <div class="center recommended-coverage-table" data-bind="slideDownIf: is_recommended_table_visible">
              
              <h3 class="header smaller red">Recommended Coverage</h3>
    
                <div class="row">
                  <div class="col-xs-4 col-sm-3 pricing-span-header">
                    <div class="widget-box transparent">
                      <div class="widget-header">
                        <h5 class="bigger lighter"></h5>
                      </div>
    
                      <div class="widget-body">
                        <div class="widget-main no-padding">
                          <ul class="list-unstyled list-striped js">
                            <li data-bind="text: employee().name()"></li>
                            <li data-bind="text: show_spouse_name()"></li>
                            <li data-bind="text: show_children_names()"></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <div class="col-xs-8 col-sm-9 pricing-span-body">
                    <div class="pricing-span">
                      <div class="widget-box pricing-box-small">
                        <div class="widget-header center header-color-red3">
                          <h5 class="bigger lighter">Good</h5>
                        </div>
    
                        <div class="widget-body">
                          <div class="widget-main no-padding" data-bind="
                            template: {name: 'recommendations_template', data: recommendations.good},
                            click: function() {$root.select_recommended_benefit(recommendations.good)}
                            ">
                          </div>
    
                          <div data-bind="click: function() {$root.select_recommended_benefit(recommendations.good)}">
                            <a class="btn btn-block btn-sm btn-danger">
                              <span>Select</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="pricing-span">
                      <div class="widget-box pricing-box-small">
                        <div class="widget-header center header-color-orange">
                          <h5 class="bigger lighter">Better</h5>
                        </div>
                        
                        <div class="widget-body">
                          <div class="widget-main no-padding" data-bind="
                            template: {name: 'recommendations_template', data: recommendations.better},
                            click: function() {$root.select_recommended_benefit(recommendations.better)}
                            ">
                          </div>
                          
                          <div>
                            <a data-bind="click: function() {$root.select_recommended_benefit(recommendations.better)}" 
                               class="btn btn-block btn-sm btn-warning">
                              <span>Select</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
    
                    <div class="pricing-span">
                      <div class="widget-box pricing-box-small">
                        <div class="widget-header center header-color-blue">
                          <h5 class="bigger lighter">Best</h5>
                        </div>
    
                        <div class="widget-body" data-bind="click: function() {$root.select_recommended_benefit(recommendations.best)}" >
                          <div class="widget-main no-padding" data-bind="
                            template: {name: 'recommendations_template', data: recommendations.best}
                            ">
                          </div>
    
                          <div>
                            <a
                               class="btn btn-block btn-sm btn-primary">
                              <span>Select</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
    
                    <div class="pricing-span">
                      <div class="widget-box pricing-box-small pricing-box-small-no-hover customize">
                        <div class="widget-header center header-color-grey">
                          <h5 class="bigger lighter">customize</h5>
                        </div>
    
                        <div class="widget-body">
                          <div class="widget-main no-padding">
                            <ul class="list-unstyled list-striped pricing-table">
                              <li>
                                <!--ko if: employee().is_valid()-->
                                <select data-bind="
                                  options: employee().all_options,
                                  optionsCaption: '',
                                  optionsText: BenefitOption.display_benefit_option,
                                  value: employee().selected_custom_option,
                                  event: {change: apply_selected_customization}
                                  ">
                                </select>
                                <!--/ko-->
                              </li>
                              <li>
                                <!--ko if: should_include_spouse_in_plan-->
                                <select data-bind="
                                  options: spouse().all_options,
                                  optionsCaption: '',
                                  optionsText: BenefitOption.display_benefit_option,
                                  value: spouse().selected_custom_option,
                                  event: {change: apply_selected_customization}
                                  ">
                                </select>
                                <!--/ko-->
                              </li>
                              <li>
                                <!--ko if: should_include_children_in_plan-->
                                <select data-bind="
                                  options: get_children_options,
                                  optionsCaption: '',
                                  optionsText: BenefitOption.display_benefit_option,
                                  value: child_benefits().selected_custom_option,
                                  event: {change: apply_selected_customization}
                                  ">
                                </select>
                                <!--/ko-->
                                
                              </li>
                              
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
    
                    <div class="pricing-span">
                      <div class="widget-box pricing-box-small pricing-box-small-no-hover">
                        <div class="widget-header center header-color-green">
                          <h5 class="bigger lighter">Selected Plan</h5>
                          <br>
                          <small data-bind="text: selected_plan().name"></small>
                        </div>
                        
                        <div class="widget-body">
                          <div class="widget-main no-padding" data-bind="template: {name: 'recommendations_template', data: selected_plan}">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          
            <div class="monthly_summary" data-bind="visible: selected_plan().get_total_monthly_premium() > 0">
              <!-- Needs styling -->
              Your effective monthly total premium is <strong data-bind="text: formatted_monthly_premium"></strong>
            </div>
          
  
        </div>
      </form>
        
      <script type="text/html" id="recommendations_template">
        <ul class="list-unstyled list-striped pricing-table">
          <li data-bind="template: {name: employee_recommendation().is_valid() ? 'recommendation_template' : 'blank_template', 
                                    data: employee_recommendation}"> 
          </li>
          <li data-bind="template: {name: spouse_recommendation().is_valid() ? 'recommendation_template' : 'blank_template', 
                                    data: spouse_recommendation}"> 
          </li>
          <li data-bind="template: {name: children_recommendation().is_valid() ? 'recommendation_template' : 'blank_template', 
                                    data: children_recommendation}"> 
          </li>
        </ul>
        <div class="price" data-bind="visible: get_total_weekly_premium() > 0.0">
          <span class="label label-lg label-inverse arrowed-in arrowed-in-right">
            <span data-bind="text: formatted_total()"></span>
            <small> weekly</small>
          </span>
        </div>
      </script>  
      
      <script type="text/html" id="recommendation_template">
        <strong data-bind="text: format_face_value()"></strong>
        <div data-bind="text: format_weekly_premium()"></div>
      </script>
        
      <script type="text/html" id="blank_template">
      </script>
      
        
			  <!-- ------------------------------ STEP 2 ------------------------------ -->
      <form class="form-horizontal" id="step2-form">
      
			<div class="step-pane" id="step2">
			  <h3 class="lighter block green">Enter Employee information</h3>
			    
			    <div class="form-group">
			      <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="companyName">Company Name</label>

			      <div class="col-xs-12 col-sm-9">
				<div class="clearfix">
				  <input readonly="" type="text" id="companyName" name="companyName" class="col-xs-12 col-sm-9" value="Comes from agent and then will be unchangeable" />
				</div>
			      </div>
			    </div>

			    <div class="space-2"></div>

			    <div class="form-group">
			      <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eeLName">Employee Last Name</label>

			      <div class="col-xs-12 col-sm-9">
				<div class="clearfix">
				  <input type="text" id="eeLName" name="eeLName" class="col-xs-12 col-sm-9" />
				</div>
			      </div>
			    </div>

			    <div class="space-2"></div>

			    <div class="form-group">
			      <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eeFName">Employee First Name</label>

			      <div class="col-xs-12 col-sm-9">
				<div class="clearfix">
				  <input type="text" id="eeFName" name="eeFName" class="col-xs-12 col-sm-9" />
				</div>
			      </div>
			    </div>

			    <div class="space-2"></div>
			    
			    <div class="form-group">
			      <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eessn">
				Employee SSN
			      </label>
			      <div class="col-xs-12 col-sm-5">
				<input type="text" id="eessn" class="col-xs-12 col-sm-5 input-mask-ssn"/>
			      </div>
			    </div>
			    
			    <div class="form-group">
			      <label class="control-label col-xs-12 col-sm-3 no-padding-right">Gender</label>

			      <div class="col-xs-12 col-sm-9">
				  <label class="blue">
				    <input name="eeGender" value="1" type="radio" class="inline ace" />
				    <span class="lbl"> Male &nbsp;&nbsp;&nbsp; </span>
				  </label>
				
				  <label class="blue">
				    <input name="eeGender" value="2" type="radio" class="inline ace" />
				    <span class="lbl"> Female</span>
				  </label>
			      </div>
			    </div>

			    <div class="space-2"></div>

			    <div class="clearfix"></div>
			    <div class="form-group">
			      <label class="clearfix control-label col-xs-12 col-sm-3 no-padding-right" for="eeStreet1">Street 1</label>
			      <div class="col-xs-12 col-sm-9">
				<div class="clearfix">
				  <input type="text" id="eeStreet1" name="eeStreet1" class="col-xs-12 col-sm-9" />
				</div>
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eeStreet1">Street 2</label>
			      <div class="col-xs-12 col-sm-9">
				<div class="clearfix">
				  <input type="text" id="eeStreet2" name="eeStreet2" class="col-xs-12 col-sm-9" />
				</div>
			      </div>
			    </div>

			    <div class="space-2"></div>

			    <div class="form-group">
			      <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eeCity">City, ST Zip</label>
			      <div class="col-xs-12 col-sm-9">
				<input type="text" id="eeCity" name="eeCity" placeholder="City"/>
			      
				<select id="eeState" name="eeState" class="select1" placeholder="Select State...">
				    <option value="">&nbsp;</option>
				    <option value="AL">Alabama</option>
				    <option value="AK">Alaska</option>
				    <option value="AZ">Arizona</option>
				    <option value="AR">Arkansas</option>
				    <option value="CA">California</option>
				    <option value="CO">Colorado</option>
				    <option value="CT">Connecticut</option>
				    <option value="DE">Delaware</option>
				    <option value="FL">Florida</option>
				    <option value="GA">Georgia</option>
				    <option value="HI">Hawaii</option>
				    <option value="ID">Idaho</option>
				    <option value="IL">Illinois</option>
				    <option value="IN">Indiana</option>
				    <option value="IA">Iowa</option>
				    <option value="KS">Kansas</option>
				    <option value="KY">Kentucky</option>
				    <option value="LA">Louisiana</option>
				    <option value="ME">Maine</option>
				    <option value="MD">Maryland</option>
				    <option value="MA">Massachusetts</option>
				    <option value="MI">Michigan</option>
				    <option value="MN">Minnesota</option>
				    <option value="MS">Mississippi</option>
				    <option value="MO">Missouri</option>
				    <option value="MT">Montana</option>
				    <option value="NE">Nebraska</option>
				    <option value="NV">Nevada</option>
				    <option value="NH">New Hampshire</option>
				    <option value="NJ">New Jersey</option>
				    <option value="NM">New Mexico</option>
				    <option value="NY">New York</option>
				    <option value="NC">North Carolina</option>
				    <option value="ND">North Dakota</option>
				    <option value="OH">Ohio</option>
				    <option value="OK">Oklahoma</option>
				    <option value="OR">Oregon</option>
				    <option value="PA">Pennsylvania</option>
				    <option value="RI">Rhode Island</option>
				    <option value="SC">South Carolina</option>
				    <option value="SD">South Dakota</option>
				    <option value="TN">Tennessee</option>
				    <option value="TX">Texas</option>
				    <option value="UT">Utah</option>
				    <option value="VT">Vermont</option>
				    <option value="VA">Virginia</option>
				    <option value="WA">Washington</option>
				    <option value="WV">West Virginia</option>
				    <option value="WI">Wisconsin</option>
				    <option value="WY">Wyoming</option>
				  </select>
			    
				<input type="text" id="eeZip" name="eeZip" class="input-mask-zip" placeholder="zip"/>
				
			      </div>
			    </div>
			    
			    <div class="form-group">
			      <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="email">Email Address:</label>

			      <div class="col-xs-12 col-sm-9">
				<div class="input-group">
				 <span class="input-group-addon">
				    <i class="icon-envelope"></i>
				  </span>
 
				  <input type="email" name="email" id="email" class="col-xs-12 col-sm-6" />
				</div>
			      </div>
			    </div>

			    <div class="space-2"></div>
			    
			    <div class="form-group">
			      <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="phone">Daytime Phone:</label>

			      <div class="col-xs-12 col-sm-9">
				<div class="input-group">
				  <span class="input-group-addon">
				    <i class="icon-phone"></i>
				  </span>

				  <input type="tel" id="phone" name="phone" />
				</div>
			      </div>
			    </div>

			    <div class="space-2"></div>

			    <div class="form-group">
			      <label class="control-label col-xs-12 col-sm-3 no-padding-right">Policy Owner</label>
			      
			      <div class="col-xs-12 col-sm-9">
				<label class="blue">
				  <input name="eeOwner" value="1" type="radio" class="inline ace" id="eeOwner-self" checked="" />
				  <span class="lbl"> Self &nbsp;&nbsp;&nbsp;</span>
				</label>
				
				<label class="blue">
				  <input name="eeOwner" value="2" type="radio" class="inline ace" id="eeOwner-other"/>
				  <span class="lbl"> Other</span>
				</label>
			      </div>
			    </div>

			    <div class="hide col-sm-offset-2" id="eeOtherOwner">
			      <div class="form-group">
				<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eeOtherOwnerName">Other owner </label>
				<div class="col-xs-12 col-sm-9">
				  <input type="text" id="eeOtherOwnerName" name="eeOtherOwnerName" class="col-xs-12 col-sm-4" placeholder="Full Name" />
				</div>
			      </div>
			      <div class="space-2"></div>
			      <div class="form-group">
  				<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eeOtherOwnerSSN">Owners's SSN </label>
				<div class="col-xs-12 col-sm-9">
				  <input type="text" id="eeOtherOwnerSSN" class="col-xs-12 col-sm-4 input-mask-ssn"/>
				</div>
			      </div>
			    </div>
			    
			  
			</div>
      </form>
      
			  <!-- ------------------------------ STEP 3 ------------------------------ -->

			<div class="step-pane" id="step3">
			  <div class="row-fluid">
			    <h3 class="center blue lighter">This is step 3</h3>
			  </div>
			</div>

			  <!-- ------------------------------ STEP 4 ------------------------------ -->

			<div class="step-pane" id="step4">
			  <div class="center">
			    <h3 class="blue lighter">This is step 4</h3>
			  </div>
			</div>

			  <!-- ------------------------------ STEP 5 ------------------------------ -->

			<div class="step-pane" id="step5">
			  <div class="center">

			    <h3 class="green">Confirmation page goes here</h3>
			    Please review your Summary of Coverage below, and click "I agree..." below to be taken to application for signing.
			    <div class="space-8"></div>
			    <div class="well well-sm center">
			      <i class="icon-info-sign"></i>
			      Note:  you must answer the yes/no questions in the <span class="green bigger-120">Statement of Health</span> section on the application for each person applying for insurance prior to signing the form.
			   </div>			    
			  </div>

			  <!-- *** Summary of Benefits layout *** -->

			  
			</div>
		      </div>

		      <hr />
		      <div class="row-fluid wizard-actions">
			<button class="btn btn-prev">
			  <i class="icon-arrow-left"></i>
			  Prev
			</button>

			<button class="btn btn-success btn-next" data-last="I agree to this coverage and am ready to sign ">
			  Next
			  <i class="icon-arrow-right icon-on-right"></i>
			</button>
		      </div>
		    </div><!-- /widget-main -->
		  </div><!-- /widget-body -->
		</div>
	      </div>
	    </div>


	    <!-- PAGE CONTENT ENDS -->
	  </div><!-- /.col -->
	</div><!-- /.row -->
      </div><!-- /.page-content -->

      {% endblock %}

      <!-- basic scripts -->

      {% block js_footer %}
      {{ super() }}

      <!-- page-specific footer scripts -->
    
      <!--[if !IE]> 

	  <script type="text/javascript">
	    window.jQuery || document.write("<script src='static/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
	    </script>
	    <![endif]-->
      
      <!--[if IE]>
	  <script type="text/javascript">
	    window.jQuery || document.write("<script src='static/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
	    </script>
	    <![endif]-->

    <script src="{{ url_for('static', filename='js/jquery.mobile.custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/typeahead-bs2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/knockout-3.1.0.debug.js') }}"></script>
      


    <!-- page specific plugin scripts -->

    <script src="{{ url_for('static', filename='js/fuelux/fuelux.wizard.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/additional-methods.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"></script>

    <!-- <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
	 -->
   
    <!-- ace scripts -->

    <script src="{{ url_for('static', filename='js/ace-elements.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ace.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ace-extra.min.js') }}"></script>
    
    <!-- inline scripts related to this page -->
    <script src="{{url_for('static', filename='js/handlebars-v1.3.0.js')}}"></script>
    <script src="{{url_for('static', filename='js/5Star/enrollment.js')}}"></script>
    <script type="text/javascript">
      jQuery(function($) {
        
        // rate calculations, recommendations code
        init_rate_form();
  
        init_validation();
	
	})
      </script>
      
      {% endblock %}
