{% extends "base.html" %}
{% block title %} - Employee Application {% endblock %}

{% block head %}
 {{ super() }}
<!-- page-specific header data -->
    
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
<!-- ace styles -->
<link href="{{ url_for('static', filename='css/ace-fonts.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/ace.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/five_star_ace_overlay.css') }}" rel="stylesheet">

<!-- custom css -->
<link href="{{ url_for('static', filename='css/five_star.css') }}" rel="stylesheet">


<!--[if lte IE 8]>
    <link rel="stylesheet" href="static/css/ace-ie.min.css" />
    <![endif]-->

{% endblock %}

{% block content %}

<div class="page-content">
 	
  <div class="row">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->
      
      
      <div class="row-fluid">
	<div class="span12">
	  <div class="widget-box">
	    <div class="widget-header widget-header-blue widget-header-flat">
	      <h4 class="lighter">5Star Life Enrollment - Family Protection Plan</h4>
	    </div>
	    
	    <div class="widget-body">
	      <div class="widget-main">
		<div id="fuelux-wizard" class="row-fluid" data-target="#step-container">
		  <ul class="wizard-steps">
		    <li data-target="#step1" class="active">
		      <span class="step">1</span>
		      <span class="title">Benefit Selection</span>
		    </li>
		    
		    <li data-target="#step2">
		      <span class="step">2</span>
		      <span class="title">Health Questions</span>
		    </li>
        
        <li data-target="#step3">
		      <span class="step">3</span>
		      <span class="title">Employee Info</span>
		    </li>
		    
		    <li data-target="#step4">
		      <span class="step">4</span>
		      <span class="title">Spouse/Children Info</span>
		    </li>
		    
		    <li data-target="#step5">
		      <span class="step">5</span>
		      <span class="title">Beneficiaries</span>
		    </li>
		    
		    <li data-target="#step6">
		      <span class="step">6</span>
		      <span class="title">Confirmation</span>
		    </li>
		  </ul>
		</div>
		
		<hr />
		
		<div class="step-content row-fluid position-relative" id="step-container">
		  
		  
		  <!-- ------------------------------ STEP 1 ------------------------------ -->
			  	
		  <form class="form-horizontal" id="step1-form">
        
		    <div class="step-pane active" id="step1">

		      <!--ko if: was_state_provided-->
		      <div class="grey" data-bind="visible: was_state_provided">
			<p>Enrollment state is <span data-bind="text: state"></span></p>
		      </div>
		      <!--/ko-->
	      
		    	
		      <!--ko if: !was_state_provided-->
		      <div class="form-group">
			<label class="" for="enrollmentState">Select state for this enrollment</label>
			<select id="enrollmentState" class="select1" placeholder="Select State..." 
				data-bind="value: state"
				>
			  <option value="">&nbsp;</option>
			  {% for state in states %}
			  <option value="{{state['code']}}">{{state["name"]}}</option>
			  {% endfor %}
			</select>
		      </div>
		      <!--/ko-->
				 
  	    <div class="space-2"></div>
            
            <h4 class="lighter block green">Initial information required to select a benefit plan</h4>
                  
            <div class="col-xs-12">
	      <div class="row form-group">
		<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="eeBenefitFName">
		  Employee 
		</label>
		  
		<div class="col-xs-12 col-sm-10">
		  <input type="text" id="eeBenefitFName" name="eeBenefitFName" 
			 data-bind="value: employee().first" placeholder="First Name" />
		  <input type="text" id="eeBenefitLName" name="eeBenefitLName" 
			 data-bind="value: employee().last" placeholder="Last Name" />
		  
		</div>
	      </div>
		
	      <div class="col-sm-offset-1">
                <div class="form-group">
		  <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eeDOB">
		    Date of Birth
		  </label>
		  
		  <div class="col-xs-12 col-sm-8">
		    <input class="col-xs-12 col-sm-4 input-mask-date" name="eeBenefitDOB" 
			   data-bind="value: employee().birthdate" type="text" id="eeDOB" placeholder="DD/MM/YYYY" />
		  </div>
		</div>
	      </div>
	    </div>
            
	    <!-- <div class="col-sm-offset-1"> -->
              <div class="col-xs-12">
		<div class="row">
		  <div class="col-xs-6 col-sm-7">
		    <div class="form-group">
		      <label class="control-label col-xs-12 col-sm-5 no-padding-right" for="eeMaritalStatus">
			Marital Status
		      </label>
		      
		      <div class="col-xs-12 col-sm-7">
			<select data-bind="
					   options: marital_statuses, 
					   optionsCaption: '(Select)',
					   value: employee_marital_status
					   " id="eeMaritalStatus" ></select>
		      </div>
		    </div>
		  </div>

		  <div class="col-xs-6 col-sm-3">
		    <div class="form-group">
		      <label class="control-label col-xs-11 col-sm-11 no-padding-right">
			<input type="checkbox" data-bind="checked: should_include_children"> Include Children
		      </label>
		    </div>
		  </div>
		</div>
	      </div>
	   <!--  </div> -->
            
            <div data-bind="slideDownIf: should_show_spouse">
              <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="spFName">
                  Spouse 
                </label>
                
                <div class="col-xs-12 col-sm-10">
                  <input type="text" id="spFName" data-bind="value: spouse().first" placeholder="First Name" />
                  <input type="text" id="spLName" data-bind="value: spouse().last" placeholder="Last Name" />
                </div>
              </div>
              
              <div class="col-sm-offset-1">
                <div class="form-group">
                  <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="spDOB">
                    Date of Birth
                  </label>
                  <div class="col-xs-12 col-sm-9">
                    <input class="col-xs-12 col-sm-4 input-mask-date" type="text" id="spDOB" data-bind="value: spouse().birthdate" placeholder="DD/MM/YYYY" />
                  </div>
                </div>
              </div>
            </div>
            
            <div class="form-group" data-bind="slideDownIf: should_include_children">
              <ul class="list-unstyled" data-bind="foreach: {data: children, afterAdd: rendered_child, beforeRemove: removing_child}">
                <li>
                  <div class="row form-group">
                    <label class="control-label col-xs-12 col-sm-2 no-padding-right" data-bind="attr: {for: 'child-first-'+$index()}">
                      Child <span data-bind="text: $index() + 1"></span>:
                    </label>
                    <div class="col-xs-12 col-sm-10">
                      <input type="text" data-bind="value: first, attr: {id: 'child-first-'+$index()}" placeholder="First Name" />
                      <input type="text" data-bind="value: last" placeholder="Last Name" />
                    </div>
                  </div>
                  
                  <div class="col-sm-offset-1 row form-group">
                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" data-bind="attr: {for: 'child-dob-'+$index()}">
                      Date of Birth
                    </label>
                    <div class="col-xs-12 col-sm-9">
                      <input class="col-xs-12 col-sm-4 input-mask-date" data-bind="
                        value: birthdate, 
                        event: {change: $root.update_rate_table},
                        attr: {id: 'child-dob-'+$index()}
                        " type="text" placeholder="DD/MM/YYYY" />
                    </div>
                  </div>
                </li>
              </ul>
              
              <div class="row">
                <div class="col-xs-12 col-sm-offset-1 col-sm-2">
                  <button class="btn btn-default btn-sm" type="button" data-bind="click: add_child">
                    Add Child
                  </button>
                </div>
              </div>
              
            </div>
            
            <div class="row" data-bind="visible: !is_recommended_table_visible()">
              <div class="align-center">
                <button type="button" class="btn btn-primary btn-lg show-rates" data-bind="click: show_recommendations_table">
                  Show Rates
                </button>
              </div>
            </div>
            
            <div class="center recommended-coverage-table" data-bind="slideDownIf: is_recommended_table_visible">
              
              <h3 class="header smaller red">Recommended Coverage</h3>
    
                <div class="row">
                  <div class="col-xs-4 col-sm-3 pricing-span-header">
                    <div class="widget-box transparent">
                      <div class="widget-header">
                        <h5 class="bigger lighter"></h5>
                      </div>
    
                      <div class="widget-body">
                        <div class="widget-main no-padding">
                          <ul class="list-unstyled list-striped js">
                            <li data-bind="text: employee().name()"></li>
                            <li data-bind="text: show_spouse_name()"></li>
                            <li data-bind="text: show_children_names()"></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <div class="col-xs-8 col-sm-9 pricing-span-body">
                    <div class="pricing-span">
                      <div class="widget-box pricing-box-small">
                        <div class="widget-header center header-color-red3 no-padding">
                          <h5 class="bigger lighter">Good</h5>
                        </div>
    
                        <div class="widget-body">
                          <div class="widget-main no-padding" data-bind="
                            template: {name: 'recommendations_template', data: recommendations.good},
                            click: function() {$root.select_recommended_benefit(recommendations.good)}
                            ">
                          </div>
    
                          <div data-bind="click: function() {$root.select_recommended_benefit(recommendations.good)}">
                            <a class="btn btn-block btn-sm btn-danger">
                              <span>Select</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="pricing-span">
                      <div class="widget-box pricing-box-small">
                        <div class="widget-header center header-color-orange no-padding">
                          <h5 class="bigger lighter">Better</h5>
                        </div>
                        
                        <div class="widget-body">
                          <div class="widget-main no-padding" data-bind="
                            template: {name: 'recommendations_template', data: recommendations.better},
                            click: function() {$root.select_recommended_benefit(recommendations.better)}
                            ">
                          </div>
                          
                          <div>
                            <a data-bind="click: function() {$root.select_recommended_benefit(recommendations.better)}" 
                               class="btn btn-block btn-sm btn-warning">
                              <span>Select</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
    
                    <div class="pricing-span">
                      <div class="widget-box pricing-box-small">
                        <div class="widget-header center header-color-best no-padding">
                          <h5 class="bigger lighter">Best</h5>
                        </div>
    
                        <div class="widget-body" data-bind="click: function() {$root.select_recommended_benefit(recommendations.best)}" >
                          <div class="widget-main no-padding" data-bind="
                            template: {name: 'recommendations_template', data: recommendations.best}
                            ">
                          </div>
    
                          <div>
                            <a
                               class="btn btn-block btn-sm btn-primary">
                              <span>Select</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
    
                    <div class="pricing-span">
                      <div class="widget-box pricing-box-small pricing-box-small-no-hover customize">
                        <div class="widget-header center header-color-grey no-padding">
                          <h5 class="bigger lighter">customize</h5>
                        </div>
    
                        <div class="widget-body">
                          <div class="widget-main no-padding">
                            <ul class="list-unstyled list-striped pricing-table">
                              <li>
                                <!--ko if: employee().is_valid()-->
                                <select data-bind="
                                  options: employee().all_options,
                                  optionsCaption: '',
                                  optionsText: BenefitOption.display_benefit_option,
                                  value: employee().selected_custom_option,
                                  event: {change: apply_selected_customization}
                                  ">
                                </select>
                                <!--/ko-->
                              </li>
                              <li>
                                <!--ko if: should_include_spouse_in_table-->
                                <select data-bind="
                                  options: spouse().all_options,
                                  optionsCaption: '',
                                  optionsText: BenefitOption.display_benefit_option,
                                  value: spouse().selected_custom_option,
                                  event: {change: apply_selected_customization}
                                  ">
                                </select>
                                <!--/ko-->
                              </li>
                              <li>
                                <!--ko if: should_include_children_in_table-->
                                <select data-bind="
                                  options: get_children_options,
                                  optionsCaption: '',
                                  optionsText: BenefitOption.display_benefit_option,
                                  value: child_benefits().selected_custom_option,
                                  event: {change: apply_selected_customization}
                                  ">
                                </select>
                                <!--/ko-->
                                
                              </li>
                              
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
    
                    <div class="pricing-span">
                      <div class="widget-box pricing-box-small pricing-box-small-no-hover">
                        <div class="widget-header center header-color-green">
                          <h5 class="bigger lighter">Selected Plan</h5>
                          <br>
                          <small data-bind="text: selected_plan().name"></small>
                        </div>
                        
                        <div class="widget-body">
                          <div class="widget-main no-padding" data-bind="template: {name: 'recommendations_template', data: selected_plan}">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          
            <div class="monthly_summary" data-bind="visible: selected_plan().get_total_monthly_premium() > 0">
	      <div class="well well-sm">
              Your effective monthly total premium is <strong data-bind="text: formatted_monthly_premium"></strong>
	      </div>
	    </div>
          
  
        <!-- /div -->
      </div>
      </form>
        
      <script type="text/html" id="recommendations_template">
        <ul class="list-unstyled list-striped pricing-table">
          <li data-bind="template: {name: employee_recommendation().is_valid() ? 'recommendation_template' : 'blank_template', 
                                    data: employee_recommendation}"> 
          </li>
          <li data-bind="template: {name: spouse_recommendation().is_valid() ? 'recommendation_template' : 'blank_template', 
                                    data: spouse_recommendation}"> 
          </li>
          <li data-bind="template: {name: children_recommendation().is_valid() ? 'recommendation_template' : 'blank_template', 
                                    data: children_recommendation}"> 
          </li>
        </ul>
        <div class="price" data-bind="visible: get_total_weekly_premium() > 0.0">
          <span class="label label-lg label-inverse arrowed-in arrowed-in-right">
            <span data-bind="text: formatted_total_weekly_premium()"></span>
            <small> weekly</small>
          </span>
        </div>
      </script>  
      
      <script type="text/html" id="recommendation_template">
        <strong data-bind="text: format_face_value()"></strong>
        <div data-bind="text: format_weekly_premium_option()"></div>
      </script>
        
      <script type="text/html" id="blank_template">
      </script>
      
        <!-- ------------------------------ New step 2 ------------------------------ -->
      <form class="form-horizontal" id="questions-form">
        
        <div class="step-pane" id="step2">  
          
          <div class="hidden-xs" data-bind="with: selected_plan">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                    <div class="row" data-bind="foreach: get_all_people_labels">
                        <div class="col-sm-2" class="text-center" data-bind="text: $data">
                        </div>
                    </div>
                </div>
            </div>
            
          <table class="table table-striped">
          {% for question in wizard_data.health_questions: %}
            
            <tr><td>
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                    {{question}}
                </div>
                <div class="col-xs-12 col-sm-8">
                    
                  <div class="row" data-bind="foreach: {data: get_all_people(), as: 'person'}">
                    <div class="col-sm-2 btn-group no-padding-right" data-toggle="buttons">
                      <label class="btn btn-default btn-sm" data-bind="click: $root.show_health_modal">
                        <input type="radio" data-bind="
                        attr: {name: 'yn_{{loop.index0}}_'+person.name()}
                        "> Yes
                      </label>
                      <label class="btn btn-default btn-sm">
                        <input type="radio" data-bind="attr: {name: 'yn_{{loop.index0}}_'+person.name()}"> No
                      </label>
                    </div>
                  </div>
                  
                </div>
              </div>
            </td></tr>
            
          {% endfor %}
          </table>
          </div>
            
          <div class="visible-xs" data-bind="with: selected_plan">
              
            <table class="table table-striped">
              
              {% for question in wizard_data.health_questions: %}
                <tr><td>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        {{question}}
                    </div>
                    <div class="col-xs-12 col-sm-6" data-bind="foreach: get_all_people_labels">
                        <div class="person-answer-small row">
                          <div class="col-xs-3 col-xs-offset-2" data-bind="text: $data"></div>
                          <div class="col-xs-7 btn-group" data-toggle="buttons">
                            <label class="btn btn-default btn-lg" data-bind="click: $root.show_health_modal">
                              <input type="radio" data-bind="
                              attr: {name: 'yn_{{loop.index0}}_'+$data}
                              "> Yes
                            </label>
                            <label class="btn btn-default btn-lg">
                              <input type="radio" data-bind="attr: {name: 'yn_{{loop.index0}}_'+$data}"> No
                            </label>
                          </div>
                        </div>
                    </div>
                </div>
                </td></tr>
              {% endfor %}
            </table>
          </div>
        </div>
      
      </form>
      
      
      
          
      <!-- ------------------------------ STEP 3 ------------------------------ -->
      <form class="form-horizontal" id="step3-form">
      
	<div class="step-pane" id="step3">
	  <h3 class="lighter block green">Employee information</h3>
	  
	  <div class="form-group">
	    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="companyName">Company Name</label>
	    
	    <div class="col-xs-12 col-sm-9">
	      <div class="clearfix">
		<input readonly="" type="text" id="companyName" name="companyName" class="col-xs-12 col-sm-9" data-bind="value: company_name" />
	      </div>
	    </div>
	  </div>

	  <div class="space-2"></div>

	  <div class="row form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eeFName2">
              Employee Name 
            </label>
            
            <div class="col-xs-12 col-sm-9">
              <input type="text" id="eeFName2" name="eeFName2" 
                     data-bind="value: employee().first" placeholder="First Name"/>
              <input type="text" id="eeLName2" name="eeLName2" 
                     data-bind="value: employee().last" placeholder="Last Name"/>
            </div>
	  </div>

	  <div class="space-2"></div>
	  
	  <div class="form-group">
	    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eessn">
	      Employee SSN
	    </label>
	    <div class="col-xs-12 col-sm-5">
	      <input type="text" id="eessn" class="col-xs-12 col-sm-5 input-mask-ssn" 
                 data-bind="value: employee().ssn" />
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label class="control-label col-xs-12 col-sm-3 no-padding-right">Gender</label>

	    <div class="col-xs-12 col-sm-9">
	      <label class="blue">
		<input name="eeGender" value="male" type="radio" class="inline ace" data-bind="checked: employee().gender" />
		<span class="lbl"> Male &nbsp;&nbsp;&nbsp; </span>
	      </label>
	      
	      <label class="blue">
		<input name="eeGender" value="female" type="radio" class="inline ace" data-bind="checked: employee().gender" />
		<span class="lbl"> Female</span>
	      </label>
	    </div>
	  </div>

	  <div class="space-2"></div>

	  <div class="clearfix"></div>
	  <div class="form-group">
	    <label class="clearfix control-label col-xs-12 col-sm-3 no-padding-right" for="eeStreet1">Street 1</label>
	    <div class="col-xs-12 col-sm-9">
	      <div class="clearfix">
		    <input type="text" id="eeStreet1" name="eeStreet1" class="col-xs-12 col-sm-9" />
	      </div>
	    </div>
	  </div>
        
	  <div class="form-group">
	    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eeStreet1">Street 2</label>
	    <div class="col-xs-12 col-sm-9">
	      <div class="clearfix">
		<input type="text" id="eeStreet2" name="eeStreet2" class="col-xs-12 col-sm-9" />
	      </div>
	    </div>
	  </div>

	  <div class="space-2"></div>

	  <div class="form-group">
	    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eeCity">City, ST Zip</label>
	    <div class="col-xs-12 col-sm-9">
	      <input type="text" id="eeCity" name="eeCity" placeholder="City"/>
	      
	      <select id="eeState" name="eeState" class="select1" placeholder="Select State..." 
                  data-bind="value: state">
		    <option value="">&nbsp;</option>
		    {% for state in states: %}
                <option value="{{state['code']}}">{{state['name']}}</option>
            {% endfor %}
	      </select>
	        
	        <input type="text" id="eeZip" name="eeZip" class="input-mask-zip" placeholder="zip"/>
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="email">Email Address:</label>

	    <div class="col-xs-12 col-sm-9">
	      <div class="input-group">
		<span class="input-group-addon">
		  <i class="icon-envelope"></i>
		</span>
		
		<input type="email" name="email" id="email" class="col-xs-12 col-sm-6" data-bind="value: employee().email" />
	      </div>
	    </div>
	  </div>

	  <div class="space-2"></div>
	  
	  <div class="form-group">
	    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="phone">Daytime Phone:</label>

	    <div class="col-xs-12 col-sm-9">
	      <div class="input-group">
            <span class="input-group-addon">
              <i class="icon-phone"></i>
            </span>

		    <input type="tel" id="phone" name="phone" />
	      </div>
	    </div>
	  </div>

	  <div class="space-2"></div>

	  <div class="form-group">
	    <label class="control-label col-xs-12 col-sm-3 no-padding-right">Policy Owner</label>
	    
	    <div class="col-xs-12 col-sm-9">
	      <label class="blue">
		<input name="eeOwner" value="self" type="radio" class="inline ace" id="eeOwner-self" checked="" data-bind="checked: policy_owner" />
		<span class="lbl"> Self &nbsp;&nbsp;&nbsp;</span>
	      </label>
	      
	      <label class="blue">
		<input name="eeOwner" value="other" type="radio" class="inline ace" id="eeOwner-other" data-bind="checked: policy_owner"/>
		<span class="lbl"> Other</span>
	      </label>
	    </div>
	  </div>

	  <div class="hide col-sm-offset-2" id="eeOtherOwner">
	    <div class="form-group">
	      <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eeOtherOwnerName">Other owner </label>
	      <div class="col-xs-12 col-sm-9">
		<input type="text" id="eeOtherOwnerName" name="eeOtherOwnerName" class="col-xs-12 col-sm-4" placeholder="Full Name" 
               data-bind="value: other_owner_name" />
	      </div>
	    </div>
	    <div class="space-2"></div>
	    <div class="form-group">
  	      <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eeOtherOwnerSSN">Owners's SSN </label>
	      <div class="col-xs-12 col-sm-9">
		<input type="text" id="eeOtherOwnerSSN" class="col-xs-12 col-sm-4 input-mask-ssn" 
            data-bind="value: other_owner_name" />
	      </div>
	    </div>
	  </div>
	  
	  
	</div>
      </form>
      
      <!-- ------------------------------ STEP 4 ------------------------------ -->

      <form class="form-horizontal" id="step4-form">
      
	<div class="step-pane" id="step4">
	  <div id="SpouseInfoBlock"  data-bind="visible: should_show_spouse">
	    <h3 class="lighter block green">Spouse information</h3>

	    <div class="row form-group">
              <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="spFName2">
                Spouse Name 
              </label>
              
              <div class="col-xs-12 col-sm-6">
                <input type="text" id="spFName2" data-bind="value: spouse().first" placeholder="First Name" />
                <input type="text" id="spLName2" data-bind="value: spouse().last" placeholder="Last Name" />
              </div>

	      <label class="control-label col-xs-1 col-sm-1 no-padding-right" for="spssn">
		SSN
	      </label>
	      <div class="col-xs-11 col-sm-3">
		<input type="text" id="spssn" class="col-xs-11 col-sm-6 input-mask-ssn" data-bind="value: spouse().ssn" />
	      </div>
	    </div>
	  
	  <div class="form-group">
	    <label class="control-label col-xs-12 col-sm-2 no-padding-right">Gender</label>

	    <div class="col-xs-12 col-sm-10">
	      <label class="blue">
		<input name="spGender" value="male" type="radio" class="inline ace" data-bind="checked: spouse().gender" />
		<span class="lbl"> Male &nbsp;&nbsp;&nbsp; </span>
	      </label>
	      
	      <label class="blue">
		<input name="spGender" value="female" type="radio" class="inline ace" data-bind="checked: spouse().gender"  />
		<span class="lbl"> Female</span>
	      </label>
	    </div>
	  </div>

	  <div class="space-2"></div>

	  <div class="form-group">
	    <label class="control-label col-xs-12 col-sm-2 no-padding-right">Spouse Policy Owner</label>
	    
	    <div class="col-xs-12 col-sm-10">
	      <label class="blue">
		<input name="spOwner" value="1" type="radio" class="inline ace" id="spOwner-self" checked="" />
		<span class="lbl"> Self (Spouse) &nbsp;&nbsp;&nbsp;</span>
	      </label>
	      
	      <label class="blue">
		<input name="spOwner" value="2" type="radio" class="inline ace" id="spOwner-other"/>
		<span class="lbl"> Other</span>
	      </label>
	    </div>
	  </div>

	  <div class="hide col-sm-offset-2" id="spOtherOwner">
	    <div class="form-group">
	      <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="spOtherOwnerName">Other owner of spouse policy</label>
	      <div class="col-xs-12 col-sm-9">
		<input type="text" id="spOtherOwnerName" name="spOtherOwnerName" class="col-xs-12 col-sm-4" placeholder="Full Name" />
	      </div>
	    </div>
	    <div class="space-2"></div>
	    <div class="form-group">
  	      <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="spOtherOwnerSSN">Owners's SSN </label>
	      <div class="col-xs-12 col-sm-9">
		<input type="text" id="spOtherOwnerSSN" class="col-xs-12 col-sm-4 input-mask-ssn"/>
	      </div>
	    </div>
	  </div>
	  	  
	  </div><!-- .SpouseInfoBlock -->

	   <div id="ChildrenInfoBlock"  data-bind="visible: should_include_children">
	     <h3 class="lighter block green">Children information</h3>
	     <ul class="list-unstyled" data-bind="foreach: {data: get_valid_children}">
              <li>
                <div class="row form-group">
                  <label class="control-label col-xs-12 col-sm-2 no-padding-right" data-bind="attr: {for: 'child-first-'+$index()}">
                    Child <span data-bind="text: $index() + 1"></span>:
                  </label>
                  <div class="col-xs-12 col-sm-6">
                    <input type="text" data-bind="value: first, attr: {id: 'child-first-'+$index()}" placeholder="First Name" />
                    <input type="text" data-bind="value: last" placeholder="Last Name" />
                  </div>
                </div>

		<div class="row form-group">
                  <label class="control-label col-xs-12 col-sm-2 no-padding-right" data-bind="attr: {for: 'child-ssn-'+$index()}">
                    SSN
                  </label>
                  <div class="col-xs-12 col-sm-9">
                    <input type="text" class="col-xs-12 col-sm-5 input-mask-ssn" data-bind="value: ssn, 
										attr: {id: 'child-ssn-'+$index()}
										" />
                  </div>
		  
                </div>

		<div class="form-group">
		  <label class="control-label col-xs-12 col-sm-2 no-padding-right" data-bind="attr: {for: 'child-gender-'+$index()}">
                    Gender
                  </label>

		  <div class="col-xs-12 col-sm-10">
		    <label class="blue">
		      <input value="1" type="radio" class="inline ace" data-bind="value: gender, 
										  attr: {id: 'child-gender-'+$index()}" />
		      <span class="lbl"> Male &nbsp;&nbsp;&nbsp; </span>
		    </label>
		    
		    <label class="blue">
		      <input value="2" type="radio" class="inline ace" data-bind="value: gender, 
										  attr: {id: 'child-gender-'+$index()}" />
		      <span class="lbl"> Female</span>
		    </label>
		  </div>
		</div>
		
		
              </li>
             </ul>
	     	     
	     <div class="space-2"></div>
	    
	     <span class="text-primary bigger-110 ">
	       <i class="icon-info-sign"></i>
	       Employee will be the Owner of any child policy(ies)
	     </span>
	    
	   </div><!-- .ChildrenInfoBlock -->
	  
	</div><!-- step3 -->
      </form>
      
      <!-- ------------------------------ STEP 6 ------------------------------ -->

      <form class="form-horizontal" id="step6-form">
	
	<div class="step-pane" id="step6">
	  <div id="eeBeneficiaryBlock" data-bind="visible: did_select_employee_coverage">
	    <h3 class="lighter block green">Employee Beneficiary</h3>

	    <!-- **Zach: the visibility of this div isn't actully on whether to include spouse, but whether a valid spouse exists from Step 1 even if no-coverage selected -->
	    <div class="form-group" id="eeHasSpouseAsBeneficiaryOption" data-bind="visible: should_include_spouse_in_table">
	      <label class="control-label col-xs-12 col-sm-5 no-padding-right">Beneficiary of Employee Coverage is </label>

	      <div class="col-xs-12 col-sm-7">
		<label class="blue">
		  <input name="eeBeneficiary" id="eeBeneSpouse" value="spouse" type="radio" class="inline ace" data-bind="checked: employee_beneficiary" />
		  <span class="lbl"> Spouse &nbsp;&nbsp;&nbsp; </span>
		</label>
		
		<label class="blue">
		  <input name="eeBeneficiary" id="eeBeneOther" value="other" type="radio" class="inline ace"  data-bind="checked: employee_beneficiary" />
		  <span class="lbl"> Someone else</span>
		</label>
	      </div>

	      <div class="col-sm-offset-5 text-primary bigger-110 col-xs-12" id="spouseBeneficiaryLine" data-bind="visible: employee_beneficiary() == 'spouse'">
		<span data-bind="text: spouse().first"></span> <span data-bind="text: spouse().last"></span>, spouse, <span data-bind="text: spouse().birthdate"></span>, ss=
		    <span data-bind="text: spouse().ssn"></span>	    
              </div>
	    </div>

	    <!-- **Zach: likewise, didn't know how syntax to say above radio selection is "Someone else" -->
	    <div id="eeBeneficiaryOther" data-bind="visible: !should_include_spouse_in_table() || employee_beneficiary() == 'other'">
	      <div class="row form-group">
		<div class="col-sm-6">
		  <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eeBeneOtherName">
                    Beneficiary 
		  </label>
		  <div class="col-xs-12 col-sm-9">
                    <input type="text" id="eeBeneOtherName" placeholder="Full Name" data-bind="value: employee_beneficiary_name" />
		  </div>
		</div>

		
		<div class="col-sm-6">
		  <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eeBeneOtherRelation">
		    Relationship
		  </label>
		  <div class="col-xs-12 col-sm-9">
                    <input type="text" id="eeBeneOtherRelation" placeholder="Relationship" data-bind="value: employee_beneficiary_relationship" />
		  </div>
		</div>
	      </div>
	      
	      <div class="row form-group">
		<div class="col-sm-6">
		  <label class="control-label col-xs-2 col-sm-3 no-padding-right" for="eeBeneOtherSSN">
		    SSN
		  </label>
		  <div class="col-xs-10 col-sm-9">
		    <input type="text" id="eeBeneOtherSSN" class="col-xs-10 col-sm-9 input-mask-ssn" data-bind="value: employee_beneficiary_ssn" />
		  </div>
		</div>

		<div class="col-sm-6">
		  <label class="control-label col-xs-2 col-sm-3 no-padding-right" for="eeBeneOtherDOB">
		    DOB
		  </label>
		  <div class="col-xs-10 col-sm-9">
                    <input class="col-xs-10 col-sm-9 input-mask-date" name="eeBeneOtherDOB" data-bind="value: employee_beneficiary_dob"
			   type="text" id="eeBeneOtherDOB" placeholder="DD/MM/YYYY" />
		  </div>	      
		</div>
	      </div>
	    </div><!-- /eeBeneficiaryOther -->
	  </div><!-- /eeBeneficiaryBlock -->

	  <!-- **Zach: the visibility of this div should depend on whether spouse indeed elected coverage from Step 1  -->
	  <div id="spBeneficiaryBlock" data-bind="visible: did_select_spouse_coverage">
	    <h3 class="lighter block green">Spouse Beneficiary</h3>
	    <div class="form-group">
	      <label class="control-label col-xs-12 col-sm-5 no-padding-right">Beneficiary of Spouse Coverage is </label>

	      <div class="col-xs-12 col-sm-7">
		<label class="blue">
		  <input name="spBeneficiary" id="spBeneSpouse" value="employee" type="radio" class="inline ace" checked="" data-bind="checked: spouse_beneficiary"/>
		  <span class="lbl"> Employee &nbsp;&nbsp;&nbsp; </span>
		</label>
		
		<label class="blue">
		  <input name="spBeneficiary" id="spBeneOther" value="other" type="radio" class="inline ace" data-bind="checked: spouse_beneficiary" />
		  <span class="lbl"> Someone else</span>
		</label>
	      </div>

	      <div class="col-sm-offset-5 text-primary bigger-110 col-xs-12" id="spouseBeneficiaryLine" data-bind="visible: spouse_beneficiary() == 'employee'">
		<span data-bind="text: employee().first"></span> <span data-bind="text: employee().last"></span>, spouse, <span data-bind="text: employee().birthdate"></span>, ss=
		<!-- **Zach: same SSN display need as above, but for employee -->
	      	<span data-bind="text: employee().ssn"></span>	    
              </div>
	    </div>
	    
	    <div id="spBeneficiaryOther" data-bind="visible: did_select_spouse_coverage && spouse_beneficiary() == 'other'">
	      <div class="row form-group">
		<div class="col-sm-6">
		  <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="spBeneOtherName">
                    Beneficiary 
		  </label>
		  <div class="col-xs-12 col-sm-9">
                    <input type="text" id="spBeneOtherName" placeholder="Full Name" data-bind="value: spouse_beneficiary_name" />
		  </div>
		</div>

		
		<div class="col-sm-6">
		  <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="spBeneOtherRelation">
		    Relationship
		  </label>
		  <div class="col-xs-12 col-sm-9">
                    <input type="text" id="spBeneOtherRelation" placeholder="Relationship" data-bind="value: spouse_beneficiary_relationship" />
		  </div>
		</div>
	      </div>
	      
	      <div class="row form-group">
		<div class="col-sm-6">
		  <label class="control-label col-xs-2 col-sm-3 no-padding-right" for="spBeneOtherSSN">
		    SSN
		  </label>
		  <div class="col-xs-10 col-sm-9">
		    <input type="text" id="spBeneOtherSSN" class="col-xs-10 col-sm-9 input-mask-ssn" data-bind="value: spouse_beneficiary_ssn" />
		  </div>
		</div>

		<div class="col-sm-6">
		  <label class="control-label col-xs-2 col-sm-3 no-padding-right" for="spBeneOtherDOB">
		    DOB
		  </label>
		  <div class="col-xs-10 col-sm-9">
                    <input class="col-xs-10 col-sm-9 input-mask-date" name="spBeneOtherDOB" data-bind="value: spouse_beneficiary_dob"
			   type="text" id="spBeneOtherDOB" placeholder="DD/MM/YYYY" />
		  </div>	      
		</div>
	      </div>
	    </div><!-- /spBeneficiaryOther -->
	  </div><!-- /spBeneficiaryBlock -->


	  <!-- **Zach: the visibility of div is whether any valid child coverage was elected from step 1  -->
	  <div id="onlyChildCoverageBeneficiaryStmt" data-bind="visible: did_select_children_coverage">
	    <h3 class="lighter block green">Child Beneficiary</h3>
	    <span class="text-primary bigger-110 center">
	      <i class="icon-info-sign"></i>
	      Beneficiary of Child coverage will be designated as the Employee unless otherwise noted via separate written communication with 5Star's Administrative office.
	    </span>
	  </div>
	  
	  
	</div>
      </form>

      <!-- ------------------------------ STEP 5 ------------------------------ -->

      <div class="step-pane" id="step5">
	<h3 class="green">Confirmation</h3>

	  Please review your Summary of Coverage below, and click "I agree..." below to be taken to application for signing.
	  <div class="space-10"></div>

	  <div id="CoverageSummary">
	    <h4 class="green center">Summary of Benefits</h4>
	    
	  <table class="center confirm-table table table-striped table-hover" data-bind="with: selected_plan">
              <thead>
                <tr><th class="center">Name</th> <th class="center">Age</th> <th class="center">Coverage</th> <th class="center">Weekly Premium</th><th class="center">Effective Monthly</th></tr>
              </thead>
              <tbody>
                <!--ko foreach: get_all_people -->
                <tr>
                    <td data-bind="text: name"></td>
                    <td data-bind="text:get_age"></td>
                    <td data-bind="text:display_selected_coverage"></td>
                    <td data-bind="text:display_weekly_premium"></td>
                    <td data-bind="text:display_monthly_premium"></td>
                    
                </tr>
                <!--/ko-->
                
		<tr class="success">
		  <td></td><td></td><td><span class="text-primary bigger-110">Total</span></td>
                  <td data-bind="text: formatted_total_weekly_premium()"></td>
                  <td><span class="text-primary bigger-110" data-bind="text: formatted_monthly_premium()"></span></td>
                </tr>
              </tbody>
          </table>
	    
	    <div class="space-10"></div>
	    
	    <div id="inPersonSignerToken" data-bind="visible: is_in_person_application() === false">
	      <h4 class="green">Employee Identification</h4>
	  
	      <div class="row form-group">
		<label class="control-label col-xs-12 col-sm-12">
                  Please enter either a valid Driver's License number or Employee Number
		</label>
		<div class="col-xs-12 col-sm-4">
                  <input type="text" id="ConfirmationToken" data-bind="value: identityToken"/>
		</div>
		
		<div class="col-xs-12 col-sm-8">
		  <label class="blue">
		    <input name="confirmTokenType" value="1" type="radio" class="inline ace" id="confToken-eenum" checked="" data-bind="checked: identityType"/>
		    <span class="lbl"> Employee # &nbsp;&nbsp;&nbsp;</span>
		  </label>
		  
		  <label class="blue">
		    <input name="confirmTokenType" value="2" type="radio" class="inline ace" id="confToken-dlnum" data-bind="checked: identityType"/>
		    <span class="lbl"> DL #</span>
		  </label>

		  <select id="dlState" name="dlState" class="select1" placeholder="DL# state...">
		    <option value="">&nbsp;</option>
		    {% for state in states %}
              <option value="{{state['code']}}">{{state["name"]}}</option>
            {% endfor %}
		  </select>

		</div><!-- /input fields -->
		
	      </div><!-- /.form-group -->		
	    </div><!-- /inPersonSignerToken -->
	    
	  </div><!-- /CoverageSummary -->

	  <div class="space-2"></div>

	  <div class="well">
	    <i class="icon-warning-sign bigger-120 orange"></i>
	    Note:  on the next page, you must answer the <span class="bigger-110 orange">yes/no questions</span> in the <span class="green bigger-120">Statement of Health</span> section on the application for <span class="orange bigger-110">each</span> person applying for insurance in order to affix a signature.
	  </div>

	  <div class="space-2"></div>

	  <div id="disclaimerNotice">
	    <div class="form-group">
	      <label class="control-label col-xs-12 col-sm-12 no-padding-right">
                <input type="checkbox" id="disclaimerNoticeCheck"> I acknowledge the related <a href="#modal-disclaimer" data-toggle="modal">Accelerated Benefit Disclosure</a>
	      </label>
	    </div>
	  </div>
	    
	  
      </div><!-- /Step5 -->
		</div><!-- /Wizard step container -->

		<hr />
		<div class="row-fluid wizard-actions">
		  <button class="btn btn-prev">
		    <i class="icon-arrow-left"></i>
		    Prev
		  </button>
		  
		  <button class="btn btn-success btn-next" data-last="I agree to this coverage and am ready to sign ">
		    Next
		    <i class="icon-arrow-right icon-on-right"></i>
		  </button>
		</div><!-- /Wizard actions -->
	      </div><!-- /widget-main -->
	    </div><!-- /widget-body -->
	  </div><!-- /widget-box -->
	</div>
      </div>

      <!-- ------------------------------ Modal Disclaimer ------------------------------ -->

      <div id="modal-disclaimer" class="modal">
	<div class="modal-dialog">
	  <div class="modal-content">
	    <div class="modal-header">
	      <h3 class="lighter block blue center">Accelerated Benefit for a Terminal Condition<br>Disclosure Facts</h3>
	    </div>

	    <div class="modal-body">
	      <!-- **Zach: don't send time researching, but do you know if a decent way to pull content from anther webpage into a modal popup?
		The content in this case is in an online pdf, such as
		http://5starima.com/applications/accelerated_benefit_disclosure/FPP-TI%20ABDisclosure%20Form%20R508%20(Generic).pdf
		In fact, there are 5 different links depending on the state of enrollment :-(
		-->
	      I'd like to display a PDF from the web in this modal?  (same as opening a new window, but keep it in the modal)
	    
	    </div>

	    <div class="modal-footer">
	      <button class="btn btn-info btn-sm center" data-dismiss="modal">OK</button>
	    </div>
	  </div>									
	</div>									
      </div>									
 
      <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.page-content -->

        
<div id="health_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>You cannot get insurance if you answer yes.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Exit Site</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
    
{% endblock %}

      <!-- basic scripts -->

      {% block js_footer %}
      {{ super() }}

      <!-- page-specific footer scripts -->
    
      <!--[if !IE]> 

	  <script type="text/javascript">
	    window.jQuery || document.write("<script src='static/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
	    </script>
	    <![endif]-->
      
      <!--[if IE]>
	  <script type="text/javascript">
	    window.jQuery || document.write("<script src='static/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
	    </script>
	    <![endif]-->

    <script src="{{ url_for('static', filename='js/jquery.mobile.custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/typeahead-bs2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/knockout-3.1.0.debug.js') }}"></script>
      


    <!-- page specific plugin scripts -->

    <script src="{{ url_for('static', filename='js/fuelux/fuelux.wizard.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/additional-methods.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"></script>

    <!-- <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
	 -->
   
    <!-- ace scripts -->

    <script src="{{ url_for('static', filename='js/ace-elements.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ace.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ace-extra.min.js') }}"></script>
    
    <!-- inline scripts related to this page -->
    <script src="{{url_for('static', filename='js/handlebars-v1.3.0.js')}}"></script>
    <script src="{{url_for('static', filename='js/5Star/enrollment.js')}}"></script>
    <script type="text/javascript">
      jQuery(function($) {
    
        // rate calculations, recommendations code
        init_rate_form({{wizard_data|tojson|safe}});
        
        init_validation();
	
	})
      </script>
      
      {% endblock %}

