{% extends "base.html" %}
{% block title %} - Demo Page{% endblock %}

{% block content %}

  <div class="jumbotron">
    <h1>Take-An-App Demo</h1>
    <p class="lead">Scenarios below are preliminary demos of 5Star Applications and Docusign integrated through a web interface.  Each demo link below has it's own scenario to illustrate a specific use-case.  Since this is for demo purposes, only a sampling of user data is actually entered into the live application (the end user workflow will have an intermediate data-entry step), but the applicant and agent end-user signing experience is consistent with the production system.</p>
  </div>
  
  <div class="row marketing">
    <h4>In-Person, identity with DL or Employee #</h4>
    <p>Enroll directly online; scenario is as if sitting with an agent in person and starting from blank slate.  Employee will need to have DL# or an "Employee #".  Agent doesn't sign until later.</p>
    <p><a class="btn btn-lg btn-success" href="{{directSignURL}}" role="button">Enroll in person...</a></p>
    
    <h4>Remote - Agent initiates email</h4>
    <p>Enroll by sending email invitation to employee - since email validated, employee's email access is itself validation and thus will not need a DL or Employee #.  Agent doesn't sign until later.</p>
    <p><a class="btn btn-lg btn-info" href="{{ url_for('sendApp')}}" role="button">Initiate email enrollment...</a></p>


    
    <!-- this section makes the button into a modal trigger for dialog popup...
    <a href="#emailModal" role="button" class="btn btn-lg btn-info" data-toggle="modal">Initiate email enrollment...l</a></p>
 
    <div id="emailModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel">Email Request for Signature</h3>
      </div>
      <div class="modal-body">
	<p>This is where the success/decline should happen...</p>
      </div>
      <div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

    -->





    
    <h4>Access Agent "Inbox"</h4>
    <p>Once a couple apps are submitted, go to this agent's inbox to view those apps awaiting the agent's signature and experience agent's signing process.</p>
    <p><a class="btn btn-lg btn-warning" href="{{ url_for('inbox') }}" role="button">Access agent inbox...</a></p>
  </div>
  
{% endblock %}
