{% extends "base.html" %}
{% block title %} - Demo Page{% endblock %}

{% block content %}

  <div class="jumbotron">
    <h1>Take-An-App Demo</h1>
    <p class="lead">Demo scenarios below are just prototype / proof-of-concept demos of integrating 5Star Applications and Docusign through a web interface.  Each demo link has it's own scenario to illustrate a specific use-case.  Since this is for demo purposes, only a sampling of user data is actually entered into the live application, but the signing end-user experience should be complete.</p>
  </div>
  
  <div class="row marketing">
    <h4>In-Person, identity with DL or Employee #</h4>
    <p>Enroll directly online; scenario is as if sitting with an agent in person and starting from blank slate.  Employee will need to have DL# or an "Employee #".  Agent doesn't sign until later.</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Enroll in person...</a></p>
    
    <h4>Remote - Agent initiates email</h4>
    <p>Enroll by sending email invitation to employee - since email validated, employee's email access is itself validation and thus will not need a DL or Employee #.  Agent doesn't sign until later.</p>
    <p><a class="btn btn-lg btn-info" href="#" role="button">Initiate email enrollment...</a></p>
    
    <h4>Access Agent "Inbox"</h4>
    <p>Once a couple apps are submitted, go to this agent's inbox to view those apps awaiting the agent's signature and experience agent's signing process.</p>
    <p><a class="btn btn-lg btn-warning" href="./agent-console.html#" role="button">Access agent inbox...</a></p>
  </div>
  
{% endblock %}
