{% extends "base.html" %}
{% set active_page = 'nav_enroll' -%}
{% block title %} - Home{% endblock %}

{% set compliance_has_approved_remote_enrollment = False %}

{% block head %}
 {{ super() }}
<!-- page-specific header data -->
    
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
<!-- ace styles -->
<link href="{{ url_for('static', filename='css/ace-fonts.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/ace.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/five_star_ace_overlay.css') }}" rel="stylesheet">

<!-- custom css -->
<link href="{{ url_for('static', filename='css/five_star.css') }}" rel="stylesheet">


{% endblock %}

{% block content %}

{% set compliance_has_approved_remote_enrollment = False %}

<div class="row">
  <div class="col-xs-12">
    <h3>Launch an Enrollment</h3>
    <p>Enter the information below for the case setup, the enrollee data, and proceed with enrollment interview.</p>

    <form class="enrollment-form form-horizontal" action="{{ url_for('in_person_enrollment') }}" method="POST">
      <div class="clearfix"></div>
      <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="enrollmentState">Product to enroll</label>
        <div class="col-xs-12 col-sm-9">
          {{ form.productID() }}
        </div>
      </div>

      <div class="space-2"></div>

      <div class="form-group">
	    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="enrollmentState">Location of this enrollment</label>
	    <div class="col-xs-12 col-sm-9">
	    {{ form.enrollmentState() }}
	    </div>
      </div>

      <div class="space-2"></div>
	
      <div class="form-group">
	<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="companyName">Company Name</label>
	<div class="col-xs-12 col-sm-9">
	  {{ form.companyName(placeholder='Company') }}
	</div>
      </div>
      <div class="space-2"></div>
	
      <div class="row form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="eeFName">Employee Name</label>        
        <div class="col-xs-12 col-sm-9">
	  {{ form.eeFName(placeholder='First Name') }}
	  {{ form.eeLName(placeholder='Last Name') }}
	</div>
      </div>

      <div class="space-2"></div>

      <div class="row form-group">
	<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="email">Employee Email Address:</label>
	<div class="col-xs-12 col-sm-9">
	    {{ form.email(type="email")}}
	</div>
      </div>

      <div class="space-2"></div>
      
    
    
    <div class="space-2"></div>
    
{% set compliance_has_approved_remote_enrollment = False %}
    {% if compliance_has_approved_remote_enrollment %}
    <div class="row">
      <div class="col-xs-12 col-sm-6">
	<p class="center"><button type="submit" class="btn btn-lg btn-info" id="in-person-enrollment-btn">
	    <i class="icon icon-user align-top bigger-110"></i>Enroll in-person</button></p>
      </div>
      <div class="col-xs-12 col-sm-6">
	<p class="center"><button type="button" class="btn btn-lg btn-success" id="email-enrollment-btn">
	    <i class="icon icon-envelope align-top bigger-110"></i>Enroll via email</a></p>
      </div>
    </div>
   {% else %}
    <div class="row">
      <div class="col-xs-12">
	    <p class="center"><button type="submit" class="btn btn-lg btn-info" id="in-person-enrollment-btn">
	    <i class="icon icon-user align-top bigger-110"></i>Proceed to enrollment</button></p>
      </div>
    </div>
    {% endif %}
    
</form>

  </div><!-- /.col-xs12 -->
</div><!-- /.row -->



{% endblock %}

<!-- basic scripts -->

{% block js_footer %}
{{ super() }}

<!-- page-specific footer scripts -->

<script src="{{ url_for('static', filename='js/jquery.mobile.custom.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/typeahead-bs2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/knockout-3.1.0.debug.js') }}"></script>
      
<!-- page specific plugin scripts -->

<script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/additional-methods.min.js') }}"></script>
{% if compliance_has_approved_remote_enrollment %}
<script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>
{% endif %}
<script src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"></script>


<script>
    jQuery(function($) {
        // Change enabled states when the product is changed
        var product_states = {{ product_states | tojson | safe }};
        var product_select = $("#productID");
        product_select.on("change", function () {
            var state_select = $("#enrollmentState");
            var current_state = state_select.val();
    
            // Remove current options
            state_select.find("option").remove();
    
            // Add the correct options to the select
            var current_product = $(this).val();
            $.each(product_states[current_product], function () {
                var statecode = this[0];
                var statename = this[1];
                var is_disabled = this[2];
    
                var option = $("<option></option>"
                ).attr("value", statecode
                ).prop("disabled", is_disabled
                ).text(statename
                );
                state_select.append(option);
            });
            
            // If the selected value is no longer enabled, set the value to what it was before
            var is_disabled = state_select.find("option[value="+current_state+"]").prop("disabled");
            if (!is_disabled) {
                state_select.val(current_state);
            }
            
        });
    
        // Validation
        $("form").validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            rules: {
                productID: {required: true},
                enrollmentState: {required: true},
                companyName: {required: true},
                eeLName: {required: true},
                eeFName: {required: true},
                email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                    
            },
            highlight: function(e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },
            
            success: function(e) {
                $(e).closest('.form-group').removeClass('has-error').addClass('has-info');
                $(e).remove();
            }
            //errorPlacement: wizard_error_placement	
        });
    
    });
</script>
    
{% if compliance_has_approved_remote_enrollment %}
<script type="text/javascript">
    jQuery(function($) {
  
        
        
        var email_btn = $("#email-enrollment-btn");
        email_btn.on("click", function() {
            email_btn.prop('disabled', true);
            $.ajax("{{url_for('email_enrollment')}}", {
                data: $(".enrollment-form").serialize(),
                error: function() {
                    bootbox.dialog({
                        message: "There was a problem in sending the email.  Please check the email address, or contact the Enrollment System administrator if you have further problems.",
                        buttons: {
                            "success": {
                                "label": "OK",
                                "className": "btn-sm btn-primary"
                            }
                        }
                    });
    
                    <!-- alert("There was a problem sending the email."); -->
                    email_btn.prop('disabled', false);
                },
                success: function() {
                    <!-- alert("The enrollment email has been sent to '"+$('#email').val()+"'"); -->
                    bootbox.dialog({
                        message: $('#eeFName').val() + " " + $('#eeLName').val() + " (" + $('#email').val() + ") will receive a link to the application via email.  The signed application will queue in your agent applications inbox requiring your signature prior to processing.",
                        buttons: {
                            "success": {
                                "label": "OK",
                                "className": "btn-sm btn-primary"
                            }
                        }
                    });
		    
                    email_btn.prop('disabled', false);
                    $('#email').val("")
                    $('#eeFName').val("")
                    $('#eeLName').val("")
                        },
                        // expected return data type
                        dataType: "json",
                        method: "POST"
                    });
                });
  })
</script>
{% endif %}

{% endblock %}
